.txModule
  position absolute
  top 0
  left 3px
  right 3px
  height 30px
  z-index 20
  font-family OpenSans
  font-size 13px
  font-weight 400
  color outerspace08
  transition standard
  border-radius 15px
  background ghostD
  box-shadow cardDrop, 0px 2px 6px thick, 0px -2px 6px thick
  position absolute
  overflow hidden
  transform translateY(0px) translateZ(0px)
  will-change height
  opacity 1
  
  .txModuleMain
    height 324px

  .txModuleTop
    width 100%
    height 30px
    display flex

  .txModuleTopData
    position absolute
    top 0
    left 0
    right 0
    height 30px
    border-radius 15px
    display flex
    align-items center
    justify-content space-between
    text-transform uppercase
    letter-spacing 1px
    font-weight 400
    z-index 10
    transition standard

    .transactionDataLabel
      display flex
      justify-content center
      align-items center
      z-index 10
      transition standard
      position absolute 
      top 0
      left 0
      right 0
      bottom 0

    .transactionDataNotice
      width 30px
      display flex
      justify-content center
      align-items center
      z-index 10
      transition standard
      color outerspace08

    .transactionDataIndicator
      height 30px
      width 30px
      position absolute 
      top 0
      right 0px
      display flex
      justify-content center
      align-items center
      z-index 20
      transition standard
      transform translate(25px, -70px)
      
      svg
        position relative
        top 0px
        left 0px

  .txModuleTopDataExpanded
    transform translate(12px, 8px)
    right 25px
    .transactionDataIndicator
      transform translateX(0px)

  .txModuleBody
    position absolute
    color outerspace08
    top 30px
    left 0
    right 0
    bottom 0
    display flex
    padding 16px 16px
    user-select all
    overflow hidden
    z-index 90

    .txModuleDataBodyCopied
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      display flex
      justify-content center
      align-items center
      font-size 16px
      letter-spacing 0px

      svg
        margin -3px 0px 0px 10px

    .transactionDataBodyInner
      position relative
      max-width 100%
      width 100%
      height 100%
      font-size 15px
      text-transform none
      transition standardSlow
      overflow-wrap break-word
      word-wrap break-word
      font-family FiraCode, monospace
      overflow-x hidden
      overlflow-y scroll

.decodedDataContract
  margin-top 16px
  padding 48px 0px 0px 0px
  position relative
  border-radius 4px
  border 1px solid thick
  
.dataUnverified
  position absolute
  color bad
  top 16px
  right 16px
  font-size 11px
  font-weight 400
  font-family OpenSans, sans-serif
  text-transform uppercase

.dataSource
  position absolute
  top 16px
  left 16px
  font-size 11px
  font-weight 400
  font-family OpenSans, sans-serif
  text-transform uppercase

.decodedDataContractTarget
  position relative
  border-top 1px solid thick
  height 70px
  padding 0px
  box-sizing border-box
  display flex
  flex-direction column
  align-items center
  justify-content center

  .decodedDataSync
    position absolute
    svg 
      transform rotate(90deg)

  .decodedDataSyncLeft
    left 14px
    top 28px
    width 8px
    overflow hidden
    transform rotate(-10deg)
    svg 
      transform rotate(90deg) scaleX(-1)

  .decodedDataSyncRight
    right 14px
    top 28px
    width 8px
    overflow hidden
    transform rotate(190deg)
    svg 
      transform rotate(90deg)

  .decodedDataContractName
    text-align center
    font-size 17px
    font-family OpenSans, sans-serif
    font-weight 300

  .decodedDataContractMethod
    text-align center
    font-family OpenSans, sans-serif
    font-weight bold
    font-size 16px

.decodedDataContractArgHeader
  font-size 12px
  font-family Open Sans, sans-serif
  text-transform uppercase
  letter-spacing 2px
  font-weight 400
  text-align center
  padding 5px
  color outerspace08
  border-top 1px solid thick
  background highlight

.decodedDataContractArg
  position relative
  text-align center
  padding 10px 10px 25px 10px
  border-top 1px solid thick
  font-size 17px

.decodedDataSubtitle
  position absolute
  left 0
  bottom 0
  right 0
  height 30px
  font-size 12px
  font-weight 400
  font-family OpenSans, sans-serif
  // background blue
  display flex
  align-items center
  justify-content center

.overflowBox
  width 100%
  height auto
  overflow-x scroll
  overflow-y hidden
  word-wrap normal
  margin-bottom -15px

.rawDataHeader
  font-family OpenSans, sans-serif
  text-align center
  font-size 16px
  margin-top 20px
  margin-bottom 5px
  
