.confirmationDialog
  font-family 'MainFont'
  font-weight 300

.confirmButtonOptions
  display flex
  justify-content center
  align-items center

  .confirmButton
    margin 8px
    padding 0px 16px
    height 38px
    font-weight 300
    background var(--ghostB)
    border-radius 16px
    display flex
    justify-content center
    align-items center
    border 3px solid var(--ghostZ)
    cursor pointer
    *
      pointer-events none

  .confirmButton:hover
    background var(--ghostC)

.confirmText
  font-size 20px
  padding 0px 42px 42px 42px
  font-weight 300
