.moduleItem:first-child
  border-top-left-radius 17px
  border-top-right-radius 17px

.moduleItem:last-child
  border-bottom-left-radius 17px
  border-bottom-right-radius 17px

.moduleItem:first-child:last-child
  border-radius 17px

.moduleItem
  position relative
  justify-content space-between
  padding 8px
  font-size 12px
  font-weight 300
  transform translateZ(0)
  z-index 2000
  background var(--ghostA)
  font-weight 400
  margin 3px
  border-radius 8px
  display flex
  justify-content space-between
  align-items center
  padding 16px
  text-transform uppercase

  .moduleItemSignerType
    display flex
    justify-content center
    align-items center
    font-weight 300
    font-size 16px
    text-transform none

  .moduleItemIcon
    margin-right 12px