  @keyframes click
    0% 
      transform scale(1.4)
      opacity 0
    100%
      transform scale(1)
      opacity 1

.approveTokenSpend
  position absolute
  top 0px
  left 0px
  right 0px
  bottom 110px
  font-family 'MainFont'

  .approveTokenSpendConfirm
    position absolute
    top 0px
    left 0px
    right 0px
    bottom 0px
    display flex
    justify-content center
    align-items center
    z-index 10
    animation click 400ms
    font-family 'MainFont'
    font-size 16px
    color var(--outerspace)
    text-transform uppercase 
    font-weight 300
    letter-spacing 1px

    div
      margin 3px

    .approveTokenSpendConfirmNumberText
      color var(--moon)  

  .approveTokenSpendEdit
    position absolute
    top 0px
    left 0px
    right 0px
    bottom 0px
    display flex
    justify-content center
    align-items center
    flex-direction column

    .approveTokenSpendEditTitle
      font-weight 300
      font-size 12px
      margin-top 4px
      margin-left 2px
      text-transform uppercase
      letter-spacing 2px
      color var(--good)
      margin-bottom 10px

    .approveTokenSpendPresets
      display flex
      justify-content center
      align-items center
      margin-right 10px

      .approveTokenSpendPresetButton
        display flex
        justify-content center
        align-items center
        height 25px
        border-radius 12px
        background var(--ghostD)
        margin 12px 0px 0px 10px
        cursor pointer
        padding 0px 15px 1px 16px
        font-size 12px
        text-transform uppercase
        font-weight 300
        box-sizing border-box
        letter-spacing 1px
        *
          pointer-events none

        .approveTokenSpendPresetButtonTilda
          font-size 15px
          position relative
          right 0px
          top 1px
          font-family 'FiraCode'
          display none

        .approveTokenSpendPresetButtonInfinity
          position relative
          top 1px
          right 0px

      .approveTokenSpendPresetButtonSelected
        color var(--good)

  .approveTokenSpendDescription
    position absolute
    top 0px
    left 0px
    right 0px
    bottom 0px
    display flex
    justify-content center
    align-items center
    flex-direction column

    .approveTokenSpendSpender
      font-size 12px
      font-weight 400
      text-transform uppercase
      line-height 25px
      letter-spacing 1px
      margin 0px 2px 2px 2px

    .approveTokenSpendSpenderAddress
      font-size 20px
      font-family 'FiraCode'
      display flex
      justify-content center
      align-items center
      height 28px

      svg
        padding 5px

      .approveTokenSpendSpenderAddressFull
        font-size 13px
        display none
        cursor pointer

    .approveTokenSpendSpenderAddress:hover
      .approveTokenSpendSpenderAddressLarge
        display none
      .approveTokenSpendSpenderAddressFull
        display block

      
    .approveTokenSpendSub
      font-size 12px
      font-weight 300
      text-transform uppercase
      letter-spacing 1px
      margin 10px

    .approveTokenSpendToken
      font-size 18px
      height 30px
      display flex
      justify-content center
      align-items center
      flex-direction column
      background var(--ghostB)
      width calc(100%)
      padding 0px 20px 2px 22px
      box-sizing border-box
      // border-radius 15px
      margin-top 4px
      // color var(--moon)

      .approveTokenSpendTokenSymbol
        text-transform uppercase
        font-weight 300
        letter-spacing 3px
        display block

      .approveTokenSpendTokenContract
        font-family 'FiraCode'
        position relative
        top 2px
        font-size 13px
        cursor pointer
        display none

    .approveTokenSpendToken:hover
      .approveTokenSpendTokenSymbol
        display none

      .approveTokenSpendTokenContract
        display block
        

    .approveTokenSpendTokenName
      font-weight 300
      font-size 12px
      margin-top 4px
      margin-left 1px
      text-transform uppercase
      letter-spacing 2px
      color var(--good)

  .approveTokenSpendAmount
    background var(--ghostB)
    height 40px
    width calc(100% - 10px)
    border-radius 20px
    padding-top 2px
    padding-right 100px
    padding-left 10px
    box-sizing border-box
    position relative
    overflow hidden
    font-weight 400

    input
      background transparent
      outline 0
      border 0
      text-align center
      width 100%
      height 100%
      color var(--outerspace)
      font-size 20px
      font-family 'FiraCode'

    .approveTokenSpendAmountNoInput
      background transparent
      outline 0
      border 0
      width 100%
      height 100%
      color var(--outerspace)
      font-size 20px
      font-family 'FiraCode'
      display flex
      justify-content center
      align-items center
      cursor pointer
      *
        pointer-events none

      .approveTokenSpendAmountNoInputSymbol
        font-family 'MainFont'
        text-transform uppercase
        font-size 14px
        line-height 8px
        position relative
        top -1px
        left 4px
        letter-spacing 1px
        color var(--moon)

    .approveTokenSpendSymbol
      position absolute
      top 0
      right 0
      bottom 0
      width 95px
      background var(--ghostD)
      display flex
      justify-content center
      align-items center
      border-radius 6px
      font-size 15px
      font-weight 300
      box-sizing border-box
      text-transform uppercase

  .approveTokenSpendAmountExit
    transition var(--standardFast)
    transform scale(0.9)
    color var(--good)
