.slider
  position absolute
  top 0
  right 0
  bottom 0
  width 424px
  // left 0
  transform translateX(400px)
  will-change transform
  transition standard

@import './App/Dock/style'
@import './App/Components/'
