.panel
  #panelPush
    right 0

#panelPush
  position absolute
  right -365px
  bottom 0
  top 0px
  width 360px
  transition var(--standard)

#panel
  position absolute
  top 0
  right 0
  bottom 0
  left 0px
  -webkit-app-region no-drag
  display flex
  flex-direction column
  justify-content center
  align-items center
  transition var(--standardFast)
  transform translate3d(0px, 0px, 0px)

.panelSwoop
  position absolute
  display flex
  align-items flex-end
  top -1930px
  right -50px
  left -50px
  height 1500px
  opacity 0.3
  color var(--spacewhite)
  // z-index 99999999999999
  pointer-events none

.panelSwoopBottom
  position absolute
  display flex
  align-items flex-end
  bottom 750px
  right -50px
  left -50px
  height 1200px
  opacity 0.2
  color var(--spacewhite)
  // z-index 99999999999999
  pointer-events none

.panelRequest
  width 100%
  padding 10px
  display flex
  justify-content center
  align-items center
  flex-direction column

  .panelRequestBlock
    padding 10px 15px
    margin 15px
    border-radius 3px
    background var(--spacewhite)
    font-size 14px
    font-weight 300

.panelRequestGrant
  margin-top 40px
  padding-top 0px
  width 100%

.panelRequestGrantOption
  margin 15px
  padding 0px
  height 40px
  border-radius 20px
  display flex
  justify-content center
  align-items center
  background rgba(0, 0, 0, 0.08)
  -webkit-app-region no-drag

  &:hover
    background rgba(0, 0, 0, 0.78)

#panelTop
  position absolute
  top 0
  right 0
  left 0
  height 0

.panelBot
  padding 10px 10px 60px 10px
  display flex
  justify-content center
  margin-left 5px

  svg
    color rgba(0, 0, 50, 0.1)

.panelMenu
  position absolute
  left 24px
  right 24px
  // width 100px
  top 10px
  height 63px
  // padding-top 20px
  box-sizing border-box
  display flex
  justify-content space-between
  -webkit-app-region no-drag
  z-index 1000000000
  opacity 1
  transform translate3d(0, 0, 0)

  .panelMenuItem
    height 38px
    width 48px
    top 9px
    border-radius 16px
    display flex
    justify-content center
    align-items center
    -webkit-app-region no-drag
    transition none
    pointer-events auto
    transform translate3d(0, 0, 0)
    background var(--ghostB)
    position absolute
    cursor pointer
    border 3px solid var(--ghostZ)
    // box-shadow 3px 3px 9px var(--ghostZ), 0px -3px 9px var(--ghostB)
    // background blue

    *
      pointer-events none

  .panelMenuItem:hover
    background var(--ghostC)
    // box-shadow 3px 7px 9px var(--ghostZ), 0px -3px 9px var(--ghostB)

  .panelMenuItem:active
    background var(--ghostC)
    // box-shadow 0px 2px 9px var(--ghostZ), 0px 0px 9px var(--ghostB)

  .panelMenuItemOpen
    left 0px

  .panelMenuItemSend
    right 0px

  .panelTitle
    position absolute
    left 60px
    right 170px
    top 24px
    bottom 10px
    display flex
    align-items center
    justify-content center
    font-family 'MainFont'
    font-size 18px
    font-weight 300
    display none

  .mainWindowMarker
    position absolute
    left 9px
    top 10px
    height 3px
    background var(--ghostZ)
    border-radius 2px
    z-index 20000
    cursor pointer
    width 50px
    // background blue

  .panelMenuMarker
    position absolute
    // left 8px
    right 9px
    top 10px
    height 3px
    background var(--ghostZ)
    border-radius 2px
    z-index 20000
    cursor pointer
    width 165px
    // background blue

  .panelMenuMark
    position relative
    width 36px
    height 3px
    background var(--outerspace)
    transform translateX(14px)
    border-radius 2px
    transition var(--standard)
    margin-left -1px
    z-index 20002
  .panelMenuMarkGood
    background var(--good)
    
  .panelDetail
    display flex
    align-items center
    margin-left 0%
    transition var(--standardSlow)

  .panelDetailText
    transition var(--standard)
    text-transform uppercase
    font-size 10px
    letter-spacing 1px
    font-weight 300
    color var(--outerspace08)
    display flex
    justify-content center
    align-items center
    font-weight 400
    padding-right 8px
    margin-right 8px
    
  .panelMenuData
    position absolute
    top 23px
    right 75px
    left 176px
    transition var(--standard)
    letter-spacing 0px
    text-transform uppercase
    color var(--outerspace08)
    display flex
    justify-content center
    align-items center
    font-weight 300
    font-size 11px
    height 25px

    .panelMenuDataDivide
      height 100%
      width 1px
      background var(--ghostY)

    .panelMenuDataItem
      display flex
      justify-content center
      padding 0px 5px 1px 5px

      .svg
        position relative
        margin-left 4px
        margin-top 4px
        margin-right 3px

      .usd
        position relative
        margin-top 3px
        margin-right 1px

  .panelDetailIndicator
    height 3px
    width 23px
    margin 10px 8px 10px 8px
    border-radius 5px
    display flex
    align-items center
    justify-content center

    .panelDetailIndicatorInner
      height 3px
      width 23px
      border-radius 2px

    .panelDetailIndicatorGood
      background var(--good)

    .panelDetailIndicatorWaiting
      background var(--moon)

    .panelDetailIndicatorBad
      background var(--bad)

    .panelDetailIndicatorPending
      transition var(--standardSlow)
      background var(--pending)

.appMenu
  position absolute
  left 0px
  right 0px
  bottom 0px
  height 48px
  display flex
  justify-content space-between
  align-items center
  -webkit-app-region no-drag
  z-index 100000000000
  opacity 1
  transform translate3d(0, 0, 0)
  transition var(--standardFast)
  background var(--ghostB)
  display none

  .appMenuItem
    cursor pointer
    height 67px
    min-width 40px
    display flex
    align-items center
    border-right 1px solid thin

    .appMenuItemButton
      height 27px
      width 28px
      border-radius 14px
      display flex
      justify-content center
      align-items center
      -webkit-app-region no-drag
      transition var(--standard)
      pointer-events auto
      transform translate3d(0, 0, 0)
      background var(--ghostD)
      position absolute
      box-shadow 0px 4px 6px -1px var(--thin)
      cursor pointer
      padding-top 1px
      margin 10px

      *
        pointer-events none

@import './card.styl'
@import '../Notify/style'
@import '../Badge/style'
@import '../Backdrop/style'
@import '../Account/style'
@import '../AccountSelector/style'
