.requestChainInner
  display flex
  justify-content center
  align-items center
  flex-direction column
  transform translateZ(0px)
  padding 120px 0px 120px 0px
  margin 16px 4px
  border-radius 20px
  width calc(100% - 16px)
  box-sizing border-box
  background var(--ghostA)
  box-shadow 0px 6px 6px var(--ghostY)
  font-family 'MainFont'

.requestChainOrigin
  font-size 22px
  font-weight 400
  width 100%
  text-align center
  transform translateZ(0px)
  direction rtl
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
  margin 20px 0px 5px 0px

.requestChainOrigin18
  font-size 18px

.requestChainOrigin12
  font-size 12px

.requestChainOriginSub
  width 100%
  font-size 12px
  font-weight 400
  text-transform uppercase
  width 100%
  text-align center
  margin 0px 0px 8px 0px
  color var(--good)

.requestChainName
  width calc(100% - 10px)
  margin 0px 0px 20px 0px
  box-sizing border-box
  border-radius 12px
  text-align center
  background var(--ghostA)
  font-weight 400
  font-size 26px
  padding 10px 0px
