.accountViewScroll
  position absolute 
  top 0
  bottom 0
  left 0
  right 0
  padding-top 30px
  padding-bottom 60px
  overflow-y scroll
  overflow-x hidden
  border-radius 26px

.inventoryWrapper
  background var(--ghostZ)
  margin 0px 6px 6px 6px
  padding 0px 3px 1px 3px
  border-radius 20px
  overflow auto

  .inventoryCollection:first-child
    border-top-left-radius 17px
    border-top-right-radius 17px

  .inventoryCollection:last-child
    border-bottom-left-radius 17px
    border-bottom-right-radius 17px

  .inventoryCollection:first-child:last-child
    border-radius 17px

.inventoryCollection:hover
  background var(--ghostB)

.inventoryCollection
  position relative
  border-radius 8px
  z-index 300
  width 100%
  
  .inventoryCollectionTop
    position relative
    display flex
    justify-content space-between
    align-items center
    padding 16px 12px 16px 16px
    font-size 14px
    cursor pointer
    font-weight 500

    *
      pointer-events none

  .inventoryCollectionImage
    width 32px
    height 32px
    border-radius 4px
    background var(--ghostA)

    img
      width 32px
      height 32px
      object-fit cover

  .inventoryCollectionName
    display flex
    justify-content center
    align-items center

  .inventoryCollectionCount
    width 48px
    height 24px
    background var(--ghostB)
    display flex
    justify-content center
    align-items center
    border-radius 12px
    font-size 16px
    margin-bottom -2px
    border 2px solid var(--ghostZ)
    font-weight 500
    font-size 14px
    
.inventoryCollection:last-child
  .inventoryCollectionLine
    border-bottom none

.inventoryNotFound
  font-size 10px
  text-transform uppercase
  color var(--mint)
  font-weight 500
  text-align center

.inventoryPreview
  position absolute
  top 33px
  left 5px
  right 5px
  height 180px
  background var(--ghostA)
  padding 50px
  z-index 3
  display flex
  justify-content center
  align-items center
  flex-direction column
  border-radius 26px
  box-shadow 0px 2px 6px var(--ghostZ)

.inventoryPreviewCollection
  background-repeat no-repeat
  background-size cover
  background-position center
  height 100px 
  width 100px
  z-index 2
  border-radius 56px
  box-shadow 0px 5px 10px var(--ghostY)
  border 6px solid var(--ghostB)


.inventoryPreviewMedia
  z-index 1
  opacity 1
  overflow hidden
  z-index 4

  img
    width 100%
    height 100%
    object-fit contain
    border-radius 26px
    overflow hidden

  img:before
    content attr(alt)
    top 0
    bottom 0
    left 0
    right 0
    width 100%
    height 100%
    overflow: hidden
    background var(--outerspace)
    color var(--ghostZ)
    display flex
    justify-content center
    align-items center
    font-size 11px
    font-weight 400
    letter-spacing -0.5px
    margin-left -0.5px

.moduleExpanded
  .inventoryCollectionItems
    position relative

.inventoryDisplay
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  animation var(--cardShow) 0.3s ease-in-out forwards

  .inventoryCollectionImage
    height 42px
    width 42px
    border-radius 4px
    background var(--ghostA)
    overflow hidden

    img
      height 42px
      width 42px
      object-fit cover

  .inventoryCollectionItems
    position absolute
    top 290px
    bottom 0
    left 0
    right 0
    padding 14px 0px 4px 4px
    display flex
    flex-wrap wrap
    align-content flex-start
    overflow-y scroll
    border-bottom-left-radius 26px
    border-bottom-right-radius 26px

.inventoryCluster
  position absolute
  top 286px
  left -1px
  right -1px
  bottom -12px
  padding-top 32px
  z-index 2
  overflow-y scroll
  overflow-x hidden

.inventoryCollectionItem
  box-sizing border-box
  cursor pointer
  height: 84px;
  width: 84px;
  padding 12px;
  display flex;
  justify-content center;
  align-items center;
  * {
    pointer-events none
  }

  .inventoryCollectionItemImage
    position relative
    height: 100%;
    width: 100%;
    overflow hidden
    pointer-events none
    * {
      pointer-events none
    }

    img
      object-fit cover
      width: 100%
      transition 0.03s linear
      height: 100%
      border-radius 10px

    img:before
      content attr(alt)
      position absolute
      inset 0px
      color var(--outerspace)
      background var(--ghostB)
      display flex
      justify-content center
      align-items center
      font-size 8px
      font-weight 500
      letter-spacing -0.5px
      padding 4px
      text-align center
      border-radius 6px
      word-break break-all
      font-family 'VCR'

.signerInventoryMain
  position absolute
  left 67px
  top 25px
  right 18px
  bottom 26px
  font-size 12px
  display flex
  font-weight 600
  white-space nowrap
  align-items center
  z-index 2
  overflow hidden
  .signerBalanceCurrencyLine
    background var(--ghostY)
    height 1px
    margin 0px 12px 0px 12px
    flex 1
