.requestToken
  display flex
  justify-content center
  align-items center
  flex-direction column
  transform translateZ(0px)
  margin 16px 4px
  border-radius 20px
  width calc(100% - 16px)
  box-sizing border-box
  background var(--ghostA)
  box-shadow 0px 6px 6px var(--ghostY)
  font-family 'MainFont'

  .requestTokenOrigin
    font-size 22px
    font-weight 400
    width 100%
    text-align center
    transform translateZ(0px)
    direction rtl
    text-overflow ellipsis
    white-space nowrap
    overflow hidden
    margin 20px 0px 5px 0px

  .requestTokenOrigin18
    font-size 18px

  .requestTokenOrigin12
    font-size 12px

  .requestTokenOriginSub
    width 100%
    font-size 12px
    font-weight 400
    text-transform uppercase
    width 100%
    text-align center
    margin 0px 0px 8px 0px
    color var(--good)

  .requestTokenInfo
    width calc(100% - 10px)
    margin 0px 0px 20px 0px
    box-sizing border-box
    border-radius 12px
    text-align center
    background var(--ghostA)
    font-weight 400
    font-size 26px
    padding 10px 0px

  .requestTokenSymbol
     font-family 'MainFont'
   
  .requestTokenName
    padding-bottom 8px
    font-size 18px
    color var(--moon)
  
  .requestTokenAddress
    font-size 12px
    font-family 'FiraCode'
