@keyframes arrowSlide
  0%
    opacity 0
    transform translateY(5px)
  20%
    opacity 1
  40%
    opacity 0
    transform translateY(-15px)
  100%
    opacity 0

@keyframes headShake
  0%
    transform translateX(0)
  6.5%
    transform translateX(-6px) rotateY(-9deg)
  18.5%
    transform translateX(5px) rotateY(7deg)
  31.5%
    transform translateX(-3px) rotateY(-5deg)
  43.5%
    transform translateX(2px) rotateY(3deg)
  50%
    transform translateX(0)

.headShake
  animation-duration 1s
  animation-fill-mode both
  animation-timing-function ease-in-out
  animation-name headShake
  transform translateZ(0)

.standardFade-enter
  opacity 0

.standardFade-enter.standardFade-enter-active
  opacity 1
  transition standard

.standardFade-leave
  opacity 1

.standardFade-leave.standardFade-leave-active
  opacity 0
  transition standard

.signer
  position relative
  padding 0px 10px 10px 10px
  z-index 3001
  transition standard
  will-change transform
  transform translate3d(0, 0, 0)
  pointer-events auto
  box-sizing border-box
  z-index 10000000

  .signerContainer:before
    content ''
    position absolute
    top 0
    right 0
    left 0
    bottom 3px
    background lowlight
    z-index 40
    border-radius 16px
    z-index 3003

  .signerContainer
    position relative
    z-index 3002
    border-radius 16px
    box-shadow 0px 0px 4px -1px rgba(6, 54, 52, 0.05), 0px 1px 1px 0px rgba(6, 54, 122, 0.1), 0 0px 100px -50px rgba(6, 24, 52, .4), cardDrop
    background lightShade
    padding-bottom 3px

  .transactionToAddress
    font-size 12px
    font-family FiraCode, monospace
    position relative
    height 30px
    width 100%
    -webkit-app-region no-drag

    .transactionToAddressLarge
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      display flex
      justify-content center
      align-items center
      font-size 20px
      opacity 1
      transition standard

      svg
        color outerspace08
        padding-top 2px
        padding-left 4px
        padding-right 4px

    .transactionToAddressFull
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      display flex
      justify-content center
      align-items center
      font-size 13px
      opacity 0
      transition standard

      input
        position absolute
        top -3px
        left -3px
        display block
        width calc(100% + 6px)
        height calc(100% + 6px)
        border none
        outline none
        overflow hidden
        opacity 0
        cursor default

      svg
        padding-left 5px
        padding-bottom 1px

  .transactionToAddress:hover
      .transactionToAddressLarge
        opacity 0
      .transactionToAddressFull
        opacity  1

  .clickGuard
    position absolute
    top 0
    left 0
    bottom 0
    right 0
    z-index 4000
    border-radius 16px

  .signerTop
    position relative
    opacity 1
    z-index 3030
    border-radius 16px
    box-shadow 0px 2px 3px thin, 0px 19px 9px -14px thin !important
    background highlight
    transition standard
    margin-bottom 8px
    z-index 9999000
    .transactionToAddress
      .transactionToAddressLarge
        svg
          color outerspace

    .signerNav
      position relative
      opacity 1
      display flex
      z-index 3004

      // .signerType:hover
      //   width 166px
      //   margin-left -83px

      .signerType
        position relative
        top 0px
        left 50%
        // display flex
        // justify-content center
        // align-items center
        width 110px
        height 70px
        margin-left -55px
        z-index 3400
        /// background linear-gradient(lowlight, lowlight)
        // background linear-gradient(lowlight, highlighter)
        // box-shadow 0px 2px 3px thin, 0px 19px 9px -14px thin !important
        border-bottom-left-radius 16px
        border-bottom-right-radius 16px
        transition standard
        -webkit-app-region no-drag

        .signerGlow
          position absolute
          top 0px
          left 0px
          right 0px
          bottom 0px
          border-bottom-left-radius 6px
          border-bottom-right-radius 6px
          overflow hidden

          .glow
            position absolute
            top 0px
            left 0px
            height 100px
            width 100px
            margin-left -50px
            margin-top -50px
            border-radius 50px
            background rgba(105, 255, 255, 0.1)
            opacity 0
            filter blur(30px)

          .glowActive
            opacity 1

        .signerImage-Lattice
          left:45% !important
        .signerImage
          position absolute
          top 14px
          left 50%
          right 0
          width 20px
          margin-left -10px
          opacity 1
          transition standardSlow

          img
            height 28px

          svg
            color #fff

          .trezorImage
            height 35px
            margin-top -6px

        .signerText
          position absolute
          top 44px
          left 0
          right 0
          height 20px
          display flex
          flex-direction column
          justify-content center
          align-items center
          text-transform uppercase
          font-size 11px
          line-height 10px
          font-weight 600
          letter-spacing 2px
          color spacewhite
          opacity 1
          transition standardSlow
          margin-left 2px

      // .signerTypeDisconnected:hover
      //   margin-left -58px
      //   width 116px

      .signerTypeDisconnected
        position absolute
        top 50%
        left 50%
        margin-top -40px
        margin-left -55px
        width 110px
        height 74px
        border-radius 16px
        // border-bottom-right-radius 6px
        // border-top-left-radius 0px
        // border-top-right-radius 0px
        display flex
        justify-content center
        align-items center
        overflow hidden
        transition .32s cubic-bezier(0.175, 0.885, 0.32, 1.275) all, 0.1s linear top, 0.1s linear bottom, 0.1s linear box-shadow
        -webkit-app-region no-drag
        background highlighter
        z-index 15
        color outerspace
        transform translateZ(0)
        // box-shadow 0px -5px 5px 5px thick, 0px 2px 2px 1px highlighter

        display flex
        justify-content center
        align-items center
        overflow hidden
        transition .42s cubic-bezier(0.175, 0.885, 0.32, 1.275) all, 0.1s linear top, 0.1s linear bottom, 0.1s linear box-shadow, 0.1s linear opacity
        -webkit-app-region no-drag
        box-shadow 0px 2px 2px thick

        .signerDisconnectedTextOpen, .signerDisconnectedTextClose
          position absolute
          top 50%
          left 0
          right 0
          height 30px
          margin-top -15px
          // margin-top 40px
          display flex
          flex-direction column
          justify-content center
          align-items center
          text-transform uppercase
          font-size 11px
          line-height 10px
          font-weight 600
          letter-spacing 2px
          color outerspaceLight
          transition standardFast
          opacity 0 !important
        //
        // .signerTypeDisconnectedImageBack
        //   color outerspace05 //lowerlight
        //   text-transform uppercase
        //   font-size 11px
        //   line-height 10px
        //   font-weight 300
        //   letter-spacing 1px
        //   filter drop-shadow(0px 4px 1px doubleThick)
        //   position absolute
        //   transition standardFast
        //   opacity 0

        .signerTypeDisconnectedImageFront
          color outerspace08
          text-transform uppercase
          font-size 11px
          line-height 10px
          font-weight 300
          letter-spacing 1px
          position absolute
          margin-top 0px
          transition standardFast
          opacity 1
          filter drop-shadow(0px 1px 1px thick)

        .signerTypeDisconnectedText
          text-transform uppercase
          position absolute
          bottom -40px
          font-size 11px
          font-weight 600
          letter-spacing 1px
          margin-left 1px
          transform translateY(0px)
          color highlightest
          transition standardFast
          text-shadow 0px 1px 1px tripleThick

      // .signerTypeDisconnected:hover
      //   .signerTypeDisconnectedImageFront
      //     color highlighter
      // .signerDisconnectedTextOpen
      //   //margin-top -7px
      //   opacity 1 !important
      //   .signerDisconnectedTextClose
      //     //-top -7px
      //     opacity 1 !important
      //   .signerTypeDisconnectedImageBack
      //     ////margin-top -52px
      //     opacity 0
      //   .signerTypeDisconnectedImageFront
      //     //margin-top -52px
      //     opacity 0

      .signerInner
        position absolute
        top -5px
        left 0px
        right 0px
        bottom 2px
        background outerspaceDark
        border-radius 16px
        display flex
        justify-content center
        align-items center
        overflow hidden
        transition .42s cubic-bezier(0.175, 0.885, 0.32, 1.275) all, 0.1s linear top, 0.1s linear bottom, 0.1s linear box-shadow, 0.1s linear opacity
        -webkit-app-region no-drag
        box-shadow 0px 2px 2px rgba(5, 5, 45, 0.4)
        z-index 25
        transform translateZ(0)

        .signerInset
          position absolute
          top 0px
          left 0px
          right 0px
          bottom 2px
          background outerspace
          border-radius 16px
          // border-top-right-radius 6px
          // border-bottom-left-radius 5px
          // border-bottom-right-radius 5px

      .signerInnerActive
        top 0px
        bottom -2px
        box-shadow 0px 1px 1px rgba(5, 5, 45, 0.4)
        transform translateY(0px)

      .signerInnerDisconnected
        pointer-events none
        opacity 0
        transform translateY(-50px)

      .signerMin
        position absolute
        right 0
        top 0
        bottom 0
        width 40px
        display flex
        justify-content center
        align-items center

      @import './menu'

    .signerStatus
      font-size 16px
      width 100%
      transition standard
      position relative
      display flex
      text-align center
      flex-direction column
      // overflow hidden
      font-weight 300

      .signerStatusNotOk
        padding 20px 40px
        display flex
        justify-content center
        align-items center
        flex-direction column

        .signerPinDisplay
          display flex
          justify-content center
          align-items center
          transition standard
          svg
            margin 0px 5px

        .signerPinMessage
          height 30px
          margin-top 15px
          margin-bottom 15px
          width 140px
          display flex
          justify-content center
          align-items center
          transition standard
          overflow hidden
          position relative
          border-radius 3px
          box-shadow 0px 2px 3px thick0, 0px 4px 9px thick0 !important

          .signerPinDelete
            position absolute
            display flex
            justify-content center
            align-items center
            top 0
            bottom 0
            width 39px
            left -40px
            transition standard
            border-right 1px solid thick

        .signerPinSubmit
          margin-top 0px
          margin-bottom 0px
          background highlighter
          box-shadow 0px 2px 3px thick, 0px 5px 9px thick !important
          padding-left 40px
          width 100px

        .passphraseSubmitted
          opacity 0.2

          .signerPinDelete
            left 0px

    .signerAccounts
      position relative
      display flex
      transition standardFast

    .signerAccount
      padding 5px 0px 13px 0px
      position relative
      transition standardFast
      transform translateZ(0)
      border-radius 6px
      box-sizing border-box

      .signerName
        overflow hidden
        display flex
        justify-content center
        align-items center
        height 40px
        transform translateZ(0)

        .signerNameText
          position relative
          font-weight 200
          padding-left 5px
          padding-bottom 0px
          position relative
          transition standard
          font-size 28px
          display flex
          justify-content center
          align-items center
          z-index 10

        .signerNameEdit
          position absolute
          right 0px
          top 10px
          bottom 7px
          width 26px
          border-radius 3px
          display flex
          justify-content center
          align-items center
          color white
          transition standard
          opacity 0
          z-index 9
          background rgba(255, 255, 255, 0)
          box-shadow 0px 0px 0px rgba(5, 5, 45, 0)

          svg
            transition standard
            color outerspace

        .signerNameEdit:hover
          transition standard
          background rgba(255, 255, 255, 0.4)
          box-shadow 0px 1px 1px rgba(5, 5, 45, 0.2)

      .signerNameSettings
        transition standard
        .signerNameText
          padding-right 35px
        .signerNameEdit
          transition standard
          opacity 1

      .signerAddress
        font-size 12px
        font-family FiraCode, monospace
        letter-spacing 0px
        position relative
        height 30px
        transform translateZ(0)

      .signerInfo
        position relative
        font-size 16px
        letter-spacing 0px
        position relative
        height 0px
        padding-top 0px
        text-align center
        transform translateZ(0)
        transition standard
        opacity 0
        margin-top 2px

        .signerBalances
          position absolute
          top 0px
          left 60px
          right 60px
          margin-right 0px
          box-shadow 0px 40px 20px -15px thick0
          height 26px
          overflow hidden
          border-radius 12px
          transition 0.1s ease-out all
          padding 1px 0px 2px 0px
          box-sizing border-box
          background highlighter
          box-shadow 0px 3px 2px thick

          .signerBalanceTotal
            position absolute
            top 353px
            left 0px
            right 0px
            height 47px
            z-index 20
            background highlighter
            font-size 14px
            font-weight 400
            color outerspace08
            transition var(--standard)

            .signerBalanceTotalText
              position absolute
              background highlighter
              left 0px
              right 0px
              bottom 0px
              top 0px
              box-shadow 0px -10px 10px -5px thick
              border-top-left-radius 10px
              border-top-right-radius 10px
              display flex
              justify-content space-between
              align-items center
              padding-right 15px
              padding-left 15px

              .signerBalanceTotalTitle
                width 35px
                text-align center

              .signerBalanceTotalValue
                width 70px
                text-align center

          .signerBalanceSlider
            position absolute
            top 0px
            left 0px
            right 0px
            height 354px
            border-radius 12px
            transition 0.1s ease-out all
            z-index 2
            overflow-y scroll
            padding 0px

          .signerBalanceSliderInset
            position relative
            transform translate3d(0, 0, 0)
            will-change transform

            .signerBalance
              position relative
              margin-left 0px
              width 294px
              opacity 1
              height 26px
              transition 0.1s ease-out all
              border-bottom 1px solid doubleThick
              padding 10px

              .signerBalanceCurrency
                position absolute
                left 23px
                top 13px
                bottom 4px
                width 60px
                text-align center
                font-size 13px
                font-weight 400
                letter-spacing 0px
                // background blue

              .signerBalanceLogo
                position absolute
                left 1px
                top 10px
                height 24px
                width 24px
                box-shadow 0px 0px 3px 2px thick
                border-radius 12px

                img
                  height 20px
                  width 20px
                  border-radius 11px
                  overflow hidden
                  margin 2px

              .signerBalanceValue
                position absolute
                right 85px
                top 11px
                bottom 11px
                left 85px
                font-size 18px
                padding-top 1px
                text-align center
                border-left 1px solid doubleThick
                border-right 1px solid doubleThick
                font-family FiraCode, monospace
                letter-spacing -0.5px
                // background blue

              .signerBalanceEquivalent
                position absolute
                right 0px
                top 13px
                bottom 13px
                width 85px
                text-align center
                font-size 13px
                font-weight 400
                color outerspace07

          .signerBalance:last-child
            border-bottom none

        .signerBalanceSliderDisplay
          position absolute
          top 0
          left 0
          right 0
          transition none

        .signerBalanceSliderShadow
          position relative
          opacity 0

        .signerBalanceNoTokens
          position absolute
          top 78px
          left 0px
          right 0px
          height 200px
          display flex
          justify-content center
          align-items center
          color outerspace08
          text-transform uppercase
          font-size 12px
          letter-spacing 0.5px

        .signerBalancesOpen
          height 400px
          left 8px
          right 8px
          box-shadow 0px 0px 60px 0px thick, 0px 50px 40px -30px doubleThick

          .signerBalanceSliderInset
            .signerBalance
              margin-left 8px
              margin-right 8px

    .addressSelect
      width 100%
      height 31px
      border-radius 6px
      position absolute
      bottom 0
      z-index 5
      transform translateZ(0px)

      .addressSelectButton
        width 100%
        height 30px
        min-height 30px
        border-radius 6px
        font-size 11px
        text-transform uppercase
        font-weight 600
        display flex
        justify-content center
        align-items center
        box-sizing border-box
        color outerspace
        letter-spacing 1px

        .addressSelectArrow
          // margin-top 5px
          transform translateZ(0)
          margin 1px 8px 0px 7px
          transition standardFast
          will-change transform
          svg
            transition standardSlow

  .accountListWrap
    position absolute
    top 100px
    left 0
    right 0
    // height 0px
    height 0px
    background lowlight
    // height 40px
    z-index 3015
    transition standardFast
    border-bottom-left-radius 16px
    border-bottom-right-radius 16px
    overflow hidden
    box-shadow 0px 2px 3px thin, 0px 19px 9px -14px thin !important
    transform translateZ(0)

    .accountList
      position absolute
      left 0
      right 0
      bottom 0
      height 330px
      z-index 3018
      overflow hidden
      padding 15px 0px 10px 0px

      .settingsMenu
        background linear-gradient(lowlight, highlight)
        display flex
        justify-content center
        flex-direction column
        align-items center
        position absolute
        left 0
        right 0
        bottom 0
        height 50px
        transition standardSlow
        opacity 1
        pointer-events auto
        .settingsMenuSelect
          position relative
          height 12px
          width 105px
          box-sizing border-box
          .settingsMenuMark
            height 12px
            position absolute
            transition standard
            .settingsMenuMarkLine
              position absolute
              background outerspace
              height 2px
              top 0px
              left 7px
              right 7px
              border-radius 1px
        .settingsMenuItems
          box-sizing border-box
          height 33px
          width 105px
          display flex
          .settingsMenuItem
            position relative
            box-sizing border-box
            z-index 1230
            width 35px
            height 33px
            color outerspace08
            .settingsMenuItemIcon
              top 0
              right 0
              bottom 0px
              left 0
              position absolute
              z-index 1234
              padding 10px 10px
          .settingsMenuItemSelected, .settingsMenuItem:hover
            color outerspace

      .accountListItems
        background lowlight
        height 280px
        min-height 280px
        width 100%
        display flex
        justify-content flex-start
        align-items center
        flex-direction column
        position relative
        z-index 3
        transition standardSlow
        // opacity 0
        transform translateY(-200px)
        pointer-events none

        .accountListItem
          background lowlight
          width calc(100% - 40px)
          height 55px
          min-height 55px
          border-bottom 1px solid thin
          display flex
          justify-content space-between
          align-items center
          padding 0px 20px 0px 20px
          font-family FiraCode, monospace
          color outerspace08
          position relative
          z-index 4

          .accountListItemCheck
            color outerspace01
            margin-bottom 3px

          .accountListItemAddress
            svg
              margin 0px 4px 0px 4px

        .accountListItem:last-child
          border-bottom none

        .accountListItemSelected
          background light
          color outerspace
          border-radius 6px
          border-bottom 1px solid thick0
          box-shadow 0px 2px 3px thin, 0px 19px 9px -14px thin !important
          position relative
          z-index 10
          .accountListItemCheck
            color outerspace

      .accountPageToggle
        padding-top 20px
        height 20px
        min-height 20px
        padding-bottom 10px
        width 100%
        display flex
        justify-content center
        align-items center
        font-family FiraCode, monospace
        position relative
        z-index 2
        transition standardSlow
        opacity 0
        pointer-events none
        transform translateY(-200px)

        .accountPageCurrent
          border-radius 3px
          height 27px
          width 27px
          display flex
          justify-content center
          align-items center
          font-size 18px

        .accountPageButton
          border-radius 3px
          height 27px
          width 27px
          display flex
          justify-content center
          align-items center
          box-sizing border-box

        .accountPageButtonLeft
          padding-right 1px

        .accountPageButtonRight
          padding-left 1px

        .accountPageButton:hover
          background highlight

  .signerMid
    position absolute
    top 100px
    right 0px
    bottom 3px
    left 0px
    padding-top 20px
    border-radius 16px
    z-index 3005
    overflow-x hidden
    overflow-y hidden
    opacity 1
    transition standard, 0.1s linear background
    will-change transform
    background lowlight

    > div
      transition standard
      opacity 0

    .signerMidMenu
      background thin
      height 50px
      display flex
      flex-direction column
      justify-content center
      align-items center

      .signerMenuItems
        height 25px
        display flex
        justify-content center
        align-items center
        margin-top 5px

        .signerMenuItem
          height 30px
          width 40px
          display flex
          justify-content center
          align-items center

      .signerMenuSelect
        height 10px
        width 80px
        position relative

        .signerMenuSelectMarker
          position absolute
          left 0px
          height 2px
          width 20px
          // margin 0px 4px
          margin 0px 10px
          background black

    .signerNode
      display flex
      justify-content center
      align-items center
      font-size 12px
      height 40px
      border-top 1px solid lightShade

  .signerBot
    position absolute
    bottom 3px
    left 3px
    right 3px
    opacity 1
    z-index 3020
    height 64px
    border-bottom-left-radius 16px
    border-bottom-right-radius 16px
    pointer-events none
    transition standard
    transform translateZ(0)
    background linear-gradient(rgba(255, 255, 255, 0), highlight, highlight)
    overflow hidden


  .signerEvents
    height 200px
    overflow scroll
    background rgba(0, 0, 50, 0.1)
    width 100%

  .signerSelect
    position absolute
    display flex
    justify-content center
    align-items center
    font-size 14px
    font-weight 200
    text-align center
    top 0
    bottom 0
    width 25px
    z-index 1
    color spacewhite
    flex-direction column
    opacity 0
    transition standard
    transition-delay 0.64s

    .signerSelectArrows
      height 50px
      width 50px
      border-radius 25px
      position relative

      .signerSelectArrow
        position absolute
        top 0
        left 0
        right 0
        animation-duration 2.4s
        animation-name arrowSlide
        animation-iteration-count infinite
        animation-fill-mode none
        animation-play-state running
        transform translateZ(0)
        will-change transform, opacity
        opacity 0

        svg
          color outerspace
          opacity 1
          transform translateZ(0)
          will-change transform, opacity

      .signerSelectArrow:first-child
        animation-delay 0s
        margin-top 16px

      .signerSelectArrow:nth-child(2)
        animation-delay 0.09s
        margin-top 24px

      .signerSelectArrow:nth-child(3)
        animation-delay 0.18s
        margin-top 32px

  .signerSelectDown
    transform rotate(180deg)
    .signerSelectArrows
      .signerSelectArrow
        svg
          color spacewhite

  .signerSelectLeft
    left 0

  .signerSelectRight
    right 0

  .signerSelectDown.signerSelectLeft
    left -50px
    opacity 0

  .signerSelectDown.signerSelectRight
    right -50px
    opacity 0

  .signerReady
    font-size 12px
    width 100%

  // .trezorPhraseInput
  //   height 200px
  //   width 100%
  //   background outerspace05
  //   position relative
  //   display flex
  //   justify-content center
  //   transition standard
  //   padding 20px 0px 20px 0px
  //   height 120px
  //   overflow hidden

  // .trezorPinWrap:before
  //   content ''
  //   position absolute
  //   top 0
  //   right 0
  //   bottom 3px
  //   left 0
  //   background #212d2e
  //   border-radius 3px

  // .trezorPinWrap
  //   width 100%
  //   background outerspace
  //   position relative
  //   display flex
  //   justify-content center
  //   transition standard
  //   padding 20px 0px 20px 0px
  //   height 120px
  //   overflow hidden

  //   .trezorPinInput
  //     display flex
  //     width 120px
  //     height 120px
  //     flex-wrap wrap-reverse
  //     z-index 1000

  //     .trezorPinInputButton
  //       min-width 40px
  //       min-height 40px
  //       display flex
  //       justify-content center
  //       align-items center

  //       svg
  //         color spacewhite

  //     .trezorPinInputButton:hover
  //       svg
  //         transform scale(1.7)

  //     .trezorPinInputButton:active
  //       svg
  //         transform scale(2.1)
  //         transition none

.okSigner
  .signerTop
    .signerNav
    .signerTypeDisconnected
      .signerDisconnectedTextOpen
        opacity 1 !important
      .signerDisconnectedTextClose
        opacity 0 !important
      .signerType
        width 160px
        margin-left -80px
        .signerSelect
          opacity 1
        .signerInner
          left 25px
          right 25px
        .signerTypeSettings
          transform translateY(-30px)

.openSigner
  padding 0px 5px 5px 5px
  .signerMid
    > div
      opacity 1
  .signerTop
    .signerStatus
      .signerInfo
        opacity 1
        height 20px
    .signerNav
      .signerTypeDisconnected
        width 160px
        margin-left -80px
        // .signerDisconnectedTextOpen
        //   opacity 0
        // .signerDisconnectedTextClose
        //   opacity 1
      .signerType
        .signerSelect
          opacity 0
        .signerInner
          left 0px
          right 0px
          .low
            margin-left -20px

  .signerSelectDown.signerSelectRight
    right 0

  .signerSelectDown.signerSelectLeft
    left 0

  .accountListWrap
    height 60px

.signerInSettings
  .signerTop
    .addressSelect
      transform translateY(0px)
      pointer-events auto
  .accountListWrap
    height 130px
    transform translateY(0px)
    will-change height

.signerAccountExpand
  .addressSelectArrow:first-child
    transition standardSlow
    svg
      transform rotate(-180deg)
  .addressSelectArrow:last-child
    transition standardSlow
    svg
      transform rotate(180deg)
  .accountListWrap
    transition standardSlow
    height 425px
    .accountList
      .accountListItems
        pointer-events auto
        transform translateY(0px)
        // opacity 1
      .accountPageToggle
        opacity 1
        pointer-events auto
        transform translateY(0px)
      .settingsMenu
        opacity 0
        pointer-events none
        transform translateY(50px)


@import '../Settings/style'
@import '../Requests/style'
