@keyframes arrowSlide
  0%
    opacity 0
    top 5px
  20%
    opacity 1
  40%
    opacity 0
    top -15px
  100%
    opacity 0

@keyframes headShake
  0%
    transform translateX(0)
  6.5%
    transform translateX(-6px) rotateY(-9deg)
  18.5%
    transform translateX(5px) rotateY(7deg)
  31.5%
    transform translateX(-3px) rotateY(-5deg)
  43.5%
    transform translateX(2px) rotateY(3deg)
  50%
    transform translateX(0)

.headShake
  animation-duration 1s
  animation-fill-mode both
  animation-timing-function ease-in-out
  animation-name headShake
  transform translateZ(0)

.standardFade-enter
  opacity 0

.standardFade-enter.standardFade-enter-active
  opacity 1
  transition standard

.standardFade-leave
  opacity 1

.standardFade-leave.standardFade-leave-active
  opacity 0
  transition standard

.signer
  position relative
  padding 0px 10px 10px 10px
  z-index 3001
  transition standard
  will-change transform
  transform translate3d(0, 0, 0)
  pointer-events auto
  box-sizing border-box
  z-index 10000000

  .signerContainer:before
    content ''
    position absolute
    top 0
    right 0
    left 0
    bottom 3px
    background light
    z-index 40
    border-radius 3px
    z-index 3003

  .signerContainer
    position relative
    z-index 3002
    border-radius 3px
    box-shadow 0px -1px 4px -1px rgba(6, 54, 52, 0.15), 0px 1px 2px 0px rgba(6, 54, 82, 0.15), 0 0px 100px -50px rgba(6, 24, 52, .4), cardDrop
    background lightShade
    padding-bottom 3px

  .transactionToAddress
    font-size 12px
    font-family firaCode
    position relative
    height 30px
    width 100%
    -webkit-app-region no-drag

    .transactionToAddressLarge
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      display flex
      justify-content center
      align-items center
      font-size 18px
      opacity 1
      transition standard

      svg
        color outerspace08
        padding-top 2px
        padding-left 4px
        padding-right 4px

    .transactionToAddressFull
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      display flex
      justify-content center
      align-items center
      font-size 12px
      opacity 0
      transition standard

      input
        position absolute
        top -3px
        left -3px
        display block
        width calc(100% + 6px)
        height calc(100% + 6px)
        border none
        outline none
        overflow hidden
        opacity 0
        cursor default

      svg
        padding-left 5px

  .transactionToAddress:hover
      .transactionToAddressLarge
        opacity 0
      .transactionToAddressFull
        opacity  1


  .signerTop
    position relative
    opacity 1
    z-index 3006
    margin-bottom 38px
    .transactionToAddress
      .transactionToAddressLarge
        svg
          color outerspace

    .signerNav
      position relative
      opacity 1
      display flex
      z-index 3004

      .signerType
        position relative
        top 0px
        left 50%
        display flex
        justify-content center
        align-items center
        width 110px
        height 100px
        margin-left -55px
        background linear-gradient(thin, thick)
        border-bottom-left-radius 6px
        border-bottom-right-radius 6px
        transition standard
        -webkit-app-region no-drag

        .signerGlow
          position absolute
          top 0px
          left 0px
          right 0px
          bottom 0px
          border-bottom-left-radius 6px
          border-bottom-right-radius 6px
          overflow hidden

          .glow
            position absolute
            top 0px
            left 0px
            height 100px
            width 100px
            margin-left -50px
            margin-top -50px
            border-radius 50px
            background rgba(105, 255, 255, 0.1)
            opacity 0
            filter blur(30px)

          .glowActive
            opacity 1

        .signerImage
          position absolute
          top 22px
          left 0
          right 0
          display flex
          justify-content center
          align-items center
          opacity 1
          transition standardSlow

          img
            height 31px

          svg
            color #fff

          .trezorImage
            height 39px
            margin-top -4px

        .signerText
          position absolute
          top 63px
          left 0
          right 0
          height 20px
          display flex
          flex-direction column
          justify-content center
          align-items center
          text-transform uppercase
          font-size 11px
          line-height 10px
          font-weight 300
          letter-spacing 2px
          color spacewhite
          opacity 1
          transition standardSlow

      .signerInner
        position absolute
        top -5px
        left 0px
        right 0px
        bottom 2px
        background outerspaceDark
        border-radius 6px
        display flex
        justify-content center
        align-items center
        overflow hidden
        transition standard, 0.1s linear top, 0.1s linear bottom, 0.1s linear box-shadow
        -webkit-app-region no-drag
        box-shadow 0px 2px 2px rgba(5, 5, 45, 0.4)

        .signerInset
          position absolute
          top 0px
          left 0px
          right 0px
          bottom 2px
          background outerspace
          border-top-left-radius 6px
          border-top-right-radius 6px
          border-bottom-left-radius 5px
          border-bottom-right-radius 5px

      .signerInnerActive
        top 0px
        bottom -2px
        box-shadow 0px 1px 1px rgba(5, 5, 45, 0.4)

      .signerMin
        position absolute
        right 0
        top 0
        bottom 0
        width 40px
        display flex
        justify-content center
        align-items center

      @import './menu'

    .signerAccountWrap
      width 100%
      position relative
      height 70px
      // padding-top 30px

    .signerAccount
      left 10px
      right 10px
      top 0
      height 70px
      overflow hidden
      position absolute
      border-radius 3px
      transition standard

      // background rgba(240, 245, 255, 1)
      // height 100px
      // box-shadow 0px 2px 0px thick, 0px 8px 8px -2px thick, 0px 0px 10px -2px thick
      //
      // height 540px

    .addressList
      height 0
      // height 420px
      padding 10px 0px 10px 0px

      background thin
      overflow-y hidden
      overflow-x hidden

    .moreAddress
      background thick
      height 30px
      display flex
      justify-content center
      align-items center

    .signerName
      overflow hidden
      display flex
      justify-content center
      align-items center
      height 40px

      .signerNameText
        position relative
        font-weight 200
        padding-left 5px
        padding-bottom 0px
        position relative
        transition standard
        font-size 32px
        display flex
        justify-content center
        align-items center
        z-index 10

      .signerNameEdit
        position absolute
        right 0px
        top 10px
        bottom 7px
        width 26px
        border-radius 3px
        display flex
        justify-content center
        align-items center
        color white
        transition standard
        opacity 0
        z-index 9
        background rgba(255, 255, 255, 0)
        box-shadow 0px 0px 0px rgba(5, 5, 45, 0)

        svg
          transition standard
          color outerspace

      .signerNameEdit:hover
        transition standard
        background rgba(255, 255, 255, 0.4)
        box-shadow 0px 1px 1px rgba(5, 5, 45, 0.2)

    .signerNameSettings
      transition standard
      .signerNameText
        padding-right 35px
      .signerNameEdit
        transition standard
        opacity 1

    .signerAddress
      font-size 12px
      font-family FiraCode
      letter-spacing 0px
      background lightHigh
      position relative
      height 30px

  .signerMid
    position absolute
    top 200px
    right 0px
    bottom 40px
    left 0px
    z-index 3005
    overflow-x hidden
    overflow-y hidden
    opacity 1
    transition standard, 0.1s linear background
    will-change transform

    > div
      transition standard
      opacity 0

    .signerNode
      display flex
      justify-content center
      align-items center
      font-size 12px
      height 40px
      border-top 1px solid lightShade

  .signerBot
    position absolute
    bottom 3px
    left 0
    right 0
    height 0
    opacity 0
    z-index 3004

  .signerEvents
    height 200px
    overflow scroll
    background rgba(0, 0, 50, 0.1)
    width 100%

  .signerStatusWrap
    font-size 16px
    height 100px
    position relative

    .signerStatus
      position absolute
      top 0
      bottom 0
      right 0
      left 0
      display flex
      justify-content center
      align-items center
      font-weight 300
      text-align center
      flex-direction column

    .signerStatusNotOk
      padding 0px 40px 0px 40px

  .signerSelect
    position absolute
    display flex
    justify-content center
    align-items center
    font-size 14px
    font-weight 200
    text-align center
    top 0
    bottom 0
    width 25px
    z-index 3000
    color spacewhite
    flex-direction column
    opacity 0
    transition standard
    transition-delay 0.64s

    .signerSelectArrows
      height 50px
      width 50px
      border-radius 25px
      position relative

      .signerSelectArrow
        position absolute
        top 0
        left 0
        right 0
        animation-duration 2.4s
        animation-name arrowSlide
        animation-iteration-count infinite
        animation-fill-mode none
        animation-play-state running
        svg
          color outerspace
          opacity 1

      .signerSelectArrow:first-child
        animation-delay 0s
        margin-top 16px

      .signerSelectArrow:nth-child(2)
        animation-delay 0.09s
        margin-top 24px

      .signerSelectArrow:nth-child(3)
        animation-delay 0.18s
        margin-top 32px

  .signerSelectDown
    transform rotate(180deg)
    .signerSelectArrows
      .signerSelectArrow
        svg
          color spacewhite

  .signerSelectLeft
    left 0

  .signerSelectRight
    right 0

  .signerSelectDown.signerSelectLeft
    left -50px
    opacity 0

  .signerSelectDown.signerSelectRight
    right -50px
    opacity 0

  .signerReady
    font-size 12px
    width 100%

  .trezorPinWrap:before
    content ''
    position absolute
    top 0
    right 0
    bottom 3px
    left 0
    background #212d2e
    border-radius 3px

  .trezorPinWrap
    width 100%
    background outerspace
    position relative
    display flex
    justify-content center
    transition standard
    padding 20px 0px 20px 0px
    height 120px
    overflow hidden

    .trezorPinInput
      display flex
      width 120px
      height 120px
      flex-wrap wrap-reverse
      z-index 1000

      .trezorPinInputButton
        min-width 40px
        min-height 40px
        display flex
        justify-content center
        align-items center

        svg
          color spacewhite
          transition standard

      .trezorPinInputButton:hover
        svg
          transform scale(1.7)
          transition standard

      .trezorPinInputButton:active
        svg
          transform scale(2.1)
          transition none

.okSigner
  .signerTop
    .signerNav
      .signerType
        width 160px
        margin-left -80px
        .signerSelect
          opacity 1
        .signerInner
          left 25px
          right 25px

.openSigner
  padding 0px 5px 5px 5px
  .signerMid
    background thin
    > div
      opacity 1
  .signerTop
    .signerNav
      .signerType
        .signerSelect
          opacity 0
        .signerInner
          left 0px
          right 0px
          .low
            margin-left -20px

  .signerSelectDown.signerSelectRight
    right 0

  .signerSelectDown.signerSelectLeft
    left 0

@import '../Settings/style'
@import '../Requests/style'
