.dappTile
  display flex
  justify-content center
  align-items center
  flex-direction column
  color var(--outerspace)
  margin 20px 10px

  .dappIcon
    height 56px
    width 56px
    background var(--ghostZ)
    border-radius 12px
    display flex
    justify-content center
    align-items center
    cursor pointer

  .dappName
    font-size 10px
    text-transform uppercase
    font-weight 400
    