.dappTile
  display flex
  justify-content center
  align-items center
  flex-direction column
  color var(--outerspace)
  margin 6px 0px

  .dappIcon
    height 58px
    width 58px
    background var(--ghostA)
    border-radius 16px
    display flex
    justify-content center
    align-items center
    flex-direction column
    cursor pointer

  .dappIcon:hover
    background var(--ghostB)

  .dappName
    font-size 10px
    text-transform uppercase
    font-weight 400
