.badge:before
  content ''
  position absolute
  right 0px
  top 0px
  left 0px
  bottom 3px
  background pending
  border-radius 6px
  z-index 9

.badge
  position absolute
  right 10px
  bottom 13px
  left 10px
  transform translateY(300px)
  background pendingShade
  border-radius 6px
  z-index 999999999999
  transition standard
  font-weight 300
  padding-bottom 15px
  box-shadow 0px 18px 20px -10px shader
  height 196px

  .badgeMessage, .badgeInput
    position relative
    z-index 10
    color spacewhite

  .badgeMessage
    height 120px
    display flex
    justify-content center
    align-items center
    text-align center
    padding 0px 40px 0px 40px
    font-weight 400

  .badgeInput
    width 100%
    display flex
    justify-content center
    margin-bottom 5px

    .badgeInputButton
      width 400px
      display flex
      justify-content center
      align-items center

      .badgeInputInner
        background pendingShade
        height 33px
        width calc(80% - 2px)
        display flex
        justify-content center
        align-items center
        border-radius 15px
        text-transform uppercase
        font-size 14px
        font-weight 400
        letter-spacing 1px
        margin-left 1px

      .badgeInputInner:hover
        background pendingShader

      .badgeInputSmall
        font-size 11px
        height 23px
        width calc(60% - 2px)
