.dockCardAddDapp
  position absolute 
  top 0px
  right 0
  bottom 0px
  left 0
  display flex
  justify-content center
  align-items center
  font-weight 200
  transition standardSlow
  border-radius 9px
  background highlightest
  z-index 4000000000
  transform translateX(calc(100% + 64px))
  // box-shadow 0px 60px 20px -20px thick0

.dockCardAddDappExpanded
  transform translateY(0px)
  box-shadow 0px 60px 20px -20px thick

.addAppButton
  position absolute
  top 16px
  right 56px
  height 36px
  width 80px
  border-radius 16px
  background highlighter
  display flex
  justify-content center 
  align-items center
  z-index 5000000
  box-shadow cardDrop, 0px 6px 6px -3px thin
