.signerUnlockRequest
  display flex
  align-items center
  flex-direction column
  justify-content flex-end
  transform translateY(0px)
  height 3px
  transition var(--standard)
  font-size 12px
  font-weight 400
  text-transform uppercase
  letter-spacing 3px
  height 100px
  .signerUnlockWrap
    display flex
    align-items center
    flex-direction column
    transform translateY(0px)
    min-height 100px
    height 0
    width 100%
    transition var(--standard)
    padding-bottom 10px
  .signerUnlockInput
    height 40px
    width calc(100% - 30px)
    margin 20px 0px 0px 0px
    padding-bottom 0px
    border 0
    outline 0
    background var(--ghostF)
    font-size 20px
    letter-spacing 6px
    display flex
    justify-content center
    align-items center
    text-align center
    border-radius 20px
    color var(--outerspace08)
    box-shadow cardDrop, 0px 2px 0px var(--thin), 0px 8px 8px -2px var(--thin), 0px 0px 10px -2px var(--thin)

  .signerUnlockSubmit
    height 30px
    background var(--ghostF)
    font-size 12px
    margin 10px 0px 0px 0px
    padding 0px 40px 0px 44px
    border-radius 15px
    display flex
    justify-content center
    align-items center
    color var(--outerspace08)
    font-weight 600
    box-shadow cardDrop, 0px 10px 10px var(--ghostB), 0px 8px 8px -2px var(--thick), 0px 0px 10px -2px var(--thick)
