.panel
  #panelPush
    right 0

#panelPush
  position absolute
  right -365px
  bottom 0
  top 0px
  width 360px
  transition standard

#panel
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  -webkit-app-region no-drag
  display flex
  flex-direction column
  justify-content center
  align-items center
  transition standard
  transition-delay 0.18s

.panelRequest
  width 100%
  padding 10px
  display flex
  justify-content center
  align-items center
  flex-direction column

  .panelRequestBlock
    padding 10px 15px
    margin 15px
    border-radius 3px
    background white
    font-size 14px
    font-weight bold

.panelRequestGrant
  margin-top 40px
  padding-top 0px
  width 100%

.panelRequestGrantOption
  background green
  margin 15px
  padding 0px
  height 40px
  border-radius 20px
  display flex
  justify-content center
  align-items center
  background rgba(0, 0, 0, 0.08)
  -webkit-app-region no-drag

  &:hover
    background rgba(0, 0, 0, 0.78)

#panelTop
  position absolute
  top 0
  right 0
  left 0
  height 0

.panelBot
  padding 10px 10px 60px 10px
  display flex
  justify-content center
  margin-left 5px

  svg
    color rgba(0, 0, 50, 0.1)

.panelMenu
  position absolute
  left 0
  right 0px
  top 0
  height 40px
  padding 0px 4px 100px 4px
  display flex
  justify-content space-between
  align-items center
  -webkit-app-region no-drag
  z-index 10000000
  opacity 1
  background linear-gradient(rgba(240, 240, 255, 0.5), rgba(240, 240, 255, 0))

  .panelMenuItem
    width 40px
    height 40px
    display flex
    justify-content center
    align-items center
    -webkit-app-region no-drag
    transition standardSlow
    svg
      color outerspace

    .panelMenuIconArrow
      margin 0px 0px 1px 1px

  .panelDetail
    display flex
    align-items center

  .panelDetailText
    text-transform uppercase
    font-size 10px
    letter-spacing 1px
    font-weight bold
    color outerspace08
    height 40px
    display flex
    justify-content center
    align-items center
    margin-top -1px

  .panelDetailIndicator
    height 10px
    width 10px
    margin 10px 8px 10px 8px
    border-radius 5px
    display flex
    align-items center
    justify-content center

    .panelDetailIndicatorInner
      height 10px
      width 10px
      border-radius 100%

    .panelDetailIndicatorGood
      background good

    .panelDetailIndicatorBad
      background bad

    .panelDetailIndicatorPending
      background pending

@import '../Main/style'
@import '../Local/style'
@import '../Notify/style'
