.panel
  #panelPush
    right 0

#panelPush
  position absolute
  right -365px
  bottom 0
  top 0px
  width 360px
  transition var(--standard)

#panel
  position absolute
  top 0
  right 0
  bottom 0
  left 0px
  -webkit-app-region no-drag
  display flex
  flex-direction column
  justify-content center
  align-items center
  transition var(--standardFast)
  transform translate3d(0px, 0px, 0px)

.panelSwoop
  position absolute
  display flex
  align-items flex-end
  top -1930px
  right -50px
  left -50px
  height 1500px
  opacity 0.3
  color var(--spacewhite)
  // z-index 99999999999999
  pointer-events none

.panelSwoopBottom
  position absolute
  display flex
  align-items flex-end
  bottom 750px
  right -50px
  left -50px
  height 1200px
  opacity 0.2
  color var(--spacewhite)
  // z-index 99999999999999
  pointer-events none

.panelRequest
  width 100%
  padding 10px
  display flex
  justify-content center
  align-items center
  flex-direction column

  .panelRequestBlock
    padding 10px 15px
    margin 15px
    border-radius 3px
    background var(--spacewhite)
    font-size 14px
    font-weight bold

.panelRequestGrant
  margin-top 40px
  padding-top 0px
  width 100%

.panelRequestGrantOption
  margin 15px
  padding 0px
  height 40px
  border-radius 20px
  display flex
  justify-content center
  align-items center
  background rgba(0, 0, 0, 0.08)
  -webkit-app-region no-drag

  &:hover
    background rgba(0, 0, 0, 0.78)

#panelTop
  position absolute
  top 0
  right 0
  left 0
  height 0

.panelBot
  padding 10px 10px 60px 10px
  display flex
  justify-content center
  margin-left 5px

  svg
    color rgba(0, 0, 50, 0.1)

.panelMenu
  position absolute
  left 0px
  right 0px
  top 0px
  height 59px
  padding-top 21px
  box-sizing border-box
  display flex
  justify-content space-between
  -webkit-app-region no-drag
  z-index 100000000000
  opacity 1
  transform translate3d(0, 0, 0)
  // background linear-gradient(rgba(240, 240, 255, 0.5), rgba(240, 240, 255, 0))
  // pointer-events none
  transition var(--standardFast)
  background var(--ghostA)
  border-bottom-left-radius 8px
  border-bottom-right-radius 8px

  .panelTitle
    position absolute
    left 18px
    right 170px
    top 20px
    bottom 10px
    display flex
    align-items center
    font-family 'Exo2'
    font-size 20px

  .panelMenuMarker
    position absolute
    left 8px
    right 8px
    top 10px
    height 4px
    background var(--ghostY)
    border-radius 2px

    .panelMenuMark
      width 38px
      height 4px
      background var(--outerspace)
      transform translateX(14px)
      border-radius 2px
      transition var(--standard)
      margin-left -1px

  .panelMenuItem
    height 28px
    width 46px
    border-radius 8px
    display flex
    justify-content center
    align-items center
    -webkit-app-region no-drag
    transition none
    pointer-events auto
    transform translate3d(0, 0, 0)
    background var(--ghostC)
    position absolute
    // box-shadow 0px 4px 6px -1px var(--thin) // , 0px 8px 8px -2px var(--thin), 0px 0px 10px -2px var(--thin)
    cursor pointer

    *
      pointer-events none

  .panelMenuItem:hover
    background var(--ghostD)

  .panelMenuItemAccounts
    right 120px
    svg
      stroke ver(--outerspace)
      stroke-width 2

  .panelMenuItemNetwork
    position absolute
    left 45px
    
  .panelMenuItemConnections
    right 64px

  .panelMenuItemSettings
    right 9px
    svg
      transform rotate(90deg)
       
  .panelDetail
    display flex
    align-items center
    margin-left 0%
    transition var(--standardSlow)

  .panelDetailText
    transition var(--standard)
    text-transform uppercase
    font-size 10px
    letter-spacing 1px
    font-weight bold
    color var(--outerspace08)
    display flex
    justify-content center
    align-items center
    // margin-top -1px
    font-weight 400
    padding-right 8px
    margin-right 8px
    
  .panelMenuData
    position absolute
    top 23px
    right 75px
    left 176px
    transition var(--standard)
    letter-spacing 0px
    text-transform uppercase
    color var(--outerspace08)
    display flex
    justify-content center
    align-items center
    font-weight 500
    font-size 11px
    height 25px

    .panelMenuDataDivide
      height 100%
      width 1px
      background var(--ghostY)

    .panelMenuDataItem
      display flex
      justify-content center
      padding 0px 5px 1px 5px

      .svg
        position relative
        margin-left 4px
        margin-top 4px
        margin-right 3px

      .usd
        position relative
        margin-top 3px
        margin-right 1px

  .panelDetailIndicator
    height 3px
    width 23px
    margin 10px 8px 10px 8px
    border-radius 5px
    display flex
    align-items center
    justify-content center

    .panelDetailIndicatorInner
      height 3px
      width 23px
      border-radius 2px

    .panelDetailIndicatorGood
      // transition var(--standardSlow)
      background var(--good)

    .panelDetailIndicatorWaiting
      // transition var(--standardSlow)
      background var(--moon)

    .panelDetailIndicatorBad
      // transition var(--standardSlow)
      background var(--bad)

    .panelDetailIndicatorPending
      transition var(--standardSlow)
      background var(--pending)

// .panelMenuAddMode
//   transition var(--standard)
//   z-index 10000
//   .panelDetail
//     transition var(--standardSlowest)
//     margin-left calc(50% - 50px)
//   .panelMenuItem
//     transition var(--standard)
//     opacity 0
//     pointer-events none
//     svg
//       color var(--spacewhite)
//   .panelDetailText
//     transition var(--standard)
//     color var(--spacewhite)
//   .panelDetailIndicator
//     .panelDetailIndicatorGood
//       transition var(--standardSlow)
//       background var(--smart)
//     .panelDetailIndicatorBad
//       transition var(--standardSlow)
//       background var(--hot)
//     .panelDetailIndicatorPending
//       transition var(--standardSlow)
//       background var(--hardware)

.appMenu
  position absolute
  left 0px
  right 0px
  bottom 0px
  height 48px
  // padding 0px 9px 0px 9px
  display flex
  justify-content space-between
  align-items center
  -webkit-app-region no-drag
  z-index 100000000000
  opacity 1
  transform translate3d(0, 0, 0)
  // background linear-gradient(rgba(240, 240, 255, 0.5), rgba(240, 240, 255, 0))
  transition var(--standardFast)
  background var(--ghostB)
  // border-top 1px solid var(--thin)
  // box-shadow 0px -4px 10px var(--thick)
  // border-top-left-radius 12px
  // border-top-right-radius 12px
  display none

  .appMenuItem
    cursor pointer
    height 67px
    min-width 40px
    display flex
    align-items center
    border-right 1px solid thin

    .appMenuItemButton
      height 27px
      width 28px
      border-radius 14px
      display flex
      justify-content center
      align-items center
      -webkit-app-region no-drag
      transition var(--standard)
      pointer-events auto
      transform translate3d(0, 0, 0)
      background var(--ghostE)
      position absolute
      box-shadow 0px 4px 6px -1px var(--thin) // , 0px 8px 8px -2px var(--thin), 0px 0px 10px -2px var(--thin)
      cursor pointer
      padding-top 1px
      margin 10px

      *
        pointer-events none

@import '../Main/style'
@import '../Notify/style'
@import '../Local/style'
@import '../Badge/style'
@import '../Networks/style'
@import '../Filter/style'
@import './card.styl'
