# want to set this to true and only allow scripts to be run via the "allowScipts"
# configuration in package.json but electron-builder relies on postinstall scripts
# to build native dependencies so for the time being we provide the "--ignore-scripts"
# CLI parameter on install instead
ignore-scripts = false

# If set to true, then npm will stubbornly refuse to install (or even consider installing)
# any package that claims to not be compatible with the current Node.js version.
engine-strict=true
