.txOverlay
  position absolute 
  top 0
  right 0
  bottom 0
  left 0
  background var(--ghostB)
  z-index 200000000
  border-radius 10px

  .txOverlayTitle
    position absolute 
    top 8px
    left 12px
    right 12px
    // font-family ChangaOne
    font-size 20px
    // background blue
    height 30px

  .txOverlayBody
    position absolute 
    top 38px
    left 12px
    right 12px
    bottom 12px
    // font-family ChangaOne
    font-size 20px
    display flex
    justify-content center
    align-items center
    flex-direction column

