.txOverlay
  position absolute 
  top 0
  right 0
  bottom 0
  left 0
  background var(--ghostB)
  z-index 200000000
  border-radius 10px
  overflow-y scroll

  .txOverlayTitle
    position absolute 
    top 0px
    left 12px
    right 40px
    font-size 18px
    height 40px
    display flex
    align-items center
    // background blue

  .txOverlayClose
    position absolute 
    z-index 10000000000
    top 8px
    right 8px
    cursor pointer
    width 24px
    height 24px
    border-radius 15px
    display flex
    justify-content center
    align-items center
    background var(--moon)
    color var(--moonOver)
    cursor pointer
    *
      pointer-event none

  .txOverlayBody
    position absolute 
    top 38px
    left 12px
    right 12px
    bottom 12px
    // font-family ChangaOne
    font-size 20px
    display flex
    justify-content center
    align-items center
    flex-direction column


@import '../TxDataOverlay/style'
