.sliceTileUsage
  width 100%
  height 100%
  display flex
  font-size 10px
  justify-content center
  align-items center
  text-transform uppercase
  font-weight 400

  .sliceTileUsageCount
    font-size 17px
    margin-right 7px
    border-radius 16px
    display flex
    justify-content center
    align-items center

// .viewAllOrigin:hover
//   color var(--goodLight)
  
// .sliceOriginIndicator
//   color var(--outerspace)
//   cursor pointer
//   position absolute 
//   top 50%
//   margin-top -2.5px
//   left 13px
//   bottom 0px
//   width 6px
//   height 6px
//   border-radius 3px
//   display flex
//   justify-content center
//   align-items center
//   background var(--good)
//   // box-shadow 0px 0px 4px var(--good)
//   *
//     pointer-events none

// .sliceOriginIndicatorOff
//   // background blue
//   background var(--ghostX)
//   box-shadow 0px 0px 0px var(--ghostX)

// .sliceOriginIndicatorActive
//   background var(--goodHighlighter)
//   box-shadow 0px 0px 4px var(--goodHighlighter)

// .sliceOriginReqs
//   margin-right 9px
//   display flex
//   justify-content center
//   align-items center

//   .sliceOriginReqsNumber
//     font-size 14px
//     margin-right 5px
    
//   .sliceOriginReqsLabel
//     margin-top 2px
//     font-size 8px
//     text-transform uppercase
//     font-weight bold


.originSwapOrigin
  height 120px
  width 100%
  color var(--moon)
  font-size 20px
  font-weight 500
  display flex
  align-items center
  justify-content center

  .originSwapOriginText
    margin-left 10px

.originSwapTitle
  width 100%
  display flex
  justify-content center
  text-transform uppercase
  font-size 11px
  font-weight 500
  padding-bottom 6px
  
.originSwapChainList
  background var(--ghostZ)
  border-radius 12px

  .originChainItem
    position relative
    display flex
    justify-content center
    align-items center
    height 64px
    margin 6px
    border-radius 12px
    cursor pointer
    background var(--ghostA)
    box-shadow 0px 4px 8px var(--ghostY)
    margin-bottom 10px
    font-weight 500
    font-size 18px

  .originChainItem:hover
    background var(--ghostA)

  .originChainItem:last-child
    border-bottom 0px solid var(--ghostX)

  .originChainItemIcon
    position absolute
    top 11px
    left 11px
  
  .originChainItemCheck
    position absolute
    bottom 11px
    right 11px
    height 42px
    width 42px
    display flex
    justify-content center
    align-items center
    background var(--ghostZ)
    border-radius 8px

  .originChainItemActive
    color var(--good)

