.dropdown
  height 26px
  border-radius 13px
  letter-spacing 1px
  font-weight 400
  width 113px
  font-size 13px
  text-transform uppercase
  background highlight
  overflow hidden
  box-shadow cardDrop
  padding 0px 0px 0px 0px
  transition standard
  transform translateZ(0)

.dropdownExpanded
  padding 18px 0px 18px 0px
  box-shadow 0px 4px 10px thick, 0px 5px 14px -2px thick

.dropdownItems
  transition standard
  transform translateZ(0)

.dropdownItem
  display flex
  justify-content center
  align-items center
  height 26px
  min-height 26px
  width 100%
  box-sizing border-box
  padding 0px 15px 0px 15px
  transform translateZ(0)

