.dropdownWrap
  position relative
  display flex
  align-items flex-start
  height 26px
  z-index 99999999999999
  cursor pointer

.dropdown
  border-radius 13px
  letter-spacing 1px
  height 26px
  font-weight 400
  width 125px
  font-size 13px
  text-transform uppercase
  background var(--highlight)
  overflow hidden
  box-shadow cardDrop
  padding 0px 0px 0px 0px
  transition standard, 0s linear background
  transform translateZ(0)

.dropdown:hover
  background var(--highlighter)

.dropdownExpanded
  padding 18px 0px 18px 0px
  box-shadow 0px 4px 10px var(--thick), 0px 5px 14px -2px var(--thick)

.dropdownItems
  transition standard
  transform translateZ(0)

.dropdownItem
  display flex
  align-items center
  height 26px
  min-height 26px
  width calc(100% - 20px)
  box-sizing border-box
  transform translateZ(0)
  margin 0px 10px 0px 10px
  overflow hidden
  position relative
  z-index 99999999999999

  &::before, &::after
    pointer-events: none
    content: ''
    flex: 1
