.signerSettings
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  padding 0px 0px 30px 0px
  transition standard
  overflow-y scroll
  overflow-x hidden
  transform translateZ(0)

  .signerSettingsTitle:before
    content ''
    position absolute
    bottom -2px
    right 10px
    left 10px
    height 4px
    border-radius 2px
    background thin

  .signerSettingsTitle
    position relative
    display flex
    align-items flex-end
    justify-content space-between
    height 40px
    font-size 22px
    padding 0px 10px 10px 10px

.signerSettingsHidden
  left 100%
  right -100%

.signerPermission:before
  content ''
  position absolute
  bottom -2px
  right 20px
  left 20px
  height 4px
  border-radius 2px
  background thin

.signerPermission
  display flex
  position relative
  justify-content space-between
  padding 10px 20px
  font-size 18px
  font-weight 200
  transform translateZ(0)

  .nodeProviderStatus
    display flex
    justify-content center
    align-items center
    height 18px
    border-radius 10px
    font-size 10px
    text-transform uppercase
    padding-left 8px
    padding-right 8px
    background bad
    padding-bottom 1px
    font-weight 400
    color #f3f6fd
    text-shadow 0px 1px 2px rgba(100, 0, 0, 0.2), 0px 1px 0px rgba(100, 0, 0, 0.2)
    transform translateZ(0)

  .nodeProviderConnected
    background good
    text-shadow 0px 1px 2px rgba(0, 50, 50, 0.2), 0px 1px 0px rgba(0, 50, 50, 0.2)

  .signerPermissionOrigin
    background transparent
    width 250px
    direction rtl
    text-overflow ellipsis
    overflow hidden
    text-align left
    white-space nowrap

  .signerPermissionToggle
    position relative
    background bad
    height 20px
    width 40px
    border-radius 10px
    transition standard
    transform translateZ(0)
    margin-top 2px

    .signerPermissionToggleSwitch
      position absolute
      top 2px
      left 2px
      bottom 2px
      width 16px
      border-radius 10px
      transition standard
      background #f3f6fd
      box-shadow 0px 6px 6px -2px rgba(0,20,60,0.15), 0px 1px 2px 0px rgba(0,20,60,0.05)
      transform translateZ(0)

  .signerPermissionToggleOn
    background good
    .signerPermissionToggleSwitch
      position absolute
      left 22px
