.ringIcon
  height 36px
  width 36px
  border-radius 20px
  position relative
  -webkit-app-region no-drag
  transition none
  pointer-events auto
  transform translate3d(0, 0, 0)
  border 2px solid var(--outerspace)
  box-shadow 0px 0px 0px 3px var(--ghostY)
  *
    pointer-events none

  .ringIconInner
    position absolute
    top 4px
    right 4px
    bottom 4px
    left 4px
    border-radius 18px
    display flex
    justify-content center
    align-items center
    background var(--ghostD)
    overflow hidden
    color var(--outerspace)
    box-shadow 0px 4px 4px var(--ghostX), 0px -2px 2px 2px var(--ghostE)

    img
      object-fit cover
      max-height 22px
      max-width 22px
