@keyframes lit
  0%
    opacity 1
  80%
    opacity 1
  100%
    opacity 0.5

.requestItem::after
  position absolute
  content ''
  top 0
  bottom 0
  left 0
  right 0
  z-index 20
  border-radius 12px
  opacity 1
  pointer-events none

.requestItem:hover
  transform translateY(-1px)
  position relative
  z-index 300000
  background var(--ghostB)
  transform translateY(-1px)
  border-bottom 2px solid var(--ghostZ)
  box-shadow 0px 8px 30px -12px var(--ghostX)

  .clusterValue
    background var(--ghostB) !important
  
.requestItem:active
  transform translateY(0px)
  box-shadow 0px 2px 4px var(--ghostX)
  position relative
  z-index 300000
  background var(--ghostB)
  transform translateY(0px)
  box-shadow 0px 2px 4px var(--ghostX)

.requestItem:first-child
  border-radius 16px
  border-bottom-left-radius 8px
  border-bottom-right-radius 8px

.requestItem:last-child
  border-radius 16px
  border-top-left-radius 8px
  border-top-right-radius 8px

.requestItem:first-child:last-child
  border-radius 16px

.requestItem
  cursor pointer
  position relative
  width 100%
  z-index 1
  overflow hidden
  font-family 'MainFont'
  font-weight 300
  box-shadow 0px 4px 6px var(--ghostY)
  border-bottom 2px solid var(--ghostZ)
  border-radius 8px
  background var(--ghostA)
  cursor pointer
  position relative
  width 100%
  z-index 1
  margin-top 3px
  overflow hidden
  font-family 'MainFont'
  font-weight 300
  box-shadow 0px 4px 6px var(--ghostY)
  border-bottom 2px solid var(--ghostZ)
  cursor pointer
  transition all linear 0.1s

  .requestItemBackground
    position absolute
    top 0px
    left 0px
    right 0px
    bottom 0
    border-radius 1.5px
    background linear-gradient(90deg, transparent 0%, transparent 100%)
    opacity 0.05
    z-index 200
    border-radius 18px
    display none

  .requestItemCorner
    position absolute
    top -420px
    left -120px
    width 460px
    height 460px
    transform rotate(65deg)
    border-radius 6px
    opacity 0

  .requestItemNotice
    position relative
    display flex
    align-items center
    justify-content space-between
    text-transform uppercase
    font-weight 400
    font-size 11px
    margin 14px
    letter-spacing 1px
    text-align center
    border-top 2px solid var(--ghostZ)
    padding 12px 12px 0px 12px

  .requestItemNoticeGood
    color var(--good)

  .requestItemNoticeBad
    color var(--bad)

  .requestItemDetails
    position relative
    display flex
    align-items center
    justify-content space-between
    text-transform uppercase
    font-weight 400
    font-size 11px
    margin 14px 14px 11px 14px
    letter-spacing 1px

    span
      letter-spacing 1px
      padding-left 8px
      top -1px
      position relative

    .requestItemDetailsSlide
      display flex
      align-items center

    .requestItemDetailsIndicator
      height 12px
      width 12px
      margin 0px 1px
      display flex
      justify-content center
      align-items center
      border-radius 6px
      box-shadow inset 0px 0px 3px var(--ghostY)

      .requestItemDetailsIndicatorMarker
        height 6px
        width 6px
        border-radius 3px
        background var(--moon)
        z-index 4
        position relative
        top -1px
        animation lit infinite ease-in-out alternate 1s

    .requestItemDetailsView
      display flex
      justify-content center
      align-items center
      margin-right 2px
      .requestItemDetailsViewText
        font-weight 400
        margin-right 0px
      .requestItemDetailsViewArrow
        display flex
        justify-content center
        align-items center
        div 
          width 8px
        svg
          transform rotate(90deg)

  .requestItemDetailsGood
    .requestItemLine
      color var(--good)
    .requestItemLineShadow
      color var(--ghostX)
    .requestItemDetailsIndicator
      .requestItemDetailsIndicatorMarker
        background var(--good)

  .requestItemDetailsBad
    .requestItemLine
      color var(--bad)
    .requestItemLineShadow
      color var(--ghostX)
    .requestItemDetailsIndicator
      .requestItemDetailsIndicatorMarker
        background var(--bad)

  .requestItemRow
    position relative
    z-index 3
    width 100%
    display flex
    align-items center
    margin-bottom 10px
    box-sizing border-box

    .requestItemRowIcon
      width 40px
      height 20px
      display flex
      justify-content center
      align-items center
      position relative
      // color var(--good)
      
    .requestItemRowIconLarge
      width 40px
      height 20px
      display flex
      justify-content center
      align-items center
      //color var(--moon)

    .requestItemRowChainIcon
      position absolute
      top 0px  
      right 20px
      bottom 0px
      display flex
      justify-content center
      align-items center
      width 20px
      border-radius 10px

    .requestItemRowTitle
      position relative
      margin-left 9px
      font-size 12px
      font-weight 400

    .requestItemRowTitleLarge
      position relative
      font-weight 300
      display flex
      justify-content center
      align-items center


  @keyframes wave
    0%
      transform translateX(0)
    100%
      transform translateX(12px)

  .requestItemLine
    position absolute
    bottom -2px
    width 50px
    right 0px
    margin 0px
    box-sizing border-box
    display flex
    overflow hidden
    opacity 1
    padding 8px 0px
    border-radius 20px
    background var(--ghostZ05)
    box-shadow inset 0px 0px 4px var(--ghostY)
    color var(--moon)
    
    svg
      width 300%
      position relative
      left -100%
      stroke-width 25px
      animation wave 1.4s linear infinite

  .requestItemLineShadow
    background none
    color var(--ghostX)
    box-shadow none
    svg
      bottom -2px
      filter blur(1px)
      
  .requestItemIcon
    width 32px
    height 32px
    overflow hidden
    display flex
    justify-content center
    align-items center
    border-radius 12px
    z-index 2
    -webkit-app-region no-drag
    transition none
    pointer-events auto
    transform translate3d(0, 0, 0)

  .requestItemTitle
    position relative
    font-family 'MainFont'
    font-weight 400
    display flex
    justify-content space-between
    align-items center
    font-size 15px
    font-weight 300
    border-radius 26px
    margin 8px 8px 4px 8px
    overflow hidden

    .requestItemTitleTime
      height 32px
      display flex
      justify-content center
      align-items center
      padding 0px 8px

      .requestItemTitleTimeItem
        height 26px
        display flex
        justify-content center
        align-items center
        font-size 12px
        font-weight 400

    .requestItemMain
      height 36px
      border-radius 6px
      display flex
      justify-content flex-start
      align-items center
      box-sizing border-box

    .requestItemTitleLeft
      display flex
      justify-content flex-start
      align-items center
      box-sizing border-box
      margin-left 0px

    .requestItemTitleMain
      font-weight 400
      margin-left 8px
      top -2px

  .requestItemTitleSub
    display flex
    justify-content flex-start
    align-items center
    font-size 11px
    font-weight 300

    .requestItemTitleSubIcon
      margin 1px 9px 0px -5px
      color var(--outerspace)

    .requestItemTitleSubText
      font-weight 400
      margin 0px 0px 0px 0px

  .requestItemTime
    position absolute
    top 0px  
    right 24px
    bottom 0px
    font-size 12px
    display flex
    justify-content center
    align-items center

  .requestItemSource
    position absolute
    top 0px  
    right 20px
    bottom 0px
    font-size 12px
    font-weight 400
    display flex
    justify-content center
    align-items center
    //color var(--moon)
    margin-top -2px

    div
      margin-right 5px
    svg
      position relative
      top 1px

  .requestItemOrigin
    top 16px
    right 16px
    position absolute
    font-weight 300
    margin-left 2px
    display flex
    align-items center
    font-size 10px
    margin-top 3px

    .requestItemOriginIcon
      position relative
      top -1px
      display flex
      justify-content center
      align-items center

  .requestItemStatus
    font-size 10px
    bottom 16px
    left 64px
    position absolute
    font-weight 300
    margin-left 2px

  .requestItemRight
    width 64px
    display flex
    justify-content center
    align-items center
    transform scaleX(-1)
    position relative
    left 1px

// .requestItem:hover
//   background-position 0% 0%
//   background linear-gradient(90deg, var(--ghostA), var(--ghostB))
  

  // .requestItemDetails
  //   .requestItemDetailsSlide
  //     background linear-gradient(90deg, var(--ghostB), var(--ghostC))



.requestItemSummary
  display flex
  justify-content center
  align-items center
  padding 8px 16px 18px 16px
  font-size 12px
  font-weight 500

.requestItemHeader, .requestItemHeader:hover, .requestItemHeader:active
  background none
  box-shadow none
  border-bottom none
  transform none
  margin-top 0px
  margin-bottom 0px
  pointer-events none
