.network
  background var(--ghostA)
  border-radius 12px
  margin 0px 0px 16px 0px
  // border-bottom 2px solid var(--ghostZ)
  // box-shadow 0px 6px 8px 0px var(--ghostY)
  // box-shadow 0px 18px 70px -32px var(--ghostY)

  .networkActive
    position relative
    display flex
    align-items space-between
    width 100%
    box-sizing border-box
    height 60px

    .networkName
      position absolute
      left 0px
      right 74px
      top 0px
      bottom 0px

      input 
        font-size 20px
        text-align left
        font-weight 400
        padding-left 16px
        font-family 'Exo2', sans-serif

    .signerPermissionToggle
      position absolute
      right 16px
      top 0
      margin-top 22px
      height 20px
      width 40px
      border-radius 12px

      .signerPermissionToggleSwitch
        position absolute
        top 2px
        left 2px
        bottom 2px
        width 16px
        border-radius 10px

    .signerPermissionToggleOn
      background var(--good)
      .signerPermissionToggleSwitch
        position absolute
        transform translateX(20px)

  .phaseNetworkLine
    position relative
    height 84px

.localSettings
  position absolute
  top 59px
  right 0px
  bottom 0px
  left 0px
  display flex
  justify-content center
  flex-direction column
  transition var(--standardFast)
  transform translateZ(0)  
  
  input 
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    width 100%
    border none 
    outline none
    background transparent
    text-align center
    font-size 16px
    font-weight 100
    color var(--outerspace)
    font-weight 100
    font-family OpenSans, sans-serif

    div 
      z-index 3
      display flex
      justify-content center
      align-items center

  .phaseNetworkRemove:hover
    background var(--bad)
    
  .phaseNetworkSubmit
    position absolute
    right 0
    bottom 1px
    top 45px
    width 60px

    svg
      position relative
      z-index 2
    
  .phaseNetworkName
    position absolute
    top 1px
    left 0px
    right 160px 
    bottom 40px
    // border-left 1px solid rgba(0, 50, 50, 0.8)
    // border-right 1px solid rgba(0, 50, 50, 0.8)
    // border-bottom 1px solid rgba(0, 50, 50, 0.8)

    input 
      font-size 22px
      text-align left
      font-weight 100

  .phaseNetworkSymbol
    position absolute
    top 0
    bottom 40px
    right 0px 
    width 60px

    input 
      font-size 16px
      font-family FiraCode, monospace

  // .phaseNetworkSymbol:hover
  //   background rgba(0, 255, 255, 0.08)

  .phaseNetworkId
    position absolute
    right 80px
    top 0
    bottom 40px
    width 60px

    input 
      font-size 16px
      font-family FiraCode, monospace

  .phaseNetworkExplorer
    position absolute
    right 80px
    left 0
    top 45px
    bottom 0px

    input 
      text-align left


  .localSettingsAddNetwork
    position absolute
    right 145px
    display flex
    justify-content center
    align-items center
    height 26px
    z-index 9999999
    border-radius 13px
    height 26px
    font-weight 200
    width 26px
    font-size 23px
    text-transform uppercase
    background var(--ghostD)
    overflow hidden
    box-shadow cardDrop, 0px 2px 1px var(--thin)
    padding 0px 0px 0px 0px
    transition var(--standard), 0s linear background
    transform translateZ(0)
    cursor pointer
    
  .localSettingsAddNetwork:hover
    background var(--ghostD)

  .localSettingsWrapFadeTop
    position absolute
    top 0
    left 0
    right 0
    height 140px
    pointer-events none
    z-index 5
    // background linear-gradient(0deg, var(--bg0) 0%, var(--ghostC) 70%)

  .localSettingsWrapFadeBot
    position absolute
    bottom 0
    left 0
    right 0
    height 140px
    pointer-events none
    z-index 5
    // background linear-gradient(-180deg, var(--bg0) 0%, var(--ghostC) 70%)

  .localSettingsWrap
    padding 120px 6px 60px 6px
    overflow-x hidden
    overflow-y scroll
    position relative
    z-index 2

  .localSettingsTitle:before
    content ''
    position absolute
    bottom -2px
    right 10px
    left 10px
    height 4px
    border-radius 2px
    background var(--thin)

  .localSettingsTitle
    position relative
    display flex
    align-items flex-start
    height 30px
    font-size 26px
    font-weight 300
    padding 0px 17px 17px 17px
    margin 67px 0px 0px 0px

    .localSettingsTitleText
      margin-top -5px

.signerSetting
  display flex
  justify-content center
  align-items center
  padding 0px 0px 20px 0px
  flex-direction column

.settingsTitle
  width 100%
  display flex
  justify-content center
  align-items center
  padding 20px 0px 20px 0px
  background rgba(255, 255, 255, 0.8)

.settingsItems
  width 100%
  display flex
  justify-content center
  align-items center
  padding 20px 0px 20px 0px
  background rgba(0,0,50,0.1)
  flex-direction column

.settingsItem
  width 100%
  display flex
  justify-content flex-start
  align-items center
  padding 20px

.settingsButton
  width 100%
  color white
  border-radius 12px
  height 40px
  font-size 13px
  text-transform uppercase
  font-weight 400
  letter-spacing 1px
  display flex
  justify-content center
  align-items center
  background var(--ghostB)
  transition var(--standardFast)
  cursor pointer
  * 
    pointer-events none

  .settingsButton:hover
    background var(--ghostC)

.viewLicense
  width 100%
  text-align center
  font-size 11px
  text-transform uppercase
  font-weight 400
  letter-spacing 1px
  color var(--outerspace05)
  cursor pointer

.viewLicense:hover
  cursor pointer
  color var(--outerspace08)

.discordInvite:hover
  .discordLink
    position relative 
    transform translateY(-2px)
    cursor pointer

.discordInvite
  margin 30px 8px 30px 8px 
  font-size 13px
  font-weight 300
  border-radius 20px
  display flex
  justify-content center
  align-items center
  width calc(100% - 16px)

  .discordLink
    font-weight 600
    padding-left 5px
    transition var(--standardFast)
    transform translateY(0px)

.quitFrame
  padding 0px
  margin-top 50px
  margin-bottom 30px

  .quitFrameButton
    width 100%
    border-radius 12px
    height 40px
    font-size 13px
    text-transform uppercase
    font-weight 400
    letter-spacing 1px
    display flex
    justify-content center
    align-items center
    background var(--ghostB)
    transition var(--standardFast)
    cursor pointer
    * 
      pointer-events none

  .quitFrameButton:hover
    background var(--ghostC)

.connectionLevels
  padding-bottom 15px
  position relative
  z-index 999999999

.connectionTitle
  justify-content space-between
  height 26px
  max-height 26px

.connectionOption
  align-items space-between
  transition var(--standard)
  transform translateZ(0)
  padding 8px 16px
  margin 4px 8px
  border-radius 8px
  transform scale(1)
  background var(--ghostB)

  .connectionOptionToggle
    width 100%
    display flex
    justify-content space-between
    align-items center
    height 25px
    transform translateZ(0)

  .connectionOptionDetails
    transition var(--standard)
    transition-delay 0ms, 0ms
    transition-property height, opacity
    opacity 1
    transform translateZ(0)
    z-index 40
    position relative
    margin-top 0px
    transition var(--standard)
    pointer-events none
    padding 8px 0px

    .connectionOptionDetailsInset
      height 25px
      width 100%
      color var(--outerspace08)
      display flex
      justify-content space-between
      align-items center
      text-transform uppercase
      font-size 12px
      letter-spacing 1px
      font-weight 400
      // margin 0px -15px -15px -15px
      // padding 0px 15px 15px 15px
      z-index 40

      .connectionOptionStatus
        display flex
        height 25px

        .connectionOptionStatusIndicator
          height 20px
          margin-top 5px
          margin-right 14px
          display flex
          align-items center
          div
            width 11px
            height 11px
            border-radius 5.5px
        .connectionOptionStatusIndicatorGood
          background var(--good)
        .connectionOptionStatusIndicatorBad
          background var(--bad)
        .connectionOptionStatusIndicatorPending
          background var(--pending)

        .connectionOptionStatusText
          height 20px
          margin-top 5px
          display flex
          align-items center

      .signerOptionSetWrap
        height 25px

      .signerOptionSet
        display flex
        height 21px
        margin-top 5px
        border-radius 10.5px
        letter-spacing 1px
        padding 0px 0px
        justify-content center
        align-items center
        padding 0px 3px 0px 3px
        background var(--ghostD)
        box-shadow cardDrop

        .signerOptionSetButton
          display flex
          justify-content center
          align-items center
          height 20px
          width 25px
          border-radius 10px

          svg
            color var(--outerspace)
            opacity 0.3
            transition var(--standardFast)
            transform translateZ(0)

      .signerOptionSet:hover
        .signerOptionSetButton
          svg
            opacity 0.5

          svg:hover
            opacity 1

.appInfo
  font-size 14px
  font-weight 300
  transition var(--standard)
  transform translateZ(0)
  padding-top 20px
  z-index 20

  .appInfoIcon
    transition var(--standard)
    height 30px
    display flex
    justify-content center
    align-items center
    flex-direction column
    transform translateZ(0)

    .appInfoHandle
      width 30px
      height 4px
      border-radius 2px
      background var(--outerspace03)
      transition var(--standard)
      transform translateZ(0)

  .appInfoLine
    left 0
    right 0
    transition var(--standard)
    display flex
    justify-content center
    align-items center
    flex-direction column
    transform translateZ(0)
    color var(--outerspace08)

  .appInfoLineReset:hover
    color var(--outerspace08)

  .appInfoLineReset
    margin-top 15px
    margin-left 4px
    text-align center
    font-size 11px
    text-transform uppercase
    font-weight 400
    letter-spacing 1px
    color var(--outerspace05)
    cursor pointer
    line-height 30px
    
    .pointer
      cursor pointer
   
    .appInfoLineResetConfirm
      color var(--outerspace)
      span
        margin-left 5px

  .appInfoLineVersion
    height 40px
    font-family FiraCode, monospace
    font-size 13px

.connectionCustomInput
  margin-top 0px
  margin-bottom 0px
  height 0px
  opacity 0
  position relative
  padding-top 0px
  transition var(--standardFast)
  background var(--ghostA)
  border-radius 8px
  transform translateZ(0)
  z-index 20

  input
    position relative
    outline none
    border none
    width 100%
    text-align center
    font-family OpenSans, sans-serif
    font-size 16px
    background transparent
    padding 10px
    font-weight 200
    color var(--outerspace)

.connectionCustomInputOn
  margin-top 10px
  margin-bottom 2px
  height auto
  opacity 1

.signerPermissionNetwork
   padding 0

.mainnetToggleLock
  position absolute
  right 16px
  top 0
  margin-top 22px
  height 20px
  width 40px
  border-radius 12px
  background var(--ghostC)
  display flex
  justify-content center
  align-items center

  svg
    color var(--outerspace03)

.networkBreak
  padding 32px 16px 0px 16px
  margin-bottom 8px
  font-size 11px
  text-transform uppercase
  letter-spacing 2px
  font-weight 600
  color var(--outerspace03)

.networkBreak:first-child
  padding 0px 16px 0px 16px

.networkAdd
  padding 32px 0px 16px 0px

  .networkAddButton
    font-size 14px
    height 48px
    background var(--ghostB)
    text-align center
    border-radius 24px
    padding 15px
    box-sizing border-box
    text-transform uppercase
    font-weight 400
    letter-spacing 2px
    cursor pointer
    *
      pointer-events none
    
  .networkAddButton:hover
    background var(--ghostC)
    color var(--good)
    
  
// .connectionOptionOn
//   background var(--ghostB)
//   // height 60px
//   // margin 0px -5px
//   // transform scale(1.05)
//   // .connectionOptionDetails
//   //   opacity 1
//   //   transition-delay 0ms, 30ms
//   //   transition-property height, opacity
//   //   pointer-events auto


.chainConfig
  padding 8px 8px
  position relative
  z-index 99999999

  .chainConfigRow
    position relative
    display flex
    justify-content space-between
    margin-bottom 8px
    
    .chainIdInput
      width 80px

    .chainSymbolInput
      width 102px
      text-transform uppercase

    input
      position relative
      height 28px
      background var(--ghostZ05)
      border-radius 8px
      box-sizing border-box
      font-size 13px
      font-weight 400

  .chainConfigRow:last-child
    margin-bottom 0px
    
.chainData
  padding 10px

.chainConfigSave
  cursor pointer
  padding 8px

.chainMore
  cursor pointer
  padding 8px

.signerDrawer
  position relative
  height 40px
  margin-top -20px

  .showControls
    position absolute
    height 20px
    border-radius 12px
    border 1px solid var(--ghostZ)
    background var(--ghostA)
    z-index 2
    top 9px
    left 50%
    width 100px
    margin-left -50px
    padding-bottom 2px
    letter-spacing 1px
    font-size 11px
    display flex
    justify-content center
    align-items center
    text-transform uppercase
    cursor pointer
    color var(--outerspace03)
    transition var(--standardFast)
    font-weight 400

    span 
      margin-left 4px

  .showControls:hover
    background var(--ghostC)
    color var(--outerspace)

  .showControlsLine
    height 1px
    position absolute 
    top 50%
    left 0
    right 0
    background var(--ghostZ)
    z-index 1
    margin-top 0px
