.accountView
  position absolute
  top 140px
  right 8px
  bottom 40px
  left 8px
  border-radius 30px
  z-index 4
  display flex
  justify-content center
  align-items center
  transition var(--standard)
  display flex
  justify-content center
  align-items center
  overflow hidden

  .accountViewMenu
    position absolute
    top 6px
    right 6px
    left 6px
    height 58px
    border-radius 24px
    box-shadow 0px 2px 4px var(--ghostX)
    z-index 59999999
    background var(--ghostA)
    box-shadow 0px 2px 4px var(--ghostY)
    border-bottom 2px solid var(--ghostZ)

    .accountViewTitle
      position absolute
      top 0
      right 0
      bottom 0
      left 0px
      display flex
      justify-content center
      align-items center
      text-transform uppercase
      letter-spacing 2px
      font-weight 400
      pointer-events none
      font-family 'MainFont'

      .accountViewIcon
        pointer-events none
        transform translate3d(0, 0, 0)
        position relative
        top 2px

      .accountViewText
        margin-left 12px
        font-size 12px

    .accountViewBack
      position absolute
      top 8px
      left 6px
      height 38px
      width 48px
      border-radius 16px
      display flex
      justify-content center
      align-items center
      -webkit-app-region no-drag
      transition none
      pointer-events auto
      transform translate3d(0, 0, 0)
      background var(--ghostB)
      cursor pointer
      border 3px solid var(--ghostZ)
      *
        pointer-events none

    .accountViewBack:hover
      background var(--ghostC)

  .accountViewMain
    position absolute
    top 0px
    right 0px
    left 0px
    bottom 0px
    animation-delay 0.08s
    z-index 3
    padding-top 30px

.accountView::before
  content ''
  position absolute
  top 0px
  left 0px
  right 0px
  height 40px
  background linear-gradient(var(--ghostZ) 30%, var(--ghostZ0))
  z-index 90
  // border-top-left-radius 30px
  // border-top-right-radius 30px
