.pendingSignerWrap
  position relative
  height 70px
  width calc(100% - 20px)
  box-shadow 0px 7px 6px -5px var(--outerspace03), 0px 1px 2px 0px rgba(6, 54, 82, 0.15), 0 0px 100px -50px rgba(6, 24, 52, .4), cardDrop
  background var(--outerspace) // var(--ghostB)
  // background linear-gradient(136deg, #084851, #2b353e)
  margin 10px 10px 10px 10px
  border-radius 12px
  z-index 99999999
  transition var(--standard)
  will-change transform
  transform translate(0px, 0px)
  opacity 1

  .pendingSignerInset
    position absolute
    top 0
    right 0
    bottom 3px
    left 0px
    background linear-gradient(136deg, #084851, #2b353e) // light
    border-radius 12px
    color var(--spacewhite)
    overflow hidden

    .pendingSignerTop
      display flex
      justify-content flex-start
      align-items flex-start
      height 70px
      width 100%
      min-height 70px

      .loadingLiveAddresses
        position absolute
        top 0
        right 0px
        bottom 0
        width 60px
        display flex
        flex-wrap wrap
        justify-content center
        align-items center
        padding 20px 20px
        overflow hidden
        .loadingLiveAddress
          min-width 6px
          min-height 6px
          height 6px
          width 6px
          border-radius 1px
          background var(--spacewhite)
          margin 5px 0px 0px 5px

      .pendingSignerLogo
        height 63px
        margin 0px 15px 0px 18px
        display flex
        justify-content center
        align-items center

      .pendingSignerText
        height 70px
        width calc(100% - 60px)
        display flex
        justify-content center
        flex-direction column
        padding-right 13px

        // .pendingSignerType
        //   text-transform uppercase
        //   line-height 15px
        //   font-size 14px
        //   font-weight 600
        //   letter-spacing 1px
        //   margin-bottom 4px

        .pendingSignerStatus
          font-size 11px
          line-height 14px
          font-weight 400

    .signerInterface
      font-size 16px
      width 100%
      transition var(--standard)
      position relative
      display flex
      text-align center
      flex-direction column
      overflow hidden
      font-size 14px
      // font-weight bold

      .trezorPhraseInput
        position relative
        display flex
        justify-content center
        align-items center
        background rgba(0, 50, 50, 0.7)
        height 36px
        border-radius 12px
        margin-top 10px
        width calc(100% - 40px)
        overflow hidden

        svg
          margin 0px 5px

        input 
          position absolute
          top 0
          right 0
          bottom 0
          left 0
          width 100%
          height 100%
          text-align center
          font-size 20px
          outline 0
          border 0
          background transparent
          color var(--spacewhite)
          letter-spacing 4px

      .trezorPinWrap
        width 100%
        position relative
        display flex
        justify-content center
        transition var(--standard)
        overflow hidden
        padding 0px 0px 20px 0px
        display flex
        justify-content center
        align-items center
        flex-direction column

        .signerPinMessage
          height 24px
          margin-top 15px
          // margin-bottom 15px
          width 140px
          display flex
          justify-content center
          align-items center
          transition var(--standard)
          overflow hidden
          position relative
          font-size 13px
          // text-transform uppercase
          padding-bottom 2px
          // box-shadow 0px 2px 3px var(--thick0), 0px 4px 9px var(--thick0) !important
          background rgba(0, 110, 140, 0.2)
          box-shadow 0px 2px 1px rgba(0, 50, 50, 0.5)

          .signerPinDelete
            position absolute
            display flex
            justify-content center
            align-items center
            top 0px
            bottom 0px
            width 25px
            left -40px
            border-radius 60px
            transition var(--standard)
            background var(--outerspace05)

          .signerPinDelete:hover
            background var(--outerspace08)

        .signerPinSubmit
          margin-top 10px
          margin-bottom 0px
          // padding-left 25px
          width 180px
          border-radius 60px

          .signerPinDelete
            left 0px

        .trezorPinInputWrap
          width 100%
          position relative
          display flex
          justify-content center
          transition var(--standard)
          padding 10px 0px 25px 0px
          height 100px

          .trezorPinInput
            display flex
            width 120px
            height 120px
            flex-wrap wrap-reverse
            z-index 1000

            .trezorPinInputButton
              min-width 40px
              min-height 40px
              display flex
              justify-content center
              align-items center

            .trezorPinInputButton:hover
              svg
                transform scale(1.7)

            .trezorPinInputButton:active
              svg
                transform scale(2.1)
                transition none
