.dappTile
  height 42px
  width 63px
  display flex
  justify-content center
  align-items center
  cursor pointer
  box-sizing border-box
  border-radius 8px
  // border-right 1px solid var(--ghostA)

  * 
    pointer-events none

  svg
    position relative

.dappTile:hover
  background var(--ghostA)

