.dappTile
  height 54px
  width 54px
  display flex
  justify-content center
  align-items center
  cursor pointer

  * 
    pointer-events none

  svg
    position relative
    top -3px
    

.dappTile:hover
  background var(--ghostD)

