@font-face
  font-family 'OpenSans'
  font-weight 200
  src url('./fonts/OpenSans/OpenSans-Light.ttf')

@font-face
  font-family 'OpenSans'
  font-style normal
  font-weight 300
  src url('./fonts/OpenSans/OpenSans-Regular.ttf')

@font-face
  font-family 'OpenSans'
  font-weight 400
  src url('./fonts/OpenSans/OpenSans-SemiBold.ttf')

@font-face
  font-family 'OpenSans'
  font-style bold
  font-weight 600
  src url('./fonts/OpenSans/OpenSans-Bold.ttf')

@font-face
  font-family 'FiraCode'
  font-weight 100
  src url('./fonts/FiraCode/FiraCode-Retina.ttf')

// @font-face
//   font-family 'FiraCode'
//   font-weight 100
//   src url('./fonts/FiraCode/FiraCode-Regular.ttf')

// @font-face
//   font-family 'FiraCode'
//   font-weight 100
//   src url('./fonts/FiraCode/FiraCode-Light.ttf')

@font-face
  font-family 'Exo2'
  font-weight 100
  src url('./fonts/Exo2/Exo2-Light.ttf')

@font-face
  font-family 'Exo2'
  font-weight 200
  src url('./fonts/Exo2/Exo2-Medium.ttf')

@font-face
  font-family 'Exo2'
  font-weight 300
  src url('./fonts/Exo2/Exo2-Regular.ttf')

@font-face
  font-family 'Exo2'
  font-weight 400
  src url('./fonts/Exo2/Exo2-Medium.ttf')

@font-face
  font-family 'Exo2'
  font-weight 500
  src url('./fonts/Exo2/Exo2-SemiBold.ttf')

@font-face
  font-family 'Exo2'
  font-weight 600
  src url('./fonts/Exo2/Exo2-Bold.ttf')

@font-face
  font-family 'Exo2'
  font-weight 700
  src url('./fonts/Exo2/Exo2-ExtraBold.ttf')


@font-face
  font-family 'Exo2'
  font-weight 800
  src url('./fonts/Exo2/Exo2-Black.ttf')

@keyframes shake 
  0% 
    transform translate3d(0px, 0px, 0)
  25% 
    transform translate3d(-1px, -1px, 0)
  50% 
    transform translate3d(1px, 1px, 0)
  75% 
    transform translate3d(-1px, 0px, 0) rotate(1deg)
  100% 
    transform translate3d(1px, -2px, 0) rotate(-1deg)


@keyframes shake-little 
  2% 
    transform: translate(0px, 0px) rotate(0.5deg) 
  4% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  6% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  8% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  10% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  12% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  14% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  16% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  18% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  20% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  22% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  24% 
    transform: translate(0px, 0px) rotate(0.5deg) 
  26% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  28% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  30% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  32% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  34% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  36% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  38% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  40% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  42% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  44% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  46% 
    transform: translate(0px, 0px) rotate(0.5deg) 
  48% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  50% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  52% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  54% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  56% 
    transform: translate(0px, 0px) rotate(0.5deg) 
  58% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  60% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  62% 
    transform: translate(0px, 0px) rotate(0.5deg) 
  64% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  66% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  68% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  70% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  72% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  74% 
    transform: translate(0px, 0px) rotate(0.5deg) 
  76% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  78% 
    transform: translate(0px, 0px) rotate(0.5deg) 
  80% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  82% 
    transform: translate(0px, 0px) rotate(0.5deg) 
  84% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  86% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  88% 
    transform: translate(0px, 0px) rotate(0.5deg) 
  90% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  92% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  94% 
    transform: translate(1px, 1px) rotate(0.5deg) 
  96% 
    transform: translate(0px, 1px) rotate(0.5deg) 
  98% 
    transform: translate(1px, 0px) rotate(0.5deg) 
  0%, 100% 
    transform: translate(0, 0) rotate(0)  

body
  // Shadows
  --cardDrop 0px 1px 1px rgba(0, 34, 32, 0.1)

  // Transistions
  --standardFaster .08s cubic-bezier(.82,0,.12,1) all
  --standardFast .16s cubic-bezier(.82,0,.12,1) all
  --standard .32s cubic-bezier(.82,0,.12,1) all
  --standardVibe .48s cubic-bezier(.82,0,.12,1) all
  --standardSlow .64s cubic-bezier(.82,0,.12,1) all
  --standardSlower .96s cubic-bezier(.82,0,.12,1) all
  --standardSlowest 1.6s cubic-bezier(.82,0,.12,1) all
  --slowRocket 2.4s cubic-bezier(.52,0,.12,1) all

  --cubic cubic-bezier(.82,0,.12,1)

  font-feature-settings 'ss04', 'zero'

.frameOverlay
  position absolute
  top 0 
  right 0
  bottom 0 
  left 0
  background linear-gradient(-35deg, var(--overlayA) 0%, var(--overlayB) 100%)
  z-index 9999999999999999
  // background-blend-mode screen
  pointer-events none
  // opacity 0.01
  // pointer-events none

.clip
  *
    transition none !important

.light, .dark
  --hardware rgba(110, 230, 255, 1)
  --smart rgba(150, 255, 210, 1)
  --smart04 rgba(150, 255, 210, 0.4)
  --smart02 rgba(150, 255, 210, 0.2)
  --smartShade rgba(100, 205, 150, 1)
  --hot rgba(255, 150, 150, 1)

  --shader rgba(16, 44, 60, 0.7)
  // --oldPhase #212d2e
  // --oldPhaseShade #1c2526
  --phase rgba(18, 45, 56, 1)
  --phaseLight rgba(28, 60, 76, 1)
  // --phaseLighter rgba(38, 70, 86, 1)
  --phaseShade rgba(8 , 20, 26, 1)

  --goodHighlight rgb(120, 255, 235)
  --goodLight rgb(0, 220, 200)
  --goodOver rgba(0, 90, 100, 1)
  --good rgb(0, 210, 190)
  --goodUp rgb(120, 230, 200)

  --goodShade rgb(0, 190, 160)
  --good0 rgba(0, 210, 180, 0)
  --good01 rgba(0, 210, 180, 0.1)
  --good02 rgba(0, 210, 180, 0.2)
  --good03 rgba(0, 210, 180, 0.3)
  --good04 rgba(0, 210, 180, 0.4)
  --good06 rgba(0, 210, 180, 0.6)

  --goodDark rgba(0, 70, 50, 1)

  --badOver rgb(140, 00, 50)
  --bad rgb(255, 110, 155)
  --bad01 rgba(255, 110, 155, 0.1)
  --bad04 rgba(255, 110, 155, 0.4)
  --bad06 rgba(255, 110, 155, 0.6)




  // --badLight rgb(255, 104, 159)
  // --badLighter rgb(255, 107, 163)
  // --badShade rgb(230, 80, 135)
  // --badDark rgb(100, 0, 00)

  // --pendingHighlight rgb(104, 121, 255)
  --pendingOver rgb(34, 0, 65)
  --pending rgb(134, 110, 255)
  // --pending02 rgba(94, 110, 255, 0.4)
  // --pending01 rgba(94, 110, 255, 0.2)
  --pending04 rgba(134, 110, 255, 0.4)
  --pendingShade rgb(114, 90, 235)
  --pendingShade2 rgb(104, 80, 225)
  --pendingOver rgb(240, 240, 255)

  --foreverwhite rgba(242, 242, 255, 1)

  // --moon rgba(242, 168, 59, 1)
  --moonHighlight rgba(255, 215, 215, 1)
  --moonOver rgba(165, 25, 25, 1)
  --moon rgba(255, 185, 185, 1)
  --moonDark rgba(185, 85, 85, 1)
  --moon06 rgba(255, 145, 105, 0.6)
  --moonLight rgba(255, 190, 190, 1)

  // // Shadows
  // --cardDrop 0px 1px 1px rgba(0, 34, 32, 0.1)

  // // Transistions
  // --standard .32s cubic-bezier(.82,0,.12,1) all
  // --standardVibe .48s cubic-bezier(.82,0,.12,1) all
  // --standardSlow .64s cubic-bezier(.82,0,.12,1) all
  // --var(--standardSlower) .96s cubic-bezier(.82,0,.12,1) all
  // --standardSlowest 1.6s cubic-bezier(.82,0,.12,1) all
  // --standardFast .16s cubic-bezier(.82,0,.12,1) all

  // --slowRocket 2.4s cubic-bezier(.52,0,.12,1) all
  // // 0.18s cubic-bezier(0.8, 1, 0.2, 1) all
  // --cubic cubic-bezier(.82,0,.12,1)

.light
  // --bg rgba(228, 232, 248, 1) // #dadfea // #dce1e8
  // --bg0 rgba(228, 232, 248, 0)
  --v #4e5758
  --outerspace01 rgba(9, 29, 80, 0.1)
  --outerspace02 rgba(12, 32, 80, 0.2)
  --outerspace03 rgba(15, 35, 80, 0.3)
  --outerspace05 rgba(18, 38, 80, 0.5)
  --outerspace06 rgba(21, 41, 80, 0.6)
  --outerspace07 rgba(24, 44, 80, 0.7)
  --outerspace08 rgba(27, 47, 80, 0.8)
  --outerspace rgba(30, 50, 80, 1)

  --nebula #3a4547
  // --outerspaceShade #1c2526
  --outerspaceLight #29393a
  --outerspacePulse #395153
  --outerspacePhase rgba(30, 65, 70, 1)
  // --outerspacePhaseDark rgba(20, 45, 50, 1)
  --outerspaceShader rgb(16, 36, 38) // rgb(24, 54, 56)
  --outerspaceDark #0b1819
  // --outerspaceDarker #02090a
  --spacewhite rgba(247, 251, 255, 1)
  // --spacewhite07 rgba(247, 251, 255, 0.7)
  // --spacewhite05 rgba(247, 251, 255, 0.5)

  // --ghostX rgba(137, 137, 160, 1)
  --ghostX02 rgba(193, 193, 219, 0.2)
  --ghostX04 rgba(193, 193, 219, 0.4)
  --ghostX09 rgba(193, 193, 219, 0.9)
  --ghostX rgba(193, 193, 219, 1)
  --ghostY rgba(199, 199, 224, 1)
  --ghostZ05 rgba(205, 205, 229, 0.5)
  --ghostZ rgba(205, 205, 229, 1)
  --ghostA rgba(217, 217, 237, 1)
  --ghostB rgba(223, 223, 242, 1)
  --ghostC0 rgba(229, 229, 247, 0)
  --ghostC rgba(229, 229, 247, 1)
  --ghostD rgba(235, 235, 252, 1)
  --ghostE04 rgba(241, 241, 255, 0.4)
  --ghostE rgba(241, 241, 255, 1)
  --ghostF rgba(247, 247, 255, 1)
  --ghostG rgba(253, 253, 255, 1)

  --moon rgba(245, 110, 110, 1)
  --moonDark rgba(225, 80, 80, 1)
  --moonLight rgba(255, 135, 135, 1)
  --moonOver rgba(255, 225, 240, 1)

  --good rgb(0, 175, 145)
  --goodOver rgba(230, 255, 255, 1)
  --goodUp rgb(0, 200, 200)
  --goodDark rgb(0, 90, 90)
  // --bad rgba(215, 100, 135, 1)
  --badOver rgba(255, 235, 240, 1)
  --bad rgba(235, 90, 140, 1) // rgba(235, 90, 140, 1)
  
  ::selection 
    background-color var(--outerspace02)

  --overlayA rgba(255, 100, 255, 0.025) 
  --overlayB rgba(30, 150, 200, 0.075)

  // --moon06 rgba(255, 150, 100, 0.6)
  // --moon rgba(5, 120, 100, 1)
  // --moonUp rgba(5, 80, 100, 1)

  // --moon rgba(255, 145, 105, 1)
  // --moon rgba(255, 140, 110, 1)
  // -moon rgb(250, 160, 130)

  // --warm rgba(110, 75, 110, 1) // rgba(255, 225, 225, 1)

  // Invert
  // --ghostG rgba(127, 127, 160, 1)
  // --ghostF rgba(145, 145, 178, 1)
  // --ghostE rgba(161, 161, 194, 1)
  // --ghostD rgba(175, 175, 208, 1)
  // --ghostC rgba(187, 187, 220, 1)
  // --ghostB rgba(200, 200, 230, 1)
  // --ghostA rgba(205, 205, 238, 1)
  // --ghostZ rgba(211, 211, 244, 1)
  // --ghostY rgba(218, 218, 248, 1)
  // --ghostX rgba(225, 225, 255, 1)





  // --ghostF rgba(240, 240, 241, 1)
  // --ghostG rgba(245, 245, 246, 1)
  // --ghostH rgba(250, 250, 251, 1)
  // --ghostI rgba(255, 255, 255, 1)
  // --ghostE rgba(244, 250, 255, 1)
  // --ghostF rgba(248, 254, 255, 1)
  // --ghostG rgba(252, 255, 255, 1)

  // --ghostA rgba(17, 20, 28, 1) 
  // --ghostB rgba(23, 27, 35, 1) 
  // --ghostC rgba(28, 33, 42, 1) 
  // --ghostD rgba(34, 38, 49, 1) 
  // --ghostE rgba(41, 42, 56, 1)
  // --ghostF rgba(47, 45, 63, 1)
  // --ghostG rgba(53, 53, 70, 1)

  // --ghostG rgba(232, 236, 248, 1)
  // --ghostH rgba(227, 232, 245, 1)

  // --good rgb(11, 192, 175)
  // --bad rgb(200, 0, 135)

  --thinner rgba(16, 44, 180, .02)
  --thin rgba(16, 44, 180, .04)
  --thick rgba(16, 44, 180, .07)
  --doubleThick rgba(16, 44, 180, .14)
  --tripleThick rgba(16, 44, 180, .21)
  --thick0 rgba(16, 44, 180, 0)

.dark
  --bg rgba(18, 22, 30, 1)  // #dadfea // #dce1e8
  --bg0 rgba(18, 22, 30, 0)  // #dadfea // #dce1e8
  --v #4e5758
  --outerspace01 rgba(217, 225, 255, 0.1)
  --outerspace02 rgba(219, 227, 255, 0.2)
  --outerspace03 rgba(221, 229, 255, 0.3)
  --outerspace04 rgba(223, 231, 255, 0.4)
  --outerspace05 rgba(225, 233, 255, 0.5)
  --outerspace06 rgba(227, 235, 255, 0.6)
  --outerspace07 rgba(229, 237, 255, 0.7)
  --outerspace08 rgba(231, 239, 255, 0.8)
  --outerspace09 rgba(233, 241, 255, 0.9)
  --outerspace rgba(236, 241, 255, 1)
  --nebula #3a4547
  
  // --outerspaceShade #1c2526
  --outerspaceLight #29393a
  --outerspacePulse #395153
  --outerspacePhase rgba(30, 65, 70, 1)
  // --outerspacePhaseDark rgba(20, 45, 50, 1)
  --outerspaceShader rgb(16, 36, 38) // rgb(24, 54, 56)
  --outerspaceDark #0b1819
  // --outerspaceDarker #02090a
  --spacewhite rgba(38, 42, 50, 1) 
  // --spacewhite07 rgba(247, 251, 255, 0.7)
  // --spacewhite05 rgba(247, 251, 255, 0.5)

  // --ghostA rgba(18, 15, 15, 1) 
  // --ghostA rgba(23, 20, 20, 1) 
  // --ghostB095 rgba(25, 22, 17, 0.95) 
  // --ghostX09 rgba(16, 16, 15, 0.9)
  // --ghostX04 rgba(16, 16, 15, 0.4)
  // --ghostX rgba(16, 16, 15, 1)

  --ghostX09 rgba(20, 20, 19, 0.9)
  --ghostX04 rgba(20, 20, 19, 0.4)
  --ghostX rgba(20, 20, 19, 1)
  --ghostY rgba(24, 24, 23, 1)
  --ghostZ05 rgba(28, 28, 27, 0.5)
  --ghostZ rgba(28, 28, 27, 1)
  --ghostA rgba(34, 34, 34, 1)
  --ghostB rgba(40, 40, 41, 1)
  --ghostC0 rgba(46, 46, 48, 0)
  --ghostC rgba(46, 46, 48, 1)
  --ghostD rgba(52, 52, 55, 1)
  --ghostE04 rgba(58, 58, 62, 0.4)
  --ghostE rgba(58, 58, 62, 1)
  --ghostF rgba(64, 64, 69, 1)
  --ghostG rgba(70, 70, 76, 1)

  --moon rgba(255, 165, 155, 1)

  ::selection 
    background-color var(--outerspace02)

  --overlayA rgba(230, 0, 180, 0.02) 
  --overlayB rgba(30, 140, 180, 0.02)

  //--warm rgba(245, 230, 230, 1)

  // --ghostA rgba(27, 23, 29, 1)
  // --ghostB rgba(32, 28, 34, 1)
  // --ghostC rgba(37, 33, 39, 1)
  // --ghostD rgba(42, 38, 44, 1)
  // --ghostE rgba(47, 43, 49, 1)
  // --ghostF rgba(52, 48, 54, 1)
  // --ghostG rgba(57, 53, 59, 1)



  // --ghostG rgba(232, 236, 248, 1)
  // --ghostH rgba(227, 232, 245, 1)

  // --highlightest rgba(38, 42, 46, 1) 
  // --highlighter rgba(36, 40, 44, 1) 
  // --highlight rgba(34, 38, 42, 1) 
  // --light rgba(32, 36, 40, 1) 
  // --lowlight rgba(30, 34, 38, 1) 
  // --lowerlight rgba(28, 32, 36, 1) 
  // --lightShade rgba(24, 28, 34, 1)  // #d9e1ef
  // --lightDark rgba(18, 22, 30, 1)
  --thinner rgba(0, 0, 10, .1)
  --thin rgba(0, 0, 10, .2)
  --thick rgba(0, 0, 10, .3)
  --doubleThick rgba(0, 0, 10, .4)
  --tripleThick rgba(0, 0, 10, .5)
  --thick0 rgba(0, 0, 10, 0)


@keyframes cardShow
  0%
    opacity 0

  15.82%
    opacity 0
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.026, 0, 0, 1)

  21.02%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.292, 0, 0, 1)

  35.34%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.681, 0, 0, 1)

  49.55%
    opacity 1
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 2.594, 0, 0, 1)

  78.18%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.018, 0, 0, 1)

  100%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)


// @keyframes cardHide
//   0%
//     opacity 1
//     transform translateX(0px)

//   50%
//     opacity 0
//     transform translateX(100px)

//   100%
//     opacity 0
//     transform translateX(500px)

.cardShow
  z-index 3000001
  animation cardShow 400ms linear both
  animation-delay 0s

.cardHide
  // display none
  // z-index 3000000
  // animation cardHide 200ms cubic-bezier(.82,0,.12,1) both// 700ms linear both400s normal forwards cubic-bezier(.82,0,.12,1)
  // transition var(--standardSlower)
  opacity 0 // !important
  // transform translateX(500px)
  pointer-events none

