.requestQRModal, .errorModal
  position absolute
  display flex
  flex-direction column
  width 100%
  height 100%
  justify-content center
  align-items center
  background-color rgba(0, 0, 0, 0.9)
  z-index: 10000

  .requestQR, .errorMessage
    height 200px
    display flex
    flex-direction column
    justify-content center
    align-items center

  .modalButton
    margin-top 30px

    .confirm, .cancel
      margin: 0 10px;
      font-size: 10px;
      background-color: var(--outerspace02);
      height: 20px;
      padding: 0 20px 0 22px;
      border-radius: 8px;
      letter-spacing: 2px;
      font-weight: 500;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;

    .confirm:hover, .cancel:hover
      background-color: var(--outerspace01);

    .disabled
      background-color: var(--outerspace01);
