.command
  height 63px
  position absolute
  top 10px
  left 6px
  right 6px
  z-index 3000000

  .commandTitle
    position absolute 
    left 73px
    right 70px
    top 1px
    bottom 0
    display flex
    justify-content center
    align-items center
    text-transform uppercase
    letter-spacing 2px
    font-weight 600
    font-size 11px

  .commandItem
    height 38px
    width 48px
    top 8px
    border-radius 16px
    display flex
    justify-content center
    align-items center
    -webkit-app-region no-drag
    transition none
    pointer-events auto
    transform translate3d(0, 0, 0)
    background var(--ghostB)
    position absolute
    cursor pointer
    border 3px solid var(--ghostZ)


    *
      pointer-events none

  .commandItem:hover
    background var(--ghostC)

  .commandItemBack
    left 14px

  .commandItemClose
    right 14px

.commandBack
  padding 20px
  cursor pointer
  position absolute
  top 0
  left 0
  bottom 0
  width 64px

.commandClose
  padding 20px
  cursor pointer
  position absolute
  top 0
  right 0
  bottom 0
  width 64px
