*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*:focus,
*:active,
*:active:focus,
*.focus,
*:active.focus,
*.active.focus,
*::selection,
*::-moz-selection {
  outline: 0 !important;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  overflow: hidden;
}
button.default {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 0px;
  background: transparent;
  outline: 0 !important;
}

