// Colors
bg = #dadfea // #dce1e8
v = #4e5758
outerspace01 = rgba(33, 45, 46, 0.1)
outerspace03 = rgba(33, 45, 46, 0.3)
outerspace05 = rgba(33, 45, 46, 0.5)
outerspace08 = rgba(33, 45, 46, 0.8)
nebula = #3a4547
outerspace = #212d2e
outerspaceShade = #1c2526
outerspaceLight = #29393a
outerspacePulse = #395153
outerspaceShader = rgb(16, 36, 38) // rgb(24, 54, 56)
outerspaceDark = #0b1819
outerspaceDarker = #02090a
spacewhite = rgba(247, 251, 255, 1)
spacewhite07 = rgba(247, 251, 255, 0.5)
highlightest = rgba(244, 250, 255, 1)
highlighter = rgba(240, 246, 255, 1)
highlight = rgba(237, 242, 255, 1)
lowlight = rgba(230, 236, 248, 1)
lowerlight = rgba(227, 232, 250, 1)
light = #eaf0f9
lightShade = rgba(220, 224, 244, 1) // #d9e1ef
lightShader = rgba(190, 194, 214, 1)
thinner = rgba(16, 44, 180, .02)
thin = rgba(16, 44, 180, .04)
thick = rgba(16, 44, 180, .07)
doubleThick = rgba(16, 44, 180, .14)
tripleThick = rgba(16, 44, 180, .21)
thick0 = rgba(16, 44, 180, 0)

whiteglow = rgba(232, 236, 249, 1)
whiteglowShade = rgba(208, 212, 225, 1)

hardware = rgba(170, 240, 255, 1)
smart = rgba(150, 255, 210, 1)
smart04 = rgba(150, 255, 210, 0.4)
smart02 = rgba(150, 255, 210, 0.2)
smartShade = rgba(100, 205, 150, 1)
hot = rgba(255, 150, 150, 1)

shader = rgba(16, 44, 60, 0.7)

phase = #212d2e
phaseShade = #1c2526

good = rgb(0, 210, 180)
goodShade = rgb(0, 190, 160)
good01 = rgba(0, 210, 180, 0.1)
good02 = rgba(0, 210, 180, 0.2)
good03 = rgba(0, 210, 180, 0.3)
good04 = rgba(0, 210, 180, 0.4)
good06 = rgba(0, 210, 180, 0.6)

bad = rgb(250, 100, 155)
bad01 = rgba(250, 100, 155, 0.1)
bad02 = rgba(250, 100, 155, 0.2)
bad03 = rgba(250, 100, 155, 0.3)
bad04 = rgba(250, 100, 155, 0.4)
bad06 = rgba(250, 100, 155, 0.6)
bad08 = rgba(250, 100, 155, 0.8)
badLight = rgb(255, 104, 159)
badLighter = rgb(255, 107, 163)
badShade = rgb(230, 80, 135)
badDark = rgb(100, 0, 00)

pending = rgb(94, 110, 255)
pending02 = rgba(94, 110, 255, 0.4)
pending01 = rgba(94, 110, 255, 0.2)
pending04 = rgba(94, 110, 255, 0.4)
pending08 = rgba(94, 110, 255, 0.8)
pendingShade = rgb(74, 90, 235)
pendingShader = rgb(64, 80, 225)

// Shadows
cardDrop = 0px 1px 1px rgba(0, 34, 32, 0.1)
reverseCardDrop = 0px -1px 1px rgba(0, 34, 32, 0.1)

// Transistions
standard = .32s cubic-bezier(.82,0,.12,1) all
standardSlow = .64s cubic-bezier(.82,0,.12,1) all
standardSlower = .96s cubic-bezier(.82,0,.12,1) all
standardSlowest = 1.6s cubic-bezier(.82,0,.12,1) all
standardFast = .16s cubic-bezier(.82,0,.12,1) all
standardFaster = .08s cubic-bezier(.82,0,.12,1) all
// 0.18s cubic-bezier(0.8, 1, 0.2, 1) all
cubic = cubic-bezier(.82,0,.12,1)

body
  width 100%
  height 100%
  margin 0
  padding 0

  #frame
    width 100%
    height 100%
    position relative
    border-radius 6px

    .top
      position absolute
      top 0px
      left 0
      right 0
      height 100px
      padding-bottom 50px
      // border-radius 6px
      -webkit-app-region drag
      background spacewhite

    .webwrap
      position absolute
      top 0px
      left 0
      right 0
      bottom 0
      transition standard

      .view
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        // border-radius 6px
        overflow hidden
        // box-shadow reverseCardDrop

      webview
        height 100%
        width 100%
        // border-radius 6px
