._txLabel
  font-weight 600
  font-size 10px
  text-transform uppercase
  font-family 'Exo2'
  margin-left 3px
  letter-spacing 3px
  padding 6px 0px 3px 9px

._txData
  position relative
  width 100%
  margin-bottom 12px
  z-index 100000
  
  ._txDataInner
    border-radius 15px
    margin 0px 6px


    ._txDataValue
      border-radius 12px
      font-size 13px
      display flex
      justify-content center
      align-items center
      height 42px
      border-radius 12px
      display flex
      justify-content center
      align-items center
      -webkit-app-region no-drag
      transition none
      pointer-events auto
      transform translate3d(0, 0, 0)
      font-family 'Exo2'
      background var(--ghostZ)
      border 3px solid var(--ghostZ)
      text-transform uppercase
      font-weight 600

      span
        word-spacing 0px

      svg
        position relative
        top -2px
        padding 0px 0px

    ._txDataValue:hover
      background var(--ghostA)
      cursor pointer

    ._txDataValueMethod
      color var(--moon)

._txData:hover
  z-index 1000001
