.badgeWrap
  position absolute
  right 0px
  bottom 0px
  left 0px
  top 0px
  z-index 1000000001
  background var(--ghostZ)
  display flex
  justify-content center
  align-items center


.badge
  width calc(100% - 20px)
  transform translateY(700px)
  border-radius 12px
  background var(--ghostA)
  z-index 1
  transition var(--standard)
  font-size 18px
  font-weight 300
  padding-bottom 120px
  padding-top 70px
  box-shadow 0px 20px 40px var(--ghostX)
  height 196px
  color var(--outerspace)

  .badgeMessage, .badgeInput
    position relative
    z-index 10

  .badgeMessage
    height 120px
    display flex
    justify-content center
    align-items center
    text-align center
    padding 0px 40px 0px 40px

  .badgeInput
    width 100%
    display flex
    justify-content center
    margin-bottom 5px

    .badgeInputButton
      width 400px
      display flex
      justify-content center
      align-items center
      cursor pointer

      .badgeInputInner
        height 33px
        width calc(80% - 2px)
        display flex
        justify-content center
        align-items center
        border-radius 12px
        text-transform uppercase
        font-size 14px
        font-weight 400
        letter-spacing 1px
        margin-left 1px
        cursor pointer
        background var(--ghostA)
        border 2px solid var(--ghostY)
        height 40px

      .badgeInputInner:hover
        background var(--ghostB)

      .badgeInputSmall
        font-size 11px
        height 28px
        width calc(60% - 2px)
