.macTitle
  height 30px
  position absolute
  top 0
  left 0
  padding 0px 5px 0px 5px
  z-index 50000
  display flex
  justify-content center
  align-items center
  -webkit-app-region none

  &:hover
    .titleClose
      background #fc615d

    .titleMin
      background #fdbd41

    .titleFull
      background #34c84a

  .macTitleButton
    height 30px
    width 30px
    position relative
    display flex
    justify-content center
    align-items center
    -webkit-app-region none

  .titleClose
    width 12px
    height 12px
    background rgba(0, 0, 50, 0.15)
    border-radius 50%
    pointer-events none

  .titleMin
    width 12px
    height 12px
    background rgba(0, 0, 50, 0.15)
    border-radius 50%
    pointer-events none

  .titleFull
    width 12px
    height 12px
    background rgba(0, 0, 50, 0.15)
    border-radius 50%
    pointer-events none
