.addTokenTop
  display flex
  justify-content center
  align-items center
  flex-direction column

.addTokenTitle
  padding 40px 0px 60px 0px
  font-size 24px
  font-weight 300

.addToken
  font-size 16px
  position relative
  z-index 3
  word-break break-word
  width 100%
  box-sizing border-box
  padding-bottom 32px

.newTokenView
  min-height 100%
  width 100%
  display flex
  justify-content center
  align-items center
  flex-direction column

.newTokenChainSelectTitle
  padding-bottom 40px
  display flex
  justify-content center
  align-items center
  flex-direction column

.newTokenErrorTitle
  text-align center
  font-size 14px
  font-weight 300
  box-sizing border-box
  margin-bottom 20px

.newTokenChainAddress
  font-family 'FiraCode'
  font-size 18px
  svg
    margin 4px 5px

.newTokenChainSelectChain
  width 100%

.newTokenChainSelectSubtitle
  margin-top 3px
  font-size 10px
  font-weight 300
  text-transform uppercase

.newTokenChainSelectFooter
  margin-top 40px
  margin-bottom: 40px
  font-size 10px
  font-weight 300
  text-align: center
  text-transform uppercase

  .newTokenEnableChainLink
    color: var(--good)
    margin-left: 4px
    display: inline-block
    cursor: pointer

  .newTokenEnableChainLink:hover
    color: var(--goodOver)

.tokenRow
  width 100%
  display flex
  justify-content space-between
  padding 0px 5px 40px 5px
  box-sizing border-box

.tokenRow:last-child
  padding 0px 5px 0px 5px

.tokenName
  width 100%
  text-align center

.tokenAddress
  width 100%
  text-align center

.tokenLogoUri
  width 100%
  text-align center

.tokenChainId
  width calc(35% - 5px)

.tokenDecimals
  width calc(50% - 5px)
  text-align center

.tokenSymbol
  width calc(50% - 5px)
  text-align center

.tokenExplorer
  width 100%

.tokenRpc
  width 100%  

.tokenInput
  background transparent
  outline none
  border none
  text-align center
  font-size 16px
  padding 0px
  width 100%
  font-family 'MainFont'
  background var(--ghostA)
  border-radius 20px
  padding 23px 3px 20px 3px
  font-weight 300
  color var(--outerspace)
  
  &.dropdown
    margin-top: 17px
    padding: 0px

.tokenInputLabel
  font-size 12px
  text-transform uppercase
  font-weight 300
  input
    margin-bottom 5px

.tokenInputDim
  font-size 16px !important
  font-weight 300 !important
  color var(--outerspace03)

.tokenInputAddress
  font-family 'FiraCode'
  font-weight 300
  font-size 14px

.tokenSetAddress
  font-size 13px
  text-transform uppercase
  font-weight 300
  padding 10px 50px
  background var(--ghostA)
  border-radius 12px
  cursor pointer
  margin-top 10px

.tokenSetAddress:hover
  background var(--ghostB)

.addTokenSubmit
  background var(--ghostA)
  margin auto
  height 64px
  border-radius 20px
  font-weight 300
  box-sizing border-box
  padding 12px 24px
  text-align center
  display flex
  justify-content space-around
  align-items center
  font-size 15px
  text-transform uppercase
  border 3px solid var(--ghostZ)
  pointer-events none

  span
    opacity 0.4

  svg
    margin-right 10px

.addTokenSubmit:hover
  background var(--ghostA)

.addTokenSubmitEnabled
  background var(--ghostB)
  cursor pointer
  pointer-events auto
  span
    pointer-events none
    opacity 1

.addTokenSubmitEnabled:hover
  background var(--ghostC)
