.signerRequests
  position relative
  z-index 200
  display flex
  justify-content center
  align-items center
  flex-direction column
  padding 20px 20px 0px 20px
  font-weight 200
  border-top 1px solid lightShade

  .noRequests
    font-weight 200
    font-size 16px
    margin-bottom 40px

  .signerRequestTitle
    height: 30px
    display flex
    justify-content center
    align-items center

  .signerRequestItems
    overflow scroll

  .signerRequest
    border-radius 3px
    display flex
    justify-content space-between
    align-items center
    position relative
    width 100%
    background #f5f6f9
    overflow hidden
    margin-bottom 20px
    display flex
    justify-content center
    align-items center
    flex-direction column

  .signerRequestSuccess
    background good

    .approveTransactionPayload
      color #116338

  .signerRequestPending
    background #ffd7a5
    .approveTransactionPayload
      color #0d3a56

  .signerRequestDeclined
    background bad
    .approveTransactionPayload
      color #491410

  .requestNotice
    min-height 120px
    font-size 16px
    display flex
    justify-content center
    align-items center

  .approveTransaction
    display flex
    width 100%
    // margin-bottom 65px
    flex-direction column

    .approveTransactionTitle
      padding 10px
      background #fdfdfe
      font-weight 400
      font-size 14px

    .approveTransactionPayload
      padding 6px
      font-size 11px
      font-weight 300

      div
        white-space nowrap

  .unknownType
    display flex
    justify-content center
    align-items center
    width 100%
    margin-bottom 60px
    padding 20px

  .requestApproveWithPassword
    position relative
    width 100%
    border-bottom-left-radius 3px
    border-bottom-right-radius 3px
    font-weight 400
    font-size 12px
    text-transform uppercase
    letter-spacing 2px
    background #fdfdfe
    -webkit-app-region no-drag

    .passwordInput
      position relative
      height 50px
      width calc(100% - 40px)
      border 0
      outline 0
      text-align center
      font-size 20px
      margin 0px 20px 10px 20px
      border-bottom 1px solid outerspace

    .passwordInputLabel
      display: flex
      justify-content center
      font-size 10px

  .requestApprove
    position relative
    height 60px
    width 100%
    border-bottom-left-radius 3px
    border-bottom-right-radius 3px
    font-weight 400
    font-size 12px
    text-transform uppercase
    letter-spacing 2px
    background #fdfdfe
    -webkit-app-region no-drag

    .requestDecline
      position absolute
      left 0
      top 0
      bottom 0
      width 50%
      display flex
      justify-content center
      align-items center
      -webkit-app-region no-drag

    .requestSign
      position absolute
      right 0
      top 0
      bottom 0
      width 50%
      display flex
      justify-content center
      align-items center
      border-top-left-radius 6px
      -webkit-app-region no-drag
