.badge
  position absolute
  right 5px
  bottom 25px
  left 5px
  transform translateY(300px)
  border-radius 16px
  background var(--ghostC)
  z-index 999999999999
  transition var(--standard)
  font-size 18px
  font-weight 300
  padding-bottom 60px
  padding-top 30px
  box-shadow 0px 0px 100px var(--ghostX), 0px 0px 200px var(--ghostX)
  height 196px

  .badgeMessage, .badgeInput
    position relative
    z-index 10
    color var(--outerspace)

  .badgeMessage
    height 120px
    display flex
    justify-content center
    align-items center
    text-align center
    padding 0px 40px 0px 40px

  .badgeInput
    width 100%
    display flex
    justify-content center
    margin-bottom 5px

    .badgeInputButton
      width 400px
      display flex
      justify-content center
      align-items center
      cursor pointer

      .badgeInputInner
        background var(--ghostD)
        height 33px
        width calc(80% - 2px)
        display flex
        justify-content center
        align-items center
        border-radius 15px
        text-transform uppercase
        font-size 14px
        font-weight 400
        letter-spacing 1px
        margin-left 1px
        cursor pointer

      .badgeInputInner:hover
        background var(--ghostE)

      .badgeInputSmall
        font-size 11px
        height 23px
        width calc(60% - 2px)
