.launcher
  overflow-x auto
  overflow-y hidden

.launcherTiles
  display inline-flex
  position relative
  padding-right 6px

.dappTile
  height 42px
  width 60px
  display flex
  justify-content center
  align-items center
  cursor pointer
  box-sizing border-box
  border-radius 8px
  background var(--ghostA)
  margin 0px 0px 0px 5px
  // border-right 1px solid var(--ghostA)

  * 
    pointer-events none

  svg
    position relative

.dappTile:hover
  background var(--ghostB)

