@font-face
  font-family 'OpenSans'
  font-weight 200
  src url('./fonts/OpenSans/OpenSans-Light.ttf')

@font-face
  font-family 'OpenSans'
  font-style normal
  font-weight 300
  src url('./fonts/OpenSans/OpenSans-Regular.ttf')

@font-face
  font-family 'OpenSans'
  font-weight 400
  src url('./fonts/OpenSans/OpenSans-SemiBold.ttf')

@font-face
  font-family 'OpenSans'
  font-style bold
  font-weight 600
  src url('./fonts/OpenSans/OpenSans-Bold.ttf')

@font-face
  font-family 'FiraCode'
  font-weight 300
  src url('./fonts/FiraCode/FiraCode-Retina.ttf')

@font-face
  font-family 'Raleway'
  font-weight 200
  src url('./fonts/Raleway/Raleway-Light.ttf')

@font-face
  font-family 'Raleway'
  font-style normal
  font-weight 300
  src url('./fonts/Raleway/Raleway-Regular.ttf')

@font-face
  font-family 'Raleway'
  font-weight 400
  src url('./fonts/Raleway/Raleway-SemiBold.ttf')

@font-face
  font-family 'Raleway'
  font-style bold
  font-weight 600
  src url('./fonts/Raleway/Raleway-Bold.ttf')
