// Colors
bg = #dadfea // #dce1e8
v = #4e5758

shift = rgba(33, 55, 86, 1)
shift08 = rgba(33, 55, 86, 0.8)
shift05 = rgba(33, 55, 86, 0.5)

outerspace01 = rgba(33, 45, 46, 0.1)
outerspace03 = rgba(33, 45, 46, 0.3)
outerspace05 = rgba(33, 45, 46, 0.5)
outerspace08 = rgba(33, 45, 46, 0.8)
nebula = #3a4547
outerspace = #212d2e
outerspaceShade = #1c2526
outerspaceLight = #29393a
outerspacePulse = #395153
outerspaceShader = rgb(16, 36, 38) // rgb(24, 54, 56)
outerspaceDark = #0b1819
outerspaceDarker = #02090a
spacewhite = rgba(247, 251, 255, 1)
spacewhite07 = rgba(247, 251, 255, 0.5)

highlightest = rgba(244, 250, 255, 1)
highlighter = rgba(240, 246, 255, 1)
highlight = rgba(237, 242, 253, 1)
lowlight = rgba(232, 236, 248, 1)
lowlight0 = rgba(232, 236, 248, 0)
lowerlight = rgba(227, 232, 245, 1)
light = rgba(235, 240, 250, 1)
lightShade = rgba(220, 224, 244, 1) // #d9e1ef
lightShader = rgba(190, 194, 214, 1)
thinner = rgba(16, 44, 180, .02)
thin = rgba(16, 44, 180, .04)
thick = rgba(16, 44, 180, .07)
doubleThick = rgba(16, 44, 180, .14)
tripleThick = rgba(16, 44, 180, .21)
thick0 = rgba(16, 44, 180, 0)

whiteglow = rgba(232, 236, 249, 1)
whiteglowShade = rgba(208, 212, 225, 1)

hardware = rgba(170, 240, 255, 1)
smart = rgba(150, 255, 210, 1)
smart04 = rgba(150, 255, 210, 0.4)
smart02 = rgba(150, 255, 210, 0.2)
smartShade = rgba(100, 205, 150, 1)
hot = rgba(255, 150, 150, 1)

shader = rgba(16, 44, 60, 0.7)

phase = #212d2e
phaseShade = #1c2526

good = rgb(0, 210, 180)
goodShade = rgb(0, 190, 160)
good01 = rgba(0, 210, 180, 0.1)
good02 = rgba(0, 210, 180, 0.2)
good03 = rgba(0, 210, 180, 0.3)
good04 = rgba(0, 210, 180, 0.4)
good06 = rgba(0, 210, 180, 0.6)


// berry = rgb(250, 150, 205)

bad = rgb(250, 100, 155)
bad01 = rgba(250, 100, 155, 0.1)
bad02 = rgba(250, 100, 155, 0.2)
bad03 = rgba(250, 100, 155, 0.3)
bad04 = rgba(250, 100, 155, 0.4)
bad06 = rgba(250, 100, 155, 0.6)
bad08 = rgba(250, 100, 155, 0.8)
badLight = rgb(255, 104, 159)
badLighter = rgb(255, 107, 163)
badShade = rgb(230, 80, 135)
badDark = rgb(100, 0, 00)

pending = rgb(94, 110, 255)
pending02 = rgba(94, 110, 255, 0.4)
pending01 = rgba(94, 110, 255, 0.2)
pending04 = rgba(94, 110, 255, 0.4)
pending08 = rgba(94, 110, 255, 0.8)
pendingShade = rgb(74, 90, 235)
pendingShader = rgb(64, 80, 225)

// Shadows
cardDrop = 0px 1px 1px rgba(0, 34, 42, 0.05)
cardDrop0 = 0px 1px 1px rgba(0, 34, 42, 0)
reverseCardDrop = 0px 1px 1px rgba(0, 34, 32, 0.1)

// Transistions
standard = .32s cubic-bezier(.82,0,.12,1) all
standardSlow = .64s cubic-bezier(.82,0,.12,1) all
standardSlower = .96s cubic-bezier(.82,0,.12,1) all
standardSlowest = 1.6s cubic-bezier(.82,0,.12,1) all
standardFast = .16s cubic-bezier(.82,0,.12,1) all
standardFaster = .08s cubic-bezier(.82,0,.12,1) all
// 0.18s cubic-bezier(0.8, 1, 0.2, 1) all
cubic = cubic-bezier(.82,0,.12,1)

settle = .5s cubic-bezier(0.475, -0.175, 0.32, 1.075) all
settleFast = .25s cubic-bezier(0.475, -0.175, 0.32, 1.075) all

html, body
  margin 0
  border 0
  font-family OpenSans
  font-weight 300
  -webkit-app-region no-drag
  overflow hidden
  color outerspace

div
  user-select none
  cursor default

::-webkit-scrollbar
  width 0px
  background transparent

#panel
  // background linear-gradient(90deg, light, lowlight)
  // background blue
  margin 0px
  border-top-right-radius 6px
  border-bottom-right-radius 6px
  // box-shadow 0px 0px 0px 1px rgba(110, 120, 140, 0.08)
  // border-left 1px solid thick
  overflow hidden

  #bar
    right 360px

  #bot
    left 5px
    right 360px

  #drop
    left 5px
    bottom 5px
    right 360px
    border-radius 3px

  #views
    right 360px
    bottom 5px
    left 5px
    border-bottom-right-radius 3px
    border-bottom-left-radius 3px

    .screen
      z-index 20000

.session
  position fixed
  top 0px
  right 15px
  height 37px
  font-weight 400
  border-bottom-left-radius 4px
  display flex
  justify-content center
  align-items center
  user-select none
  cursor default
  font-size 14px
  transition standard
  z-index 1000

.hidden
  visibility hidden

@import './App/style'
