.signer
  position relative
  width 100%
  // height 300px
  overflow hidden
  background var(--ghostA)
  box-sizing border-box
  margin 0px 10px 40px 10px
  border-radius 8px

  .signerTop
    position relative
    height 72px

  .signerName
    position absolute
    top 4px
    left 4px
    height 28px
    padding 0px 10px
    border-radius 8px
    // text-align center
    // border-top 1px solid var(--ghostZ)
    // border-bottom 1px solid var(--ghostZ)
    display flex
    // justify-content center
    align-items center
    box-sizing border-box

    .signerNameUpdate
      position absolute
      width 28px
      height 28px
      // background red
      right -34px
      color var(--good)
      display flex
      align-items center
      cursor pointer
      pointer-events none
      opacity 0
      *
        pointer-events none

  .signerNameFocused
    background var(--ghostZ)
    .signerNameUpdate
      opacity 1
      


  .signerType
    // position absolute
    // top 6px
    // left 10px
    // font-size 12px
    // text-transform uppercase
    // font-weight 400
    position absolute
    top 34px
    left 14px
    font-size 10px
    text-transform uppercase
    font-weight 400
    letter-spacing 1px

  // .signerStatus
  //   position absolute
  //   top 8px
  //   right 8px
  //   font-size 12px
  //   text-transform uppercase
  //   font-weight 400

  .signerStatusIndicator
    position absolute
    top 18px
    right 18px
    font-size 12px
    text-transform uppercase
    font-weight 400
    background var(--ghostE)
    width 10px
    height 10px
    border-radius 5px
    // box-shadow 0px 0px 5px bleu

  .signerStatusIndicatorLocked
    background var(--moon)

  .signerStatusIndicatorReady
    background var(--good)

  .signerStatusText
    position absolute
    top 15px
    right 45px
    font-size 12px
    text-transform uppercase
    font-weight 400
    letter-spacing 1px


  .signerBottom
    // position absolute
    left 0
    right 0
    bottom 0
    height 20px
    display flex
    justify-content space-between
    align-items center
    // background white
    font-size 14px
    font-weight 300
    display flex
    justify-content center
    align-items center
    // height 40px
    padding 8px 16px 10px 16px

    .signerBottomPages
      // background var(--ghostD)
      // margin 0px 8px
      border-radius 8px
      // padding 6px 10px
      font-size 12px
      font-weight 400
      width 56px
      text-align center

    .signerBottomPageBack
      background var(--ghostC)
      padding 2px 1px 2px 2px
      height 24px
      width 24px
      border-radius 12px
      cursor pointer
      box-sizing border-box
      *
        pointer-events none

    .signerBottomPageNext
      background var(--ghostC)
      transform rotate(180deg)
      padding 2px 2px 2px 1px
      height 24px
      width 24px
      border-radius 12px
      cursor pointer
      box-sizing border-box
      *
        pointer-events none

  .signerLatticePair
    height 200px

    .signerLatticePairTitle
      height 40px
      display flex
      justify-content center
      align-items center
      font-size 17px
      font-weight 200
      text-transform none

    .signerLatticePairInput
      background var(--ghostC)
      height 60px
      border-radius 8px
      margin 10px 0px 20px 0px

    .signerLatticePairSubmit
      width 100px
      height 30px
      display flex
      justify-content center
      align-items center
      background var(--ghostC)
      border-radius 15px
      position relative
      left 50%
      margin-left -50px
      cursor pointer
      *
        pointer-events none

  .signerAccountsTitle
    // background pink
    font-size 12px
    font-weight 300
    display flex
    justify-content space-between
    align-items center
    // height 40px
    padding 0px 12px 4px 12px

  .signerAccountsTitleActive
    text-transform uppercase
    font-size 10px
    letter-spacing 1px
    display flex
    justify-content space-between
    align-items center
    padding-top 1px

    .signerAccountsTitleActiveCount
      font-size 15px
      padding-right 5px
      font-weight 400
      margin-top -1px

  .signerAccountsTitleActiveOn
    color var(--good)

  .signerAccounts
    //position absolute
    bottom 30px
    right 8px
    left 8px
    // padding 8px
    text-align center
    
    // border-radius 8px
    font-size 12px
    // text-transform uppercase
    font-weight 400
    // height 204px
    overflow hidden
    // overflow-x hidden

    .signerAccount
      display flex
      height 24px
      margin 4px 6px
      width calc(100% - 12px)
      position relative
      border-bottom 1px solid var(--ghostB)
      background var(--ghostC)
      border-radius 12px
      box-shadow 0px 2px 3px var(--ghostZ)
      cursor pointer
      *
        pointer-events none

      .signerAccountIndex
        position absolute
        top 0
        left 2px
        bottom 2px
        width 30px
        display flex
        justify-content center
        align-items center
        // background red
        
      .signerAccountAddress
        display flex
        justify-content center
        align-items center
        position absolute
        top 0
        left 30px
        bottom 0
        right 40px
        font-weight 200
        font-size 15px
        letter-spacing 1px
        // background blue
        overflow hidden
        font-family FiraCode
        // padding 6px

        svg
          margin 2px 4px 0px 4px

      .signerAccountCheck
        position absolute
        top 0
        right 0
        bottom 0
        width 40px
        display flex
        justify-content center
        align-items center
        color var(--ghostZ)

    .signerAccountAdded
      color var(--good)
      .signerAccountCheck
        color var(--good)

    .signerAccountlast-child
      border-bottom none

.signerLoading
  height 100px
  display flex
  justify-content center
  align-items center

.signerLoadingLoader, .signerLoadingLoaderafter
  border-radius 50%
  width 50px
  height 50px

.signerLoadingLoader
  margin 60px auto
  font-size 10px
  position relative
  text-indent -9999em
  border-top 3px solid var(--ghostZ)
  border-right 3px solid var(--ghostZ)
  border-bottom 3px solid var(--ghostZ)
  border-left 3px solid var(--good)
  transform translateZ(0)
  animation load8 0.5s infinite linear

@keyframes load8
  0%
    -webkit-transform rotate(0deg)
    transform rotate(0deg)

  100%
    -webkit-transform rotate(360deg)
    transform rotate(360deg)
