.signer
  position relative
  width 100%
  // height 300px
  overflow hidden
  background var(--ghostA)
  box-sizing border-box
  margin 3px 0px 40px 0px
  border-radius 16px

  .signerTop
    position relative
    height 62px


  .signerIcon
    position absolute
    top 20px
    left 18px

  .signerName
    position absolute
    top 16px
    left 48px
    height 28px
    padding 0px 7px
    border-radius 8px
    font-size 20px
    display flex
    align-items center
    box-sizing border-box
    font-weight 400
    font-family 'Exo2', sans-serif
    text-transform capitalize
    letter-spacing 0px

    .signerNameUpdate
      position absolute
      width 28px
      height 28px
      // background red
      right -34px
      color var(--good)
      display flex
      align-items center
      cursor pointer
      pointer-events none
      opacity 0
      *
        pointer-events none

  .signerNameFocused
    background var(--ghostZ)
    .signerNameUpdate
      opacity 1
      
  .signerType
    // position absolute
    // top 6px
    // left 10px
    // font-size 12px
    // text-transform uppercase
    // font-weight 400
    position absolute
    top 20px
    right 44px
    font-size 11px
    text-transform uppercase
    font-weight 400
    letter-spacing 0px

  // .signerStatus
  //   position absolute
  //   top 8px
  //   right 8px
  //   font-size 12px
  //   text-transform uppercase
  //   font-weight 400

  .signerStatusIndicator
    position absolute
    top 27px
    right 18px
    font-size 12px
    text-transform uppercase
    font-weight 400
    background var(--ghostZ)
    width 10px
    height 10px
    border-radius 5px
    // box-shadow 0px 0px 5px bleu

  .signerStatusIndicatorLocked
    background var(--moon)

  .signerStatusIndicatorReady
    background var(--good)

  .signerStatusText
    padding 8px 32px
    margin 0px 8px 8px 8px
    border-radius 8px
    font-size 12px
    text-transform uppercase
    text-align center
    font-weight 600
    letter-spacing 0px
    border 1px solid var(--ghostY)
    color var(--outerspace)

  .signerStatusError
    color var(--bad)

  .signerStatusIssue
    color var(--moon)

  .signerStatusReady
    color var(--good)

  .signerBottom
    left 0
    right 0
    bottom 0
    height 20px
    display flex
    justify-content space-between
    align-items center
    font-size 14px
    font-weight 300
    display flex
    justify-content center
    align-items center
    padding 8px 16px 10px 16px

    .signerBottomPages
      border-radius 8px
      font-size 12px
      font-weight 400
      width 56px
      text-align center

    .signerBottomPageBack
      background var(--ghostB)
      padding 2px 1px 2px 2px
      height 24px
      width 24px
      border-radius 12px
      cursor pointer
      box-sizing border-box
      *
        pointer-events none

    .signerBottomPageNext
      background var(--ghostB)
      transform rotate(180deg)
      padding 2px 2px 2px 1px
      height 24px
      width 24px
      border-radius 12px
      cursor pointer
      box-sizing border-box
      *
        pointer-events none

  .signerDrawer
    position relative
    height 46px

    .showControls
      position absolute
      height 20px
      border-radius 12px
      border 1px solid var(--ghostZ)
      background var(--ghostA)
      z-index 2
      top 9px
      left 50%
      width 100px
      margin-left -50px
      padding-bottom 2px
      letter-spacing 1px
      font-size 11px
      display flex
      justify-content center
      align-items center
      text-transform uppercase
      cursor pointer
      color var(--outerspace03)
      transition var(--standardFast)
      font-weight 400

    .showControls:hover
      background var(--ghostC)
      color var(--outerspace)

    .showControlsLine
      height 1px
      position absolute 
      top 50%
      left 0
      right 0
      background var(--ghostZ)
      z-index 1
      margin-top -3px

  .signerControls
    padding-top 10px

    .signerControlDetail
      height 40px
      margin 0px 10px 11px 10px
      display flex
      justify-content center
      align-items center
      box-sizing border-box
      font-size 16px
      font-weight 400
      border 2px solid var(--ghostA)
      border-radius 9px

      .signerControlDetailKey
        font-size 11px
        margin 4px 4px 6px 4px
        letter-spacing 1px

      .signerControlDetailValue
        margin 4px
        font-family 'Fira Code', monospace

    .signerControlOption
      height 40px
      margin 0px 10px 11px 10px
      background var(--ghostB)
      border-radius 9px
      color var(--outerspace)
      display flex
      justify-content center
      align-items center
      font-weight 400
      font-size 13px
      cursor pointer
      letter-spacing 0px
      box-sizing border-box
      text-transform uppercase
      box-shadow 0px 2px 2px var(--ghostA)

      *
        pointer-events none

    .signerControlOption:hover
      background var(--ghostC)
      box-shadow 0px 4px 6px var(--ghostA)

    // .signerControlOption
    //   height 40px
    //   background var(--ghostC)
    //   margin 0px 10px 10px 10px
    //   border-radius 8px
    //   display flex
    //   justify-content center
    //   align-items center
    //   font-size 14px
    //   cursor pointer

    //   *
    //     pointer-events none

    .signerControlOptionImportant
      color var(--bad)

    .signerControlOptionEffect
      color var(--moon)

    .signerControlOptionSuccess
      color var(--good)

  .signerLatticePair
    height 200px

    .signerLatticePairTitle
      height 40px
      display flex
      justify-content center
      align-items center
      font-size 14px
      font-weight 300
      text-transform none
      color var(--moon)

    .signerLatticePairInput
      background var(--ghostC)
      height 60px
      border-radius 12px
      margin 10px 10px 20px 10px

      input
       width 100%
       height 100%
       background transparent
       border none
       outline none
       color var(--outerspace)
       text-align center
       font-size 22px
       letter-spacing 6px
       padding-left 6px
       font-family 'Exo2', OpenSans, sans-serif

    .signerLatticePairSubmit
      width 100px
      height 30px
      display flex
      justify-content center
      align-items center
      background var(--ghostC)
      border-radius 12px
      position relative
      left 50%
      margin-left -50px
      cursor pointer
      letter-spacing 1px
      font-size 13px
      text-transform uppercase
      font-weight 500
      padding-left 1px

      *
        pointer-events none

  .signerAccountsTitle
    // background pink
    font-size 12px
    font-weight 300
    display flex
    justify-content center
    align-items center
    // height 40px
    padding 0px 12px 0px 12px

  .signerAccountsTitleActive
    text-transform uppercase
    font-size 10px
    font-weight 600
    letter-spacing 1px
    display flex
    justify-content center
    align-items center
    color var(--outerspace)

    .signerAccountsTitleActiveCount
      font-size 13px
      margin-left 5px
      font-weight 400
      margin-top -1px
      height 24px
      width 24px
      border-radius 12px
      box-sizing border-box
      display flex
      justify-content center
      align-items center
      padding-left 1px
      background var(--ghostB)

  .signerAccounts
    //position absolute
    bottom 30px
    right 8px
    left 8px
    // padding 8px
    text-align center
    
    // border-radius 8px
    font-size 11px
    // text-transform uppercase
    font-weight 400
    // height 204px
    overflow hidden
    // overflow-x hidden

    .signerAccount
      display flex
      height 28px
      margin 4px 6px
      width calc(100% - 12px)
      position relative
      background var(--ghostC)
      color var(--outerspace)
      border-radius 14px
      border 2px solid rgba(0, 0, 0, 0)
      box-sizing border-box
      cursor pointer

      *
        pointer-events none

      .signerAccountIndex
        position absolute
        top 0
        left 2px
        bottom 2px
        width 30px
        display flex
        justify-content center
        align-items center
        // background red
        
      .signerAccountAddress
        display flex
        justify-content center
        align-items center
        position absolute
        left 30px
        bottom 1px
        right 40px
        font-weight 200
        font-size 14px
        letter-spacing 1px
        // background blue
        overflow hidden
        font-family FiraCode, monospace
        // padding 6px

        svg
          margin 2px 4px 0px 4px

      .signerAccountCheck
        position absolute
        top 9px
        right 10px
        bottom 0
        width 6px
        height 6px
        border-radius 3px
        display flex
        justify-content center
        align-items center
        color var(--ghostZ)
        background var(--ghostZ)

    .signerAccountAdded
      border 2px solid var(--good)
      .signerAccountCheck
        color var(--good)
        background var(--good)

    .signerAccountlast-child
      border-bottom none

.signerOk
  .signerAccounts
    .signerAccountAdded
      border 2px solid var(--good)
      .signerAccountCheck
        color var(--good)
        background var(--good)

.signerLocked
  .signerAccounts
    .signerAccountAdded
      border 2px solid var(--moon)
      .signerAccountCheck
        color var(--moon)
        background var(--moon)

.signerLoading
  height 60px
  display flex
  justify-content center
  align-items center
  padding 20px

.signerLoadingLoader, .signerLoadingLoaderafter
  border-radius 50%
  width 50px
  height 50px

.signerLoadingLoader
  margin 60px auto
  font-size 10px
  position relative
  text-indent -9999em
  border-top 3px solid var(--ghostZ)
  border-right 3px solid var(--ghostZ)
  border-bottom 3px solid var(--ghostZ)
  border-left 3px solid var(--good)
  transform translateZ(0)
  animation load8 0.5s infinite linear

@keyframes load8
  0%
    -webkit-transform rotate(0deg)
    transform rotate(0deg)

  100%
    -webkit-transform rotate(360deg)
    transform rotate(360deg)

.signerInterface
  font-size 16px
  width 100%
  transition var(--standard)
  position relative
  display flex
  text-align center
  flex-direction column
  overflow hidden
  font-size 14px

  .trezorPhraseInput
    position relative
    display flex
    justify-content center
    align-items center
    background var(--ghostY)
    height 36px
    border-radius 8px
    width calc(100% - 20px)
    overflow hidden

    svg
      margin 0px 5px

    input 
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      width 100%
      height 100%
      text-align center
      font-size 20px
      outline 0
      border 0
      background transparent
      color var(--outerspace)
      letter-spacing 4px

  .trezorPinWrap
    width 100%
    position relative
    display flex
    justify-content center
    transition var(--standard)
    overflow hidden
    display flex
    justify-content center
    align-items center
    flex-direction column
    z-index 20

    .signerPinMessage
      height 24px
      margin-top 15px
      width 140px
      display flex
      justify-content center
      align-items center
      transition var(--standard)
      overflow hidden
      position relative
      font-size 13px
      padding-bottom 2px
      background var(--ghostC)

      .signerPinDelete
        position absolute
        display flex
        justify-content center
        align-items center
        top 0px
        bottom 0px
        width 25px
        left -40px
        border-radius 60px
        transition var(--standard)

    .signerPinSubmit
      margin-top 10px
      margin-bottom 0px
      width 180px
      border-radius 60px
      cursor: pointer

      .signerPinDelete
        left 0px

    .trezorPinInputWrap
      width 100%
      position relative
      display flex
      justify-content center
      transition var(--standard)
      padding 10px 0px 25px 0px
      height 100px

      .trezorPinInput
        display flex
        width 120px
        height 120px
        flex-wrap wrap-reverse
        z-index 1000

        .trezorPinInputButton
          min-width 40px
          min-height 40px
          display flex
          justify-content center
          align-items center

        .trezorPinInputButton:hover
          svg
            transform scale(1.7)

        .trezorPinInputButton:active
          svg
            transform scale(2.1)
            transition none
