.launcher
  overflow-x auto
  overflow-y hidden

.launcherTiles
  display inline-flex
  position relative
  margin 5px 0px 0px 0px
  background var(--ghostY)
  width 100%
  box-sizing border-box
  border-radius 12px

.launchButton
  background var(--ghostB)
  text-transform uppercase
  font-size 12px
  font-weight 300
  letter-spacing 2px
  width 90px
  height 40px
  cursor pointer
  position relative
  box-sizing border-box
  padding-bottom 10px
  
  .launchButtonInner
    display flex
    justify-content center
    align-items center
    cursor pointer
    position relative

  *
    pointer-events none

.launchButton:hover
  background var(--ghostC)

.dashboradIcon
  margin-top 0px
  margin-right 8px

.dappTile
  height 32px
  width 88px
  display flex
  justify-content center
  align-items center
  cursor pointer
  box-sizing border-box
  border-radius 10px
  background var(--ghostZ)
  margin 3px 8px 3px 3px
  color var(--outerspace08)
  padding 5px
  // border-right 1px solid var(--ghostA)

  * 
    pointer-events none

  svg
    position relative

  img
    position relative
    height 100%

.dappTile:hover
  background var(--ghostA)

