@font-face
  font-family 'OpenSans'
  font-weight 200
  src url('./OpenSans/OpenSans-Light.ttf')

@font-face
  font-family 'OpenSans'
  font-style normal
  font-weight 300
  src url('./OpenSans/OpenSans-Regular.ttf')

@font-face
  font-family 'OpenSans'
  font-weight 400
  src url('./OpenSans/OpenSans-SemiBold.ttf')

@font-face
  font-family 'OpenSans'
  font-style bold
  font-weight 600
  src url('./OpenSans/OpenSans-Bold.ttf')

@font-face
  font-family 'FiraCode'
  font-weight 300
  src url('./FiraCode/FiraCode-Retina.ttf')
