#bot
  z-index 1900
  position absolute
  top 37px
  left 0px
  right 0px
  height 33px
  background #fcfdff
  border-top-right-radius 3px
  border-top-left-radius 3px
  transition standard

#permissions
  position absolute
  top 0
  right 0
  bottom 0
  display flex
  justify-content flex-end
  align-items center
  padding 0px 5px 0px 5px

.permission
  height 100%
  width 30px
  display flex
  justify-content center
  align-items center
  margin-left 5px
  border-radius 3px

  svg
    fill v

#nav
  position absolute
  top 0px
  left 5px
  bottom 0px
  width 50px
  display flex
  justify-content space-around

  div
    height 100%
    width 25px
    display flex
    justify-content center
    align-items center

    svg
      fill v

#add
  overflow hidden
  position absolute
  top 0px
  left 60px
  bottom 0px
  right 30px

#address
  position absolute
  left 0
  top 0
  bottom 0
  width 100%
  padding 5px
  margin 0
  border none
  outline none
  background none
  font-size 16px
  -webkit-app-region no-drag
