._txRecipientContract
  margin-left 16px
  color var(--red)
  font-size 13px
  position relative
  top 0px
  font-weight 300

._txRecipient
  font-size 16px
  font-weight 300
  font-family 'FiraCode'

._txRecipientFull
  position absolute 
  top 0
  left 0
  bottom 0
  right 0
  display flex
  justify-content center
  align-items center
  z-index 40000
  border-radius 8px
  background var(--ghostB)
  opacity 0
  box-shadow 0px 4px 4px var(--ghostZ)

  ._txRecipientFira
    position relative
    top 1.5px
    left 1px
    font-size 13px 
    font-family 'FiraCode'

._txRecipientFull:hover
  opacity 1
  transform translateX(0px) scale(1)
  cursor pointer      

  // ._txRecipientFull:active
  //   animation-name shake-little
  //   animation-duration 2s
  //   animation-timing-function: ease-in-out
  //   animation-iteration-count: infinite

// ._txRecipient:hover
//   z-index 1000001
//   background var(--ghostB)
