@import '../Signer/style'

.main
  position absolute
  top 0px
  right 0px
  bottom 0px
  left 0px
  transition standard

.mainHidden
  right 100%
  left -100%

#panelScroll
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  display flex
  justify-content center
  align-items center

  #panelSlide
    max-height 100%
    width 100%
    overflow-y scroll
    transition standardSlow

  #panelSlide::-webkit-scrollbar
    display none

  #panelWrap
    width 100%
    padding-top 40px
    padding-bottom 40px
    will-change scroll-position

    .noSigners
      width 100%
      display flex
      justify-content center
      align-items center
      
.signersSlide
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  z-index 6000
  pointer-events none
