@import '../Signer/style'
@import '../PendingSigner/style'

.main
  position absolute
  top 0px
  right 0px
  bottom 0px
  left 0px
  transition standardFast

.mainHidden
  right 100%
  left -100%

#panelScroll
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  display flex
  justify-content center
  align-items center

  #panelSlide
    max-height 100%
    width 100%
    overflow-y scroll
    transition standardSlow

  #panelSlide::-webkit-scrollbar
    display none

  #panelWrap
    width 100%
    padding-top 45px
    padding-bottom 70px
    will-change scroll-position

    .noSigners
      width 100%
      display flex
      justify-content center
      align-items center
      flex-direction column
      font-weight 300
      font-size 19px
      position relative
      z-index 100

      .introLogo
        padding-bottom 38px

        svg
          fill outerspace

      .getStarted
        margin-top 30px
        box-sizing border-box
        border-radius 12px
        padding 20px
        font-size 14px
        margin 20px
        text-align center
        font-weight 500
        background outerspace
        color spacewhite
        line-height 24px

        .getStartedPlus
          display inline-block
          position relative
          top 4px
          border 2px solid spacewhite
          width 22px
          height 22px
          border-radius 11px
          text-align center
          margin 0px 5px 0px 5px
          box-sizing border-box

          span 
            position relative
            top -3px
            left 2px
            font-size 17px

      .featureBox
        display flex
        justify-content center
        align-items center
        flex-direction column
        margin-top 30px

        .featureBoxText
          font-size 13px
          font-weight 400
          letter-spacing 4px

        .featureBoxSubtext
          margin-top 8px
          font-size 10px
          font-weight 500
          font-family FiraCode, monospace
          justify-content center
          letter-spacing 1px
          opacity 0.7

.signersSlide
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  z-index 6000
  pointer-events none

@import '../Add/style'
