@import '../Signer/style'

.main
  position absolute
  top 0px
  right 0px
  bottom 0px
  left 0px
  transition standard

.mainHidden
  right 100%
  left -100%

#panelScroll
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  display flex
  justify-content center
  align-items center

  #panelSlide
    max-height 100%
    width 100%
    overflow-y scroll
    transition standardSlow

  #panelSlide::-webkit-scrollbar
    display none

  #panelWrap
    width 100%
    padding-top 40px
    padding-bottom 40px
    will-change scroll-position

    .noSigners
      width 100%
      display flex
      justify-content center
      align-items center
      flex-direction column
      font-weight 200
      font-size 24px

      .introLogo
        padding-bottom 24px

      svg
        fill outerspace

      .introSubtitle
        margin-top 15px
        font-size 15px
        font-weight 300
        padding-bottom 100px

      .featureBox
        display flex
        justify-content center
        align-items center
        flex-direction column

        .featureBoxText
          padding-bottom 22px
          font-size 13px
          font-weight 400
          text-transform uppercase
          letter-spacing 4px

        .featureBoxSubtext
          font-size 10px
          font-weight 400
          text-transform uppercase
          justify-content center
          letter-spacing 1px
          opacity 0.7

.signersSlide
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  z-index 6000
  pointer-events none
