.signerRequests
  position absolute
  top 0
  right 0
  bottom 0
  left 0
  z-index 200
  display flex
  justify-content center
  align-items center
  flex-direction column
  transition standard
  padding 10px

  .noRequests
    margin-bottom 80px

  .signerRequestTitle
    height 30px
    display flex
    justify-content center
    align-items center

  .signerRequestItems
    overflow scroll

  .signerRequest
    border-radius 6px
    display flex
    justify-content space-between
    align-items center
    position relative
    width 100%
    background #eff1f5
    overflow hidden
    margin-bottom 20px
    box-shadow 0px 10px 14px -8px rgba(0,20,60,0.2), 0px 0px 4px 0px rgba(0,20,60,0.1)

  .signerRequestSuccess
    background good

    .approveTransactionPayload
      color #116338

  .signerRequestPending
    background #ffd7a5
    .approveTransactionPayload
      color #0d3a56

  .signerRequestDeclined
    background bad
    .approveTransactionPayload
      color #491410

  .requestNotice
    height 120px
    font-size 16px
    display flex
    justify-content center
    align-items center
    padding 40px

  .approveTransaction
    display flex
    width 100%
    margin-bottom 65px
    flex-direction column

    .approveTransactionTitle
      padding 10px
      font-weight 400
      font-size 14px

    .approveTransactionPayload
      padding 6px
      font-size 11px
      font-weight 300
      height 180px
      width 100%
      display flex
      justify-content center
      align-items center
      flex-direction column

      div
        white-space nowrap

  .unknownType
    display flex
    justify-content center
    align-items center
    width 100%
    margin-bottom 60px
    padding 20px

  .requestApprove
    position absolute
    left 0
    right 0
    bottom 0
    height 60px
    border-bottom-left-radius 3px
    border-bottom-right-radius 3px
    font-weight 400
    font-size 12px
    text-transform uppercase
    letter-spacing 2px
    -webkit-app-region no-drag

    .requestDecline
      position absolute
      left 0
      top 0
      bottom 0
      width 50%
      display flex
      justify-content center
      align-items center
      -webkit-app-region no-drag

    .requestSign
      position absolute
      right 0
      top 0
      bottom 0
      width 50%
      display flex
      justify-content center
      align-items center
      border-top-left-radius 6px
      -webkit-app-region no-drag

.signerRequestsHidden
  left -100%
  right 100%
