.notify
  position fixed
  top 0
  right 0
  left 0
  bottom 0
  background bad04
  z-index 999999999
  pointer-events none
  transition standardSlow
  display flex
  justify-content center
  align-items center
  text-align center
  opacity 0

  .notifyBox:before
    content ''
    top 0
    right 0
    bottom 3px
    left 0
    position absolute
    border-radius 6px
    background bad
    z-index 2

  .notifyBox
    width 340px
    background badShade
    border-radius 6px
    color badDark
    padding 55px 20px 60px 20px
    box-sizing border-box
    position relative
    transition standardSlow
    top -100px
    box-shadow 0px 29px 29px -19px rgba(210, 20, 80, 0.5), 0px 3px 1px rgba(160, 0, 60, 0.4)

    .notifyTitle
      font-size 32px
      position relative
      z-index 3
      margin-bottom 32px

    .notifyBody
      font-size 15px
      position relative
      z-index 3
      padding-bottom 32px
      padding-top 10px
      font-weight 300

      .notifyBodyLine
        margin-bottom 17px

    .notifyInput
      display flex
      position relative
      justify-content space-between
      z-index 3

      .notifyInputOption
        width calc(50% - 15px)
        display flex
        justify-content center
        align-items center
        box-sizing border-box
        background badLight
        height 40px
        border-radius 20px
        font-weight 300
        padding-top 1px
        box-shadow 0px 8px 30px -6px rgba(230, 0,30, 0.35)
        text-transform uppercase
        font-size 15px
        font-weight 400
        letter-spacing 1px

      .notifyInputOption:hover
        background badLighter

.notifyOn
  opacity 1
  pointer-events auto
  .notifyBox
    top 0
