@import '../AccountController/style'

.accountSelector
  position absolute
  top 80px
  right 8px
  bottom 40px
  left 8px
  border-radius 16px
  z-index 4
  display flex
  justify-content center
  align-items center
  border-radius 18px
  transition var(--standard)
  overflow hidden
  display flex
  justify-content center
  align-items center
  transform translateY(0px)
  transition var(--standardFast)

  .accountSelectorScroll
    width 100%
    max-height 100%
    border-radius 16px
    transition var(--standard)
    overflow-y scroll
    overflow-x hidden

    .accountSelectorScrollWrap
      width 100%
      padding 48px 6px 48px 6px
      box-sizing border-box
      will-change scroll-position

      .noSigners
        width 100%
        display flex
        justify-content center
        align-items center
        flex-direction column
        font-weight 300
        font-size 19px
        position relative
        z-index 100

        .introLogo
          padding-bottom 38px

          svg
            fill var(--outerspace)

        .getStarted
          margin-top 30px
          box-sizing border-box
          border-radius 12px
          padding 20px
          font-size 14px
          margin 20px
          text-align center
          font-weight 500
          background var(--outerspace)
          color var(--spacewhite)
          line-height 24px

          .getStartedPlus
            display inline-block
            position relative
            top 4px
            border 2px solid var(--spacewhite)
            width 43px
            height 22px
            border-radius 11px
            text-align center
            margin 0px 5px 0px 5px
            box-sizing border-box

            span 
              position relative
              top -3px
              left 2px
              font-size 17px

        .featureBox
          display flex
          justify-content center
          align-items center
          flex-direction column
          margin-top 30px

          .featureBoxText
            font-size 13px
            font-weight 400
            letter-spacing 4px

          .featureBoxSubtext
            margin-top 8px
            font-size 10px
            font-weight 500
            font-family FiraCode, monospace
            justify-content center
            letter-spacing 1px
            opacity 0.7

  .panelFilter
    // background var(--ghostZ)
    position absolute
    top 0px
    left 0px
    right 0px
    height 48px
    z-index 2
    overflow hidden
    // background var(--ghostZ)
    transition var(--standard)

    .panelFilterIcon
      position absolute
      top 0
      left 0
      bottom 0
      width 48px
      display flex
      justify-content center
      align-items center
      // background var(--ghostZ)

    .panelFilterInput
      position absolute
      top 0
      left 0
      bottom 0
      right 0

      input 
        width 100%
        height 100%
        border none
        outline none
        text-align center
        background transparent
        color var(--outerspace)
        font-size 18px
        font-family 'Exo2'
        padding-bottom 4px

    .panelFilterClear
      position absolute
      top 0
      right 0
      bottom 0
      width 48px
      display flex
      justify-content center
      align-items center
      color var(--outerspace)
      cursor pointer
      border-bottom-left-radius 9px

      *
        pointer-events none

    .panelFilterClear:hover
      background linear-gradient(45deg, var(--ghostA), var(--ghostZ))

.accountSelectorDisabled
  pointer-events none
  transform translateY(-20px)
  transition var(--standard)
  *
    pointer-events none

//   .panelFilter
//     // background var(--ghostZ)
//     position absolute
//     top 0px
//     left 0px
//     right 0px
//     height 48px
//     z-index 2
//     overflow hidden
//     // background var(--ghostZ)
//     transition var(--standardFast)

//     .panelFilterIcon
//       position absolute
//       top 0
//       left 0
//       bottom 0
//       width 48px
//       display flex
//       justify-content center
//       align-items center
//       // background var(--ghostZ)

//     .panelFilterInput
//       position absolute
//       top 0
//       left 0
//       bottom 0
//       right 0

//       input 
//         width 100%
//         height 100%
//         border none
//         outline none
//         text-align center
//         background transparent
//         color var(--outerspace)
//         font-size 18px
//         font-family 'Exo2'
//         padding-bottom 4px

//     .panelFilterClear
//       position absolute
//       top 0
//       right 0
//       bottom 0
//       width 48px
//       display flex
//       justify-content center
//       align-items center
//       color var(--outerspace)
//       cursor pointer
//       border-bottom-left-radius 9px

//       *
//         pointer-events none

//     .panelFilterClear:hover
//       background linear-gradient(45deg, var(--ghostA), var(--ghostZ))

//   .panelScrollOverlay
//     position absolute
//     top 0px
//     right 0px
//     bottom 0px
//     left 0px
//     // background red
//     border-radius 16px
//     z-index 9990000000
//     box-shadow inset 0px 0px 6px var(--ghostX)
//     pointer-events none

//   #panelSlide
//     max-height 100%
//     width 100%
//     overflow-y scroll
//     transition var(--standardSlow)

//   #panelSlide::-webkit-scrollbar
//     display none

//   #panelWrap
//     // padding 48px 0px 32px 0px
//     will-change scroll-position

//     .noSigners
//       width 100%
//       display flex
//       justify-content center
//       align-items center
//       flex-direction column
//       font-weight 300
//       font-size 19px
//       position relative
//       z-index 100

//       .introLogo
//         padding-bottom 38px

//         svg
//           fill var(--outerspace)

//       .getStarted
//         margin-top 30px
//         box-sizing border-box
//         border-radius 12px
//         padding 20px
//         font-size 14px
//         margin 20px
//         text-align center
//         font-weight 500
//         background var(--outerspace)
//         color var(--spacewhite)
//         line-height 24px

//         .getStartedPlus
//           display inline-block
//           position relative
//           top 4px
//           border 2px solid var(--spacewhite)
//           width 43px
//           height 22px
//           border-radius 11px
//           text-align center
//           margin 0px 5px 0px 5px
//           box-sizing border-box

//           span 
//             position relative
//             top -3px
//             left 2px
//             font-size 17px

//       .featureBox
//         display flex
//         justify-content center
//         align-items center
//         flex-direction column
//         margin-top 30px

//         .featureBoxText
//           font-size 13px
//           font-weight 400
//           letter-spacing 4px

//         .featureBoxSubtext
//           margin-top 8px
//           font-size 10px
//           font-weight 500
//           font-family FiraCode, monospace
//           justify-content center
//           letter-spacing 1px
//           opacity 0.7

// .signersSlide
//   position absolute
//   top 0
//   right 0
//   bottom 0
//   left 0
//   z-index 6000
//   pointer-events none

// .panelHeader
//   position relative
//   height 64px
//   z-index 20000000000
//   transition var(--standardFast)
//   box-sizing border-box
//   margin 4px

//   .panelHeaderTitle
//     position absolute 
//     left 0
//     top 0
//     bottom 0
//     font-size 20px
//     padding 18px

//   .panelHeaderAddChain
//     position absolute 
//     right 12px
//     top 16px 
//     bottom 0
//     cursor pointer
//     height 32px
//     width 106px
//     border-radius 8px
//     background var(--ghostB)
//     display flex
//     justify-content center
//     align-items center
//     font-size 11px
//     font-weight 300
//     overflow hidden
//     background-position 0 100%
//     text-transform uppercase
//     letter-spacing 1px
//     font-weight 600
//     cursor pointer

//     .panelHeaderAddChainInner
//       pointer-events none
//       margin-left 4px
//       margin-top -1px

//   .panelHeaderAddChain:hover
//     color var(--good)

//   .panelHeaderUpdate
//     position absolute 
//     right 12px
//     top 16px 
//     bottom 0
//     // background red
//     // padding 18px
//     cursor pointer
//     height 32px
//     width 66px
//     border-radius 16px
//     background var(--ghostX)
//     display flex
//     justify-content center
//     align-items center
//     font-family FiraCode, monospace
//     font-size 26px
//     font-weight 300
//     overflow hidden
//     background-position 0 100%
    
//     .panelHeaderUpdateInner
//       position absolute 
//       top 2px
//       right 2px
//       bottom 2px
//       left 2px
//       background var(--ghostX)
//       border-radius 14px

//     .panelHeaderUpdateToggle
//       position absolute 
//       height 28px
//       width 55px
//       border-radius 14px
//       left 0px
//       background var(--ghostE)
//       // box-shadow 0px 3px 3px var(--ghostY)
//       z-index 10
//       transition var(--standardFast)
//       cursor pointer
//       display flex
//       justify-content center
//       align-items center
//       color var(--outerspace05)

//       *
//         pointer-events none

//       svg
//         position relative
//         top 0px
//         left 0px

//     .panelHeaderUpdateToggle:hover
//       color var(--good)

//     .panelHeaderUpdateToggleOn
//       color var(--good)
//       transform translateX(7px)

//   .panelHeaderUpdateOn
//     background var(--good)

//   .panelHeaderUpdateNotify
//     background linear-gradient(
//       135deg,
//       var(--ghostX),
//       var(--ghostX),
//       var(--ghostX),
//       var(--good),
//       var(--good),
//       var(--good),
//       var(--ghostX),
//       var(--ghostX),
//       var(--ghostX)
//     )
//     background-size 1000% 100%
//     background-position 0 50%
//     animation moveGradient 4s infinite reverse ease-in

//   .panelHeaderUpdateIssue // Notify
//     // background linear-gradient(
//     //   60deg,
//     //   hsl(224, 85%, 66%),
//     //   hsl(269, 85%, 66%),
//     //   hsl(314, 85%, 66%),
//     //   hsl(359, 85%, 66%),
//     //   hsl(44, 85%, 66%),
//     //   hsl(89, 85%, 66%),
//     //   hsl(134, 85%, 66%),
//     //   hsl(179, 85%, 66%)
//     // )
//     background linear-gradient(
//       135deg,
//       var(--ghostX),
//       var(--ghostX),
//       var(--ghostX),
//       var(--moon),
//       var(--moon),
//       var(--moon),
//       var(--ghostX),
//       var(--ghostX),
//       var(--ghostX)
//     )
//     background-size 1000% 100%
//     background-position 0 50%
//     animation moveGradient 4s infinite reverse ease-in

// @keyframes moveGradient
//   100% 
//     background-position 100% 50%

