.signerSettings
  position absolute
  top 10px
  right 0
  bottom 0
  left 0
  transition var(--standard)
  transform translateZ(0)
  overflow hidden

  .signerSlide
    position absolute
    top 50px
    right 0
    left 0
    bottom 0
    transition var(--standard)
    padding-bottom 50px
    overflow-y scroll
    overflow-x hidden
    .signerSubslider
      width 1000%
      display flex
    .signerSubsliderSlide
      width 10%
    .signerSubsliderSlideMessage
      padding 20px
      display flex
      flex-direction column
      justify-content flex-start
      align-items center
      text-align center
    .renameAccountButtonWrap
      padding 10px
      display flex
      justify-content center
      align-items center
      text-align center


  .signerSettingsTitle:before
    content ''
    position absolute
    bottom -2px
    right 10px
    left 10px
    height 4px
    border-radius 2px
    background var(--thin)

  .signerSettingsTitle
    position relative
    display flex
    align-items flex-end
    justify-content space-between
    height 40px
    font-size 22px
    padding 0px 10px 10px 10px

.signerSettingsHidden
  left 100%
  right -100%

.signerPermission:before
  content ''
  position absolute
  bottom -2px
  right 0px
  left 0px
  height 1px
  background var(--ghostA)

.signerPermission:last-child:before
  background transparent

.signerPermission
  position relative
  justify-content space-between
  padding 10px 1px 8px 1px
  font-size 15px
  font-weight 200
  transform translateZ(0)
  z-index 2000

  .signerPermissionControls
    display flex
    position relative
    justify-content space-between
    transform translateZ(0)
    z-index 40

  .signerPermissionDetails
    display flex
    position relative
    justify-content space-between
    transform translateZ(0)
    font-size 12px
    padding 8px 0px 0px 1px
    z-index 20
    font-weight 300

  .keyCommand
    margin-left 2px
    padding 1px 6px 2px 6px
    font-weight 400
    border-radius 5px
    font-size 12px
    border 1px solid var(--outerspace05)
    color var(--outerspace)
    height 30px

  .nodeProviderStatus
    display flex
    justify-content center
    align-items center
    height 18px
    border-radius 10px
    font-size 10px
    text-transform uppercase
    padding-left 8px
    padding-right 8px
    background var(--bad)
    padding-bottom 1px
    font-weight 400
    color #f3f6fd
    text-shadow 0px 1px 2px rgba(100, 0, 0, 0.2), 0px 1px 0px rgba(100, 0, 0, 0.2)
    transform translateZ(0)

  .nodeProviderConnected
    background var(--good)
    text-shadow 0px 1px 2px rgba(0, 50, 50, 0.2), 0px 1px 0px rgba(0, 50, 50, 0.2)

  .signerPermissionOrigin
    background transparent
    width 250px
    direction rtl
    text-overflow ellipsis
    overflow hidden
    text-align left
    white-space nowrap
    font-weight 300
    margin-top 2px

  .signerPermissionSetting
    background transparent
    width 250px
    direction rtl
    text-overflow ellipsis
    overflow hidden
    text-align left
    white-space nowrap
    font-weight 100
    margin-top 2px
    font-size 18px

  .signerPermissionToggle
    position relative
    background var(--bad)
    height 20px
    width 40px
    border-radius 10px
    transition var(--standard)
    transform translateZ(0)
    margin-top 2px
    cursor pointer

    .signerPermissionToggleSwitch
      position absolute
      top 2px
      left 2px
      bottom 2px
      width 16px
      border-radius 10px
      transition var(--standard)
      background var(--ghostD)
      // box-shadow 0px 6px 6px -2px rgba(0,20,60,0.15), 0px 1px 2px 0px rgba(0,20,60,0.05)
      transform translateZ(0)
      box-shadow 0px 3px 3px 0px var(--tripleThick) 
      pointer-events none

  .signerPermissionToggleOn
    background var(--good)
    .signerPermissionToggleSwitch
      position absolute
      transform translateX(20px)

  .signerPermissionToggle:hover
    .signerPermissionToggleSwitch
      background var(--ghostE)

