.localSettings
  position absolute
  top 0px
  right 0px
  bottom 0px
  left 0px
  display flex
  justify-content center
  padding 0px 0px 0px 0px
  flex-direction column
  transition standard

  .localSettingsTitle:before
    content ''
    position absolute
    bottom -2px
    right 10px
    left 10px
    height 4px
    border-radius 2px
    background thin

  .localSettingsTitle
    position relative
    display flex
    align-items flex-end
    height 60px
    font-size 20px
    padding 0px 10px 10px 10px

.localSettingsHidden
  right -100%
  left 100%

.signerSetting {
  display flex
  justify-content center
  align-items center
  padding 0px 0px 20px 0px
  flex-direction column
}

.settingsTitle {
  width 100%
  display flex
  justify-content center
  align-items center
  padding 20px 0px 20px 0px
  background rgba(255, 255, 255, 0.8)
}

.settingsItems {
  width 100%
  display flex
  justify-content center
  align-items center
  padding 20px 0px 20px 0px
  background rgba(0,0,50,0.1)
  flex-direction column
}

.settingsItem {
  width 100%
  display flex
  justify-content flex-start
  align-items center
  padding 20px
}
