.localSettings
  width 100%
  height 100%
  display flex
  justify-content flex-start
  padding 40px 0px 0px 0px
  flex-direction column

  .localSettingsTitle
    display flex
    align-items center
    height 40px
    padding 0px 10px 0px 10px
    border-bottom 1px solid lightShade


.signerSetting {
  display flex
  justify-content center
  align-items center
  padding 0px 0px 20px 0px
  flex-direction column
}

.settingsTitle {
  width 100%
  display flex
  justify-content center
  align-items center
  padding 20px 0px 20px 0px
  background rgba(255, 255, 255, 0.8)
}

.settingsItems {
  width 100%
  display flex
  justify-content center
  align-items center
  padding 20px 0px 20px 0px
  background rgba(0,0,50,0.1)
  flex-direction column
}

.settingsItem {
  width 100%
  display flex
  justify-content flex-start
  align-items center
  padding 20px
}
