.inventoryCollection
  position relative
  display flex
  justify-content space-between
  padding 16px
  font-size 14px
  cursor pointer
  margin 2px 0px
  border-radius 8px

  *
    pointer-events none

  .inventoryCollectionLine
    position absolute
    top 0
    left 16px
    right 16px
    bottom -1px
    border-bottom 1px solid var(--ghostA)

  .inventoryCollectionName
    display flex
    justify-content center
    align-items center

  .inventoryCollectionCount
    width 48px
    height 24px
    background var(--ghostA)
    display flex
    justify-content center
    align-items center
    border-radius 12px
    font-size 16px

.inventoryCollection:hover
  background var(--ghostC)
  
.inventoryCollection:last-child
  .inventoryCollectionLine
    border-bottom none

.inventoryNotFound
  display flex
  justify-content center
  align-items center
  font-size 14px
