.inventoryCollection
  position relative
  border-radius 8px
  cursor pointer

  .inventoryCollectionTop
    position relative
    display flex
    justify-content space-between
    padding 16px
    font-size 14px
    margin 2px 0px
    cursor pointer

    *
      pointer-events none

  .inventoryCollectionTop:hover
    background var(--ghostC)

  .inventoryCollectionItems
    padding 16px 0px 0px 16px
    display flex
    flex-wrap wrap

    .inventoryCollectionItem
      width 155px
      height 155px
      background var(--ghostD)
      margin 0px 8px 8px 0px
      border-radius 8px
      overflow hidden
      padding 8px
      box-sizing border-box
      box-shadow 0px 4px 10px var(--ghostZ)
      cursor pointer

      img
        width 100%
        height 100%
        border-radius 0px

  .inventoryCollectionLine
    position absolute
    top 0
    left 16px
    right 16px
    bottom -1px
    border-bottom 1px solid var(--ghostA)

  .inventoryCollectionName
    display flex
    justify-content center
    align-items center

  .inventoryCollectionCount
    width 48px
    height 24px
    background var(--ghostA)
    display flex
    justify-content center
    align-items center
    border-radius 12px
    font-size 16px

// .inventoryCollection:hover
//   background var(--ghostC)
  
.inventoryCollection:last-child
  .inventoryCollectionLine
    border-bottom none

.inventoryNotFound
  display flex
  justify-content center
  align-items center
  font-size 14px
  padding 20px
