.pendingSignerWrap
  position relative
  height 70px
  width calc(100% - 20px)
  box-shadow 0px 7px 6px -5px var(--outerspace03), 0px 1px 2px 0px rgba(6, 54, 82, 0.15), 0 0px 100px -50px rgba(6, 24, 52, .4), cardDrop
  background var(--outerspace) // var(--ghostB)
  // background linear-gradient(136deg, #084851, #2b353e)
  margin 10px 10px 10px 10px
  border-radius 12px
  z-index 99999999
  transition var(--standard)
  will-change transform
  transform translate(0px, 0px)
  opacity 1

  .pendingSignerInset
    position absolute
    top 0
    right 0
    bottom 3px
    left 0px
    background linear-gradient(136deg, #084851, #2b353e) // light
    border-radius 12px
    color var(--spacewhite)
    overflow hidden

    .pendingSignerTop
      display flex
      justify-content flex-start
      align-items flex-start
      height 70px
      width 100%
      min-height 70px

      .loadingLiveAddresses
        position absolute
        top 0
        right 0px
        bottom 0
        width 60px
        display flex
        flex-wrap wrap
        justify-content center
        align-items center
        padding 20px 20px
        overflow hidden
        .loadingLiveAddress
          min-width 6px
          min-height 6px
          height 6px
          width 6px
          border-radius 1px
          background var(--spacewhite)
          margin 5px 0px 0px 5px

      .pendingSignerLogo
        height 63px
        margin 0px 15px 0px 18px
        display flex
        justify-content center
        align-items center

      .pendingSignerText
        height 70px
        width calc(100% - 60px)
        display flex
        justify-content center
        flex-direction column
        padding-right 13px

        // .pendingSignerType
        //   text-transform uppercase
        //   line-height 15px
        //   font-size 14px
        //   font-weight 300
        //   letter-spacing 1px
        //   margin-bottom 4px

        .pendingSignerStatus
          font-size 11px
          line-height 14px
          font-weight 400

    