.syncContainer
  display flex
  flex-direction column
  height 400px
  width 100%
  justify-content start
  align-items center

.syncTips
  margin 30px 0px

.syncError
  margin 30px 0px

.qrReaderCamera
  margin 20px 0px
  height 225px
  width 300px
  background-color black
