.auxWrap
  position absolute 
  bottom 0px
  left 0px
  right 0px
  z-index 10000000
  height 100px
  animation-duration 800ms !important
  display flex
  justify-content center
  align-items center
  width 100%
