@keyframes arrowSlide
  0%
    opacity 0
    top 5px
  20%
    opacity 1
  40%
    opacity 0
    top -15px
  100%
    opacity 0

.signer:before
    content ''
    border-top 2000px solid thin
    border-right 0px solid transparent
    border-left 4000px solid transparent
    display block
    position absolute
    top 100%
    right 8px
    left 7px
    z-index 3000

.signer:after
    content ''
    border-left 15px solid thin
    border-bottom 0px solid transparent
    border-top 30px solid transparent
    display block
    position absolute
    right 15px
    top 47px
    bottom 0px
    left calc(100% - 15px)
    z-index 3000

.signer
  position relative
  padding 45px 5px 0px 5px
  z-index 3001

  .signerWrap:before
    content ''
    position absolute
    top 0
    right 0
    left 0
    bottom 3px
    background light
    z-index 40
    border-radius 3px
    z-index 3003

  .signerWrap
    position relative
    z-index 3002
    border-radius 3px
    box-shadow 0px 1px 8px 1px rgba(6, 54, 52, 0.08), 0px 1px 2px 0px rgba(6, 54, 52, 0.2)
    background lightShade
    overflow hidden
    padding-bottom 3px

  .signerMid
    position relative
    z-index 3004
    overflow-x hidden
    overflow-y hidden
    border-radius 3px

    .signerName
      display flex
      justify-content center
      align-items center
      font-size 30px
      font-weight 200
      padding-top 20px
      padding-bottom 20px

    .signerAddress
      display flex
      justify-content center
      align-items center
      font-size 12px
      height 40px
      font-family FiraCode
      letter-spacing 0px
      // background #f1f4f7
      border-top 1px solid lightShade

  .signerBot
    position absolute
    bottom 3px
    left 0
    right 0
    height 0
    opacity 0
    z-index 3004

  .signerTop
    position relative
    opacity 1
    display flex
    z-index 3004

    .signerIndicator
      position absolute
      left 0
      top 0
      display flex
      align-items center
      justify-content center
      height 55px
      width 55px
      flex-direction column
      text-align center

      .signerIndicatorIcon
        height 51px
        width 51px
        border-radius 26px
        display flex
        align-items center
        justify-content center

        svg
          fill outerspace
          opacity 0

    .signerIndicatorActive
      .signerIndicatorIcon
        svg
          opacity 0.4

    .signerIndicatorActive:hover
      .signerIndicatorIcon
        svg
            opacity 0.5

    .signerIndicatorActive.signerIndicatorOpen
      .signerIndicatorIcon
        svg
          opacity 1

    .signerSettingsMenu
      position absolute
      right 0
      top 0
      display flex
      align-items center
      justify-content center
      height 55px
      width 55px
      flex-direction column

      .signerIndicatorIcon
        height 51px
        width 51px
        border-radius 26px
        display flex
        align-items center
        justify-content center

        svg
          fill outerspace
          opacity 0

    .signerSettingsActive
      .signerIndicatorIcon
        svg
          opacity 0.4

    .signerSettingsActive:hover
      .signerIndicatorIcon
        svg
            opacity 0.5

    .signerSettingsActive.signerSettingsOpen
      .signerIndicatorIcon
        svg
          opacity 1

    .signerType
      position relative
      top 0px
      left 50%
      display flex
      justify-content center
      align-items center
      width 120px
      height 100px
      margin-left -60px
      background outerspace
      border-bottom-left-radius 6px
      border-bottom-right-radius 6px
      overflow hidden
      transition standard
      -webkit-app-region no-drag

      .signerImage
        position absolute
        top 22px
        left 0
        right 0
        display flex
        justify-content center
        align-items center
        opacity 1
        transition standardSlow

        img
          height 31px

        svg
          fill #fff

        .trezorImage
          height 39px
          margin-top -4px

      .signerText
        position absolute
        top 63px
        left 0
        right 0
        height 20px
        display flex
        flex-direction column
        justify-content center
        align-items center
        text-transform uppercase
        font-size 11px
        line-height 10px
        font-weight 300
        letter-spacing 2px
        color spacewhite
        opacity 1
        transition standardSlow

    .signerMin
      position absolute
      right 0
      top 0
      bottom 0
      width 40px
      display flex
      justify-content center
      align-items center

  .signerEvents
    height 200px
    overflow scroll
    background rgba(0, 0, 50, 0.1)
    width 100%

  .signerStatus
    padding 40px 60px 40px 60px
    display flex
    justify-content center
    align-items center
    font-size 16px
    font-weight 300
    text-transform capitalize
    text-align center

  .signerSelect
    position absolute
    display flex
    justify-content center
    align-items center
    font-size 14px
    font-weight 200
    text-transform capitalize
    text-align center
    top 95px
    left 0
    right 0
    height 50px
    z-index 100000
    color spacewhite
    flex-direction column
    opacity 0
    transition-delay 0.48s
    transition standardSlow

    .signerSelectArrows
      height 50px
      width 50px
      border-radius 25px
      position relative
      .signerSelectArrow
        position absolute
        top 0
        left 0
        right 0
        animation-duration 2.4s
        animation-name arrowSlide
        animation-iteration-count infinite
        animation-fill-mode none
        animation-play-state running

        svg
          fill spacewhite

      .signerSelectArrow:first-child
        animation-delay 0s
        margin-top 17px

      .signerSelectArrow:nth-child(2)
        animation-delay 0.09s
        margin-top 23px

      .signerSelectArrow:nth-child(3)
        animation-delay 0.18s
        margin-top 29px

  .signerReady
    font-size 12px
    width 100%

  .trezorPinWrap:before
    content ''
    position absolute
    top 0
    right 0
    bottom 3px
    left 0
    background #212d2e
    border-radius 3px

  .trezorPinWrap
    width 100%
    background black
    position relative
    display flex
    justify-content center
    padding 40px 0px 40px 0px
    border-bottom-left-radius 3px
    border-bottom-right-radius 3px

    .trezorPinInput
      display flex
      width 120px
      height 120px
      flex-wrap wrap-reverse
      z-index 1000

      .trezorPinInputButton
        min-width 40px
        min-height 40px
        display flex
        justify-content center
        align-items center

        svg
          fill spacewhite
          transition standard

      .trezorPinInputButton:hover
        svg
          transform scale(1.7)
          transition standard

      .trezorPinInputButton:active
        svg
          transform scale(2.1)
          transition none

.okSigner
  .signerTop
    .signerType
      height 160px

    .signerSelect
      opacity 1

.selectedSigner
  z-index 2
  position absolute
  top 38px
  right 5px
  bottom 5px
  left 5px
  margin 0px
  width calc(100% - 10px)
  z-index 4000
  padding 0px

  .signerTop
    .signerType
      height 100px

    .signerSelectArrows
      transform rotate(180deg)

    .signerType:hover
      .signerImage
        top -40px
        opacity 0

      .signerText
        top 30px
        opacity 0

      .signerSelectArrows
        transition-delay 0.48s
        transition standardSlow
        top -70

  .signerWrap
    height 100%

  .signerMid
    height 100%
    overflow-y scroll

  .signerTop
    opacity 1

.signerSettings
  display flex
  justify-content center
  padding 0px 0px 60px 0px
  flex-direction column

  .signerSettingsTitle
    display flex
    align-items center
    height 40px
    padding 0px 10px 0px 10px
    border-top 1px solid lightShade

.appInfo
  display flex
  justify-content center
  padding 0px
  flex-direction column
  font-size 14px
  font-weight 300
  border-top 1px solid lightShade

  .appInfoLine
    padding 10px 20px 0px 20px
    display flex
    justify-content space-between


.signerPermission
  display flex
  justify-content space-between
  align-items center
  padding 10px 20px
  border-top 1px solid lightShade
  font-size 14px
  font-weight 300

  .signerPermissionOrigin
    background transparent

  .signerPermissionToggle
    position relative
    background bad
    height 20px
    width 40px
    border-radius 10px
    transition standard

    .signerPermissionToggleSwitch
      position absolute
      top 2px
      left 2px
      bottom 2px
      width 16px
      border-radius 10px
      background white
      transition standard

  .signerPermissionToggleOn
    background good
    .signerPermissionToggleSwitch
        position absolute
        left 22px

@import '../Requests/style'
