.gasBlock
  position relative
  display flex

  .gasItem
    position relative
    width 25%
    min-width 25%
    max-width 25%
    height 80px
    border-right 1px solid var(--ghostZ)

    .gasLevel
      position absolute
      bottom 0px
      left 0
      right 0
      height 22px
      font-size 10px
      display flex
      justify-content center
      align-items center
      text-align center
      font-weight 600
      text-transform uppercase
      letter-spacing 2px
      margin-left -2px
      border-top 1px solid var(--ghostZ)

    .gasGwei
      position absolute
      bottom 0
      left 0
      right 0
      bottom 32px
      display flex
      justify-content center
      align-items center
      text-align center
      flex-direction column

      .gasGweiNum
        font-size 24px
        line-height 24px
        font-family 'FiraCode', monospace

      .gasGweiLabel
        font-size 8px
        letter-spacing 1px
        font-weight 600
        color var(--outerspace05)
      