.balancesBlock
  margin-bottom 60px
  box-sizing border-box

.signerBalanceWarning
  position relative
  border-top 1px solid var(--ghostA)
  font-weight 400
  padding 10px 0px
  cursor pointer

.signerBalanceWarningTitle
  position relative
  height 24px
  width 100%
  z-index 200000
  font-size 10px
  display flex
  justify-content center
  align-items center
  color var(--moon)
  text-transform uppercase
  pointer-events none

.signerBalanceWarningTitle:hover
  color var(--moonLight)

.signerBalanceWarningMessage
  position relative
  width 100%
  text-align center
  padding 20px
  box-sizing border-box
  font-size 12px
  font-weight 300

.signerBalanceTotal
  position relative
  height 44px
  width 100%
  z-index 200000
  font-size 14px

  .signerBalanceButtons
    display flex
    justify-content left
    align-items center
    height 100%

  .signerBalanceButton
    height 30px
    width 60px
    margin-left 10px
    background var(--ghostB)
    border-radius 8px
    cursor pointer
    z-index 4000
    display flex
    justify-content center
    align-items center
    font-size 11px
    font-weight 500
    letter-spacing 1px
    text-transform uppercase
    padding 0px 3px 0px 4px
    color var(--outerspace07)

  .signerBalanceAddToken
    width 84px

    *
      pointer-events none
      margin-left 2px


  .signerBalanceButton:hover
    background var(--ghostD)
    color var(--outerspace)
    // color var(--good)

  .signerBalanceTotalText
    position absolute
    // background var(--ghostD)
    left 16px
    right 16px
    bottom 0px
    top 0px
    display flex
    justify-content flex-end
    align-items center

    .signerBalanceTotalLabel
      margin-right 10px
      margin-top 1px
      text-transform uppercase
      font-size 11px
      letter-spacing 1px
      font-weight 400
      color var(--outerspace06)

    .signerBalanceTotalValue
      font-size 17px
      color var(--outerspace06)
      font-family FiraCode, monospace
      letter-spacing -1px
      font-size 15px
      text-align center
      display flex
      align-items center

.signerBalancesLoading
  position absolute
  top 32px
  left 5px
  right 5px
  height 52px
  z-index 200
  border-radius 11px
  display flex
  justify-content center
  align-items center

  .loader, .loader:after
    border-radius 100%
    width 22px
    height 22px

  .loader
    font-size 7px
    position relative
    text-indent -9999em
    border-top 3px solid var(--ghostZ)
    border-right 3px solid var(--ghostZ)
    border-bottom 3px solid var(--ghostZ)
    border-left 3px solid var(--ghostE)
    transform translateZ(0)
    animation load8 0.4s infinite linear !important

.signerBalance
  position relative
  margin-left 17px
  width calc(100% - 34px)
  opacity 1
  height 56px
  transition 0.1s ease-out all
  border-bottom 1px solid var(--ghostA)

  .signerBalanceInner
    position relative
    height 100%
    transition var(--standard)

  .signerBalanceCurrency
    position absolute
    left 41px
    top 8px
    right 125px
    font-size 14px
    display flex
    align-items center
    font-weight 400
    white-space nowrap
    z-index 2
    
  .signerBalancePrice
    position absolute
    left 39px
    bottom 9px
    font-size 13px
    color var(--outerspace06)
    display flex
    align-items center
    font-family FiraCode, monospace

  .signerBalanceCurrentPrice
    display flex
    align-items center
    color var(--outerspace)

  .signerBalanceCurrentPriceChange
    margin-left 4px
    color var(--outerspace06)

  .signerBalanceCurrentPriceChangeUp
    color var(--good)

  .signerBalanceCurrentPriceChangeDown
    color var(--bad)

  .signerBalanceLogo
    position absolute
    left 0px
    top 13px
    height 32px
    width 32px
    background var(--foreverwhite)
    border-radius 16px
    overflow hidden

    img:before
      content attr(alt)
      top 0
      bottom 0
      left 0
      right 0
      border-radius 13px
      position absolute
      background var(--outerspace)
      color var(--ghostF)
      display flex
      justify-content center
      align-items center
      font-size 11px
      font-weight 600
      letter-spacing -0.5px
      margin-left -0.5px
     
    img
      height 26px
      width 26px
      border-radius 13px
      position absolute
      top 3px
      left 3px
      overflow hidden

  .signerBalanceValue
    position absolute
    right 0px
    top 7px
    font-size 18px
    text-align center
    display flex
    align-items center
    // border-left 1px solid var(--doubleThick)
    // border-right 1px solid var(--doubleThick)
    font-family FiraCode, monospace
    letter-spacing -1px
    font-weight 200

    .signerBalanceSymbol
      font-family 'Exo2', sans-serif
      margin-right 2px
      font-weight 600
      font-size 12px
      line-height 11px
      position relative
      top -2px
      letter-spacing 0.5px
      color var(--outerspace)
      padding 5px 4px 4px 5px
      border-radius 6px

  .signerBalanceEquivalent
    position absolute
    right 0px
    bottom 9px
    font-size 13px
    color var(--outerspace05)
    display flex
    align-items center
    font-family FiraCode, monospace

.signerBalance:last-child
  border-bottom none

.signerBalanceBase
  // border 1px solid var(--ghostA)
  // width calc(100% - px)
  margin 0px 3px 0px 3px
  // border-radius 8px
  background var(--ghostA)
  padding 0px 14px 0px 14px
  border-radius 12px
  border-bottom none // 1px solid var(--ghostA)
  // box-shadow 0px 4px 5px var(--ghostA)

.signerBalanceSliderDisplay
  position absolute
  top 0
  left 0
  right 0
  transition none

.signerBalanceSliderShadow
  position relative
  opacity 0

.signerBalanceNoTokens
  height 48px
  display flex
  justify-content center
  align-items center
  color var(--outerspace08)
  text-transform uppercase
  font-size 12px
  border-bottom 1px solid var(--ghostA)

.moduleLoading
  height 40px
  display flex
  justify-content center
  align-items center
  padding 20px
  border-bottom 1px solid var(--ghostA)
  margin 0px 16px

.moduleLoadingLoader
  border-radius 50%
  width 30px
  height 30px
  margin 30px auto
  font-size 10px
  position relative
  text-indent -9999em
  border-top 3px solid var(--ghostZ)
  border-right 3px solid var(--ghostZ)
  border-bottom 3px solid var(--ghostZ)
  border-left 3px solid var(--good)
  transform translateZ(0)
  animation load 0.5s infinite linear

@keyframes load
  0%
    -webkit-transform rotate(0deg)
    transform rotate(0deg)

  100%
    -webkit-transform rotate(360deg)
    transform rotate(360deg)

// .signerBalancesOpen
//   height 400px
//   left 8px
//   right 8px
//   box-shadow 0px 0px 60px 0px var(--thick), 0px 50px 40px -30px var(--doubleThick)
  
//   .signerBalanceSliderInset
//     .signerBalance          
//       margin-left 8px
//       margin-right 8px