._txData
  position absolute
  top 143px
  left 5px
  right 5px
  height 30px
  z-index 100000
  
  ._txDataInner
    position absolute 
    top 0
    right 0
    bottom 0
    left 0
    background var(--ghostC)
    border-radius 8px
    // border-bottom-left-radius 8px
    // border-bottom-right-radius 8px
    // border-top-left-radius 3px
    // border-top-right-radius 3px
    display flex
    flex-direction row
    align-items stretch
    font-weight 500
    // overflow hidden

    ._txDataSlice
      display flex
      justify-content center
      align-items center
      font-size 15px
      // border-right 1px solid var(--ghostA)
      padding 0px 6px
      font-family FiraCode

    ._txDataLabel
      font-weight 600
      padding 0px 12px 1px 14px
      font-size 11px
      text-transform uppercase
      font-family OpenSans

    ._txDataValue
      padding 0px 10px
      background var(--ghostD)
      border-radius 8px
      flex 1
      cursor pointer
      border-bottom 1px solid var(--ghostC)
      transform translateY(0px)
      padding-top 1px
      font-size 13px
      font-weight 600

      span
        word-spacing 0px

      svg
        position relative
        top -2px
        padding 0px 0px

    ._txDataValue:hover
      background var(--moon)
      color var(--moonOver)
      ._txDataValueMethod
        color var(--moonOver)

    ._txDataValueMethod
      color var(--moon)

._txData:hover
  z-index 1000001
