.requestNoticeApproval
  height auto

.requestNoticeInnerApproval
  display block
  padding 8px 2px
  box-sizing border-box

.approveTransactionWarning
  overflow hidden

  .approveTransactionWarningBody
    word-wrap break-word
    word-break break-all

    .approveTransactionWarningTitle
      text-align center
      font-size 18px
      letter-spacing 1px
      text-transform uppercase
      font-weight 400
      font-family 'VCR'
      display flex
      justify-content space-between
      align-items center
      transition var(--standard)
      height 52px
      width 100%
      padding 10px 20px

      .approveTransactionWarningIcon
        color var(--moon)
      
    .approveTransactionWarningMessage
      display flex
      align-items center
      justify-content center
      padding 30px
      text-align justify
      text-align-last center
      font-family 'FiraCode'
      font-weight 300
      height 83px
      font-size 14px

._txApproval
  font-size 12px
  transition var(--standard)
  font-family 'MainFont'
  transform translateY(0px) 
  text-transform uppercase
  font-weight 400
  border-radius 24px
  border-top-right-radius 0px
  border-top-left-radius 0px
  z-index 99999999
  height 45px
  padding-bottom 8px
  pointer-events auto
  
  .requestApproveFee
    .requestApproveFeeButton 
      pointer-events auto

._txActionButton
  background var(--ghostA)
  box-sizing border-box
  height 60px
  margin 1px
  flex 1
  cursor pointer
  display flex
  justify-content center
  align-items center
  padding-top 3px
  box-sizing border-box
  transition var(--standard)
  font-family 'MainFont'
  transform translateY(0px) 
  text-transform uppercase
  flex-grow 1

._txActionButton:hover
  background var(--ghostB)
  transform translateY(-1px)
  box-shadow 0px 3px 4px var(--ghostY)

._txActionButton:active
  background var(--ghostA)
  transform translateY(1px)
  box-shadow 0px 1px 0px var(--ghostY)

._txActionButtonGood
  color var(--good)

._txActionButtonBad
  color var(--bad)
