.renameAccountWrap
    display flex
    align-items center
    flex-direction column
    transform translateY(0px)
    min-height 100px
    height 0
    width 100%
    transition standard
    padding-bottom 10px

.renameAccountInput
  min-height 60px
  height 60px
  width calc(100% - 30px)
  margin 20px 0px 20px 0px
  padding-bottom 0px
  border 0
  outline 0
  background spacewhite
  font-size 18px
  letter-spacing 0px
  display flex
  justify-content center
  align-items center
  text-align center
  border-radius 16px
  color outerspace
  font-weight 500
  box-shadow cardDrop, 0px 2px 0px thick, 0px 8px 8px -2px thick, 0px 0px 10px -2px thick

.renameAccountButtonWrap
  display flex
  flex-direction row

.renameAccountButton
  height 30px
  background outerspace
  font-size 12px
  margin 10px 5px 0px 5px
  padding 0px 40px 0px 44px
  border-radius 15px
  display flex
  justify-content center
  align-items center
  color spacewhite
  font-weight 600
  box-shadow cardDrop,0px 2px 0px thick, 0px 8px 8px -2px thick, 0px 0px 10px -2px thick
