.notify
  position fixed
  top 0px
  right 0px
  left 0px
  bottom 0px
  z-index 9999999999999999
  pointer-events auto
  transition var(--standard)
  display flex
  justify-content center
  align-items center
  text-align center
  opacity 1
  background var(--ghostY)
  
  ::selection
    background var(--moon) //  #ffb7b7

  .notifyCloseButton
    position absolute
    top 23px
    width 100px
    margin-left -50px
    left 50%
    height 25px
    border-radius 8px
    display flex
    justify-content center
    align-items center
    text-transform uppercase
    font-size 11px
    font-weight 300
    cursor pointer
    background var(--ghostB)
    color var(--moon)

    *
      pointer-events none

  // .notifyBox:before
  //   content ''
  //   top 0
  //   right 0
  //   bottom 3px
  //   left 0
  //   position absolute
  //   border-radius 12px
  //   background var(--ghostB)
  //   z-index 2

  .notifyBoxWrap
    border-radius 12px
    box-sizing border-box
    position absolute
    top 0px
    bottom 0px
    left 0px
    right 0px
    padding 8px
    transition var(--standard)
    background var(--ghostZ)
    display flex
    justify-content center
    align-items center
    text-align center
    opacity 1
    overflow-x hidden
    z-index 400000

    .notifyBoxSlide
      overflow-y scroll
      overflow-x hidden
      max-height 100%
      width 100%

    .notifyClose
      position absolute
      top 0px
      right 0px
      color var(--outerspace)
      z-index 3
      height 40px
      width 40px
      display flex
      justify-content center
      align-items center

    .notifyBox
      width 100%
      overflow hidden

      .notifySection
        margin 10px
      
      .notifyTitle
        font-size 19px
        position relative
        z-index 3
        margin-bottom 40px
        color var(--moon)

      .notifySubtitle
        font-size 16px
        position relative
        z-index 3
        margin-bottom 24px

      .notifyFrameIcon
        height 106px 
        width 100%
        position relative
        z-index 4
        display flex
        justify-content center
        align-items center

        img
          width 96px
          height 96px
          border-radius 24px
          // box-shadow 0px 30px 24px -10px var(--doubleThick)

      .notifyBody
        font-size 14px
        position relative
        z-index 3
        word-break break-word
        width 100%
        box-sizing border-box
        padding 8px

        .notifyBodyLine
          padding 0px 20px
          font-size 16px
          font-weight 300
          font-family 'MainFont'

        .notifyBodyLineUrl
          padding-bottom 56px
          font-family 'FiraCode'
          font-size 14px
          word-break break-all
 
        .notifyBodyUpdate
          padding 8px
          margin-bottom 8px
          background var(--moon)
          color var(--moonOver)
          border-radius 8px
          margin-top 50px
          font-size 13px
          font-weight 300

        .notifyBodyLink
          text-decoration underline
          cursor pointer

        .notifyBodyHash
          font-size 14px
          font-family 'FiraCode'
          background var(--ghostB)
          line-height 20px
          box-shadow inset 0px 2px 14px var(--ghostB)
          padding 18px
          border-radius 12px
          margin-top 10px
          border 1px solid var(--ghostC)
          text-shadow 0px 2px 0px var(--ghostB)
          min-height 58px
          max-height 58px

        .notifyBodyPrice
          margin-top 4px
          font-size 23px

        .notifyBodyQuestion
          padding-top 40px
          color var(--moon)

      .notifyCheck
        display flex
        position relative
        justify-content center
        align-items center
        font-weight 400
        z-index 3
        margin-top 16px
        margin-left 8px
        padding 0px 30px

        .notifyCheckBox 
          width 32px
          height 32px
          min-width 32px
          min-height 32px
          border-radius 16px
          background var(--ghostC)
          border 1px solid var(--ghostZ)
          box-shadow cardDrop, 0px 2px 1px var(--ghostA), 0px 0px 7px 2px var(--ghostB)
          margin-right 10px
          box-sizing border-box
          display flex
          position relative
          justify-content center
          align-items center
          cursor pointer
          *
            pointer-events none

          svg 
            height 22px

        .notifyCheckBox:hover
          background var(--ghostD)

        .notifyCheckText
          text-align left
          font-size 13px
          line-height 13px
          width 210px

      .notifyInput
        display flex
        position relative
        justify-content space-between
        z-index 3
        margin-top 40px

        .notifyInputOption
          position relative
          width calc(50% - 1px)
          display flex
          justify-content center
          align-items center
          box-sizing border-box
          background var(--ghostA)
          height 40px
          font-weight 300
          padding-top 1px
          box-shadow cardDrop, 0px 2px 1px var(--ghostA), 0px 0px 7px 2px var(--ghostB)
          text-transform uppercase
          font-size 14px
          font-weight 400
          letter-spacing 1px
          cursor pointer
          *
            pointer-events none

          .notifyInputOptionText
            position relative
            z-index 200
            padding-bottom 2px

        .notifyBetaGo
          color var(--good)

        .notifyInputOption:hover:before
          background var(--ghostD)

        .notifyInputDeny:before
          content ''
          position absolute
          top 0
          left 0
          right 0
          bottom 2px
          background var(--ghostB)
          z-index 2
          border-top-left-radius 19px
          border-bottom-left-radius 19px

        .notifyInputDeny
          border-top-left-radius 20px
          border-bottom-left-radius 20px

        .notifyInputProceed:before
          content ''
          position absolute
          top 0
          left 0
          right 0
          bottom 2px
          background var(--ghostB)
          z-index 2
          border-top-right-radius 19px
          border-bottom-right-radius 19px

        .notifyInputProceed
          border-top-right-radius 20px
          border-bottom-right-radius 20px

        .notifyInputSingleButton:before
          content ''
          position absolute
          top 0
          left 0
          right 0
          bottom 2px
          background var(--ghostC)
          z-index 2
          border-radius 19px

        .notifyInputSingleButton
          left 50%
          transform translate(-50%, 0)
          border-radius 20px

    .introInstructions
      position relative
      z-index 3
      margin -10px
      font-size 12px
      font-weight 300
      border-radius 6px
      text-align cleft
      line-height 18px
      font-weight 300
      color var(--outerspace08)

      .introInstructionItem
        margin-bottom 20px
        padding 0px 20px
        span
          color var(--pending)
          text-decoration none

      .introInstructionList
        margin 18px 5px 30px 5px
        border-radius 6px
        padding 16px
        font-weight 400
        background var(--pending)
        color var(--spacewhite)
        div
          font-size 14px
          line-height 26px


