.addChainTitle
  padding 42px
  font-size 24px
  font-weight 300

.addChain
  font-size 16px
  position relative
  z-index 3
  word-break break-word
  width 100%
  box-sizing border-box
  padding-bottom 32px

.chainRow
  width 100%
  display flex
  justify-content space-between
  padding 0px 5px 20px 5px
  box-sizing border-box

.chainRow:last-child
  padding 0px 5px 0px 5px

.chainName
  width 100%

.chainInputField
  text-align left

.chainId
  width calc(50% - 5px)

.chainSymbol
  width calc(50% - 5px)

.chainExplorer
  width 100%

.chainRpc
  width 100%  

.chainInput
  background transparent
  outline none
  border none
  text-align center
  font-size 16px
  width 100%
  background var(--ghostZ)
  border-radius 8px
  font-family 'MainFont'
  padding 10px
  font-weight 300
  color var(--outerspace)
  margin-top 5px

.chainInputDim
  color var(--outerspace03)

.chainInputLabel
  font-size 11px
  text-transform uppercase
  font-weight 500
  padding-left 10px
  letter-spacing 0.5px

.chainFieldDisplay
  padding 10px
  margin-top 5px
  text-align center

.chainLayers
  width 100%
  // padding 0px 0px
  margin-top 25px

.chainLayerOptions
  display flex
  flex-wrap wrap
  text-align center
  justify-content space-between
  margin-top 5px

.chainLayerOption
  background var(--ghostB)
  margin-bottom 5px
  height 42px
  border-radius 8px
  box-sizing border-box
  padding 8px
  cursor pointer
  width calc(50% - 2.5px)
  box-sizing border-box
  font-weight 300
  border 2px solid transparent
  * 
    pointer-events none

.chainLayerOption:hover
  background var(--ghostC)
  color var(--good)

.chainLayerOptionOn
  color var(--good)
  border 2px solid var(--good)

.chainLayerOptionOn:hover
  background var(--ghostC)
  color var(--good)

.addChainSubmit
  background var(--ghostC)
  width 100%
  margin-top 25px
  margin-bottom 25px
  height 48px
  border-radius 8px
  box-sizing border-box
  padding 13px
  text-align center
  margin-bottom 5px
  display flex
  justify-content center
  align-items center
  font-size 15px
  text-transform uppercase
  opacity 0.5

  svg
    margin-right 10px

// .addChainSubmit:hover
//   background var(--ghostE)
//   color var(--good)

.addChainSubmitEnabled
  background var(--ghostE)
  color var(--good)
  opacity 1
  cursor pointer
  * 
    pointer-events none
    