.dappTile
  height 32px
  width 88px
  display flex
  justify-content center
  align-items center
  cursor pointer
  box-sizing border-box
  border-radius 10px
  background var(--ghostZ)
  margin 3px 8px 3px 3px
  color var(--outerspace08)
  padding 5px
  // border-right 1px solid var(--ghostA)

  * 
    pointer-events none

  svg
    position relative

  img
    position relative
    height 100%

.dappTile:hover
  background var(--ghostA)

