.displayValue
  display inline-flex
  justify-content center
  align-items center

  span
    padding 0
    margin 0

  .displayValueApprox
    font-weight 600
    font-size 0.9em 
    
  .displayValueFiat
    font-weight 600
    font-size 0.8em
    padding 0em 0.2em

  .displayValueSymbol
    padding 0em 0.2em 0em 0.2em

  .displayValueUnit
    font-weight 600
    padding 0em 0em 0em 0.2em
