.dockCardInset
  position absolute
  top 0px
  right 0px
  left 0px
  bottom 2px
  z-index 40
  border-radius 9px
  z-index 20000000
  background light
  overflow hidden
  // background red

.main
  position absolute
  top 0px
  right 0px
  bottom 0px
  left 0px
  z-index 1

.dockCard
  position absolute
  top 10px
  left 48px
  bottom 10px
  right 10px
  border-radius 9px
  z-index 1
  // box-shadow 0px 0px 4px 0px rgba(6, 54, 252, 0.05), cardDrop, 15px 15px 25px -10px tripleThick
  // background linear-gradient(135deg, white, doubleThick)
  // transition settle
  box-shadow 0px 0px 4px 0px rgba(6, 54, 252, 0.05), cardDrop, 3px 10px 10px 0px thick
  background linear-gradient(135deg, light, thick)

  .dockCardHeader
    position absolute 
    top 0
    left 0
    right 0
    height 63px
    border-bottom 1px solid thin
    z-index 90000

    .dockCardHeaderLeft
      position absolute 
      top 0
      left 0
      bottom 0

      .dockCardHeaderTitle
        display flex
        justify-content center
        align-items center
        height 64px
        padding 0px 20px
        font-size 24px
        font-weight 200
        
    .dockCardHeaderRight
      position absolute 
      top 0
      right 0
      bottom 0

/* Generated with Bounce.js. Edit at http://bouncejs.com#%7Bl%3A1%2Cs%3A%5B%7BT%3A%22t%22%2Ce%3A%22b%22%2Cd%3A890%2CD%3A0%2Cf%3A%7Bx%3A370%2Cy%3A0%7D%2Ct%3A%7Bx%3A0%2Cy%3A0%7D%2Cs%3A3%2Cb%3A3%7D%5D%7D */

@keyframes cardShow
  0%
    opacity 0

  15.82%
    opacity 0
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -9.026, 0, 0, 1)

  21.02%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -19.292, 0, 0, 1)

  35.34%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -3.681, 0, 0, 1)

  49.55%
    opacity 1
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.594, 0, 0, 1)

  78.18%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.018, 0, 0, 1)

  100%
    transform matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)


@keyframes cardHide
  0%
    opacity 1
    transform translateX(0px)

  100%
    opacity 0
    transform translateX(370px)

.cardShow
  z-index 1000000
  animation cardShow 1200ms linear both
  // animation-delay 0.14s

.cardHide
  z-index 3000000
  animation cardHide 0.6s normal forwards cubic-bezier(.82,0,.12,1)

.panelMenu
  position absolute
  left 0px
  right 0px
  top 0
  height 50px
  // padding 0px 5px 100px 5px
  display flex
  justify-content space-between
  align-items center
  -webkit-app-region no-drag
  z-index 10000
  opacity 1
  transform translate3d(0, 0, 0)
  // background linear-gradient(rgba(240, 240, 255, 0.5), rgba(240, 240, 255, 0))
  pointer-events none
  transition standard

  .panelMenuItem
    width 50px
    height 50px
    display flex
    justify-content center
    align-items center
    -webkit-app-region no-drag
    transition standard
    pointer-events auto
    transform translate3d(0, 0, 0)

    svg
      color outerspace
      transform translate3d(0, 0, 0)

    .panelMenuIconArrow
      margin 0px 0px 1px 1px
      min-width 5px
      max-width 5px
      transform translate3d(0, 0, 0)

  .panelDetail
    display flex
    align-items center
    margin-left 0%
    transition standardSlow

  .panelDetailText
    transition standard
    text-transform uppercase
    font-size 10px
    letter-spacing 6px
    font-weight 400
    color outerspace08
    height 30px
    display flex
    justify-content center
    align-items center
    margin-top -1px

  .panelDetailIndicator
    height 30px
    width 50px
    // background blue
    padding-right 5px
    border-radius 5px
    display flex
    align-items center
    justify-content center
    padding 1px
    transition standardSlow
    transition-delay 0.64s

    .panelDetailIndicatorShade
      margin-left -2px
      padding 2px
      box-shadow 0px 0px 4px rgba(6, 54, 252, 0.05), cardDrop, 3px 3px 2px thick, -3px -3px 6px rgba(255, 255, 255, 1)
      // background linear-gradient(135deg, white, tripleThick)
      border-radius 100%

      .panelDetailIndicatorInner
        height 12px
        width 12px
        border-radius 100%

      .panelDetailIndicatorGood
        transition standardSlow
        background good

      .panelDetailIndicatorBad
        transition standardSlow
        background bad

      .panelDetailIndicatorPending
        transition standardSlow
        background pending

.panelMenuAddMode
  transition standard
  z-index 10000
  .panelDetail
    transition standardSlowest
    margin-left calc(50% - 75px)
  .panelMenuItem
    transition standard
    opacity 0
    pointer-events none
    svg
      color spacewhite
  .panelDetailText
    transition standard
    color spacewhite
  .panelDetailIndicator
    transition standard
    transition-delay 0s
    opacity 0
    .panelDetailIndicatorGood
      transition standardSlow
      background smart
    .panelDetailIndicatorBad
      transition standardSlow
      background hot
    .panelDetailIndicatorPending
      transition standardSlow
      background hardware

.dockVanish
  transition standard
  position relative
  z-index 99999999999999

  // .signerContainer
  //   position relative
  //   z-index 3002
  //   border-radius 6px
  //   background lightShade
  //   padding-bottom 3px
