@keyframes hold {
  0% {
    transform rotate(-13deg) scale(1)
  }
  100% {
    transform rotate(-13deg) scale(1.2)
  }
}

@keyframes target {
  0% {
    transform scale(1)
    opacity 1
  }
  100% {
    transform scale(1.4)
    opacity 0
  }
}

@keyframes removal {
  0% {
    transform scale(1)
    opacity 1
  }
  100% {
    transform scale(2.7)
    opacity 0
  }
}

@keyframes load {
  0% {
    transform rotate(0deg)
  }
  100% {
    transform rotate(360deg)
  }
}

#dock
  position absolute
  top 0px
  bottom 0px
  left 3px
  width 420px
  // padding-right 28px
  -webkit-app-region no-drag
  display flex
  flex-direction column
  justify-content center
  align-items center
  transform translate3d(0px, 0px, 0px)
  will-change transform
  // background whiteglowShade
  background lowlight
  border-top-left-radius 9px
  border-bottom-left-radius 9px
  // margin 0px -30px 0px 0px
  box-shadow 0px 1px 5px 1px rgba(33, 45, 46, 0.1), 0px 0px 0px 1px rgba(110, 120, 140, 0.2)
  overflow hidden

  .overStoreShade
    opacity 1
    position absolute
    top 0
    right 0
    bottom 2px
    left 48px
    z-index 2
    pointer-events none
    transition standardSlow
    transition-delay 0.00s
    background lightShade

  .underStoreShade
    opacity 1
    position absolute
    top 0
    right 0
    bottom 0
    left 48px
    z-index 1
    pointer-events none
    transition standardSlow
    transition-delay 0.00s
    background linear-gradient(90deg, highlight, lowlight)
    // background linear-gradient(90deg, rgba(16, 44, 100, 0), rgba(16, 44, 100, .1))
    // background

  .dockInset
    position absolute
    top 0px
    right 0px
    bottom 0px
    left 0px
    border-top-left-radius 6px
    border-bottom-left-radius 6px

  .appTileIconWrap
    transition standard
    z-index 20

  .appTileLoader
    position absolute
    display flex
    justify-content center
    align-items center

    .miniloader,
    .miniloader:after
      border-radius 100%
      width 25px
      height 25px
    .miniloader
      font-size 4px
      position relative
      text-indent -9999em
      border-top 2px solid thin
      border-right 2px solid thin
      border-bottom 2px solid thin
      border-left 2px solid doubleThick
      transform translateZ(0)
      animation load 0.6s infinite linear !important

  .appCardIconPlaceholder
    display flex
    justify-content center
    align-items center
    height 27px
    width 27px
    border-radius 14px
    font-size 11px
    letter-spacing 0px
    font-weight bold
    display flex
    flex-direction column

    div
      padding-bottom 1px
      padding-left 1px
      width 18px
      overflow hidden
      height 10px
      display flex
      align-items center
      justify-content center

      span
        padding 0px

  .dragCatchDock
    position absolute
    top 155px
    left 0px
    bottom 48px
    width 48px
    z-index 3

  .appMovement
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index 2000
    pointer-events none

    .draggedApp
      position absolute
      padding 10px

      .draggedAppCard
        min-width 47px
        min-height 47px
        width 47px
        height 47px
        border-radius 6px
        box-shadow cardDrop, 3px 3px 3px thick
        background highlighter
        box-sizing border-box
        display flex
        justify-content center
        align-items center
        z-index 5
        color outerspace
        transition 0.1s linear all
        overflow hidden
        pointer-events none
        animation-name hold
        animation-iteration-count infinite
        animation-direction alternate
        animation-duration 1.4s
        animation-timing-function linear

        img
          height 28px
          width 28px

        div, svg, img
          pointer-events none

  .dockMenuIndicator
    position absolute
    left 0px
    width 50px
    // background blue
    margin-top -1px
    height 14px
    border-top-right-radius 2px
    border-bottom-right-radius 2px
    z-index 0
    display flex
    justify-content center
    align-items center
    color outerspace08
    transition standardFast

    .dockMenuIndicatorLeft
      position relative
      left -12px
      transform rotate(90deg)

    .dockMenuIndicatorRight
      position absolute
      right 5px
      transform rotate(-90deg)

  .expandFrame
    position absolute
    top 50px
    left 0
    width 50px
    height 32px
    z-index 99999999999999
    display flex
    justify-content center
    align-items center
    color outerspace08
    left 0px
    // background green

  .expandFrame:hover
    color outerspace

  .selectDapps
    top 83px
    left 0px

  .selectSettings
    top 116px
    left -1px

  .pinFrame
    position absolute
    bottom 10px
    left 0
    width 50px
    height 32px
    z-index 10000000
    display flex
    justify-content center
    align-items center
    color outerspace03

    svg
      transform rotate(45deg)
      transition standardFast

  .pinFrame:hover
    svg
      color outerspace05

  .pinFrameActive
    svg
      color outerspace08
      transform rotate(0deg)

  .pinFrameActive:hover
    svg
      color outerspace
      transform rotate(0deg)

  .toggleDock
    position absolute
    top 49px
    left 0
    width 48px
    height 48px
    z-index 1000
    display flex
    justify-content center
    align-items center
    color outerspace08
    border-top 1px solid thick

  .toggleDock:hover
    color outerspace

  .appsOff
    position absolute
    left -87px
    top 50%
    z-index 1000
    transform rotate(-90deg)
    width 220px
    height 47px
    margin-top -13px
    display flex
    justify-content center
    align-items center
    text-transform uppercase
    letter-spacing 4px
    font-size 8px
    font-weight 600
    transition standardSlow
    opacity 0.05

  .appsOff:hover
    opacity 0.5


  .dockApps
    position absolute
    left 0
    top 50%
    z-index 1000
    transition standard

    .dockAppIcon
      height 48px
      margin-bottom 10px
      display flex
      justify-content center
      align-items center
      width 48px

    .dockAppIconNotPinned
      opacity 0.5

  .dockedHolder
    width 28px
    height 28px
    margin -14px 10px 10px 10px
    box-sizing border-box
    background thick
    border-radius 14px
    animation-name target
    animation-iteration-count infinite
    animation-duration 1s
    animation-timing-function linear

  .dockedApp:hover
    background lowlight
    border-radius 9px

  .dockedApp
    min-width 48px
    min-height 48px
    width 48px
    height 49px
    margin-left 1px
    box-sizing border-box
    display flex
    justify-content center
    align-items center
    // border-bottom 1px solid thick

    img
      height 28px
      width 28px

    div, svg, img
      pointer-events none

  .dockedApp:last-child
    border-bottom none

  .appStore
    z-index 100
    position absolute
    top 0
    left 0px
    bottom 0
    right 0px
    // background light

    .browserExtension
      position absolute
      left 0px
      right 0px
      bottom 0px
      height 60px
      display flex
      justify-content center
      align-items center
      flex-direction column
      // border-top-left-radius 9px
      // border-top-right-radius 9px
      z-index 3
      // border-top 1px solid thick
      // box-shadow reverseCardDrop, 0px -10px 10px 0px thin
      // background orange

      .browserExtensionIcons
        position absolute
        bottom 0px
        right 0px
        padding 10px
        width 100px
        // background blue
        display flex
        justify-content center
        align-items center

        .browserExtensionIcon
          min-height 40px
          min-width 40px
          display flex
          justify-content center
          align-items center
          margin 0px 0px 0px 5px
          font-size 11px
          border-radius 20px
          color outerspace08
          transition 0.1s linear all
          border 1px solid thick

        .browserExtensionIcon:hover
          background highlight
          box-shadow cardDrop

      .browserExtensionText
        position absolute
        font-size 11px
        top 4px
        bottom 0
        left 10px
        right 110px
        display flex
        text-align center
        justify-content center
        align-items center
        font-weight 400
        flex-direction column
        line-height 14px
        // background orange

    // .addAppForm:before
    //   content ''
    //   position absolute
    //   left 0px
    //   right 0px
    //   top 0px
    //   bottom 0px
    //   // height 80px
    //   // border-bottom-left-radius 6px
    //   // border-bottom-right-radius 6px
    //   // background highlighter
    //   // display flex
    //   // justify-content center
    //   // align-items center
    //   // flex-direction column
    //   // z-index 3
    //   // border-bottom-left-radius 6px
    //   // border-bottom-right-radius 6px
    //   // box-shadow cardDrop, 0px 10px 10px 0px thin
    //   // background highlighter

    .addAppForm:before
      content ''
      position absolute
      bottom 0px
      left 10px
      right 10px
      height 3px
      border-radius 2px
      background thick
      z-index 300


    .addAppForm
      position absolute
      left 0px
      right 0px
      top 0px
      height 80px
      display flex
      justify-content center
      align-items center
      flex-direction column
      z-index 3
      //border-radius 6px
      //box-shadow cardDrop, 0px 10px 10px 0px thin
      // background light
      overflow hidden

      .removeApp
        position relative
        height 60px
        width 60px
        background thin
        border-radius 40px
        display flex
        justify-content center
        align-items center
        color outerspace08

      .removeAppPending
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        border-radius 35px
        background bad
        animation-name removal
        animation-iteration-count infinite
        animation-duration 1.3s
        animation-timing-function ease-out

      .addAppSubmit
        position absolute
        top 0
        bottom 0
        // left 0px
        right 0px
        // height 30px
        // border-radius 30px
        width 80px
        display flex
        justify-content center
        align-items center
        font-weight 500
        text-transform uppercase
        // letter-spacing 2px
        color outerspace08
        // background blue

      .addAppSubmitButton:hover
        background highlight
        box-shadow cardDrop
        // border 1px solid thin

      .addAppSubmitButton
        width 40px
        height 40px
        border-radius 20px
        // background highlight
        // box-shadow 3px 3px 3px 0px thin
        display flex
        justify-content center
        align-items center
        font-size 26px
        // background highlight
        border 1px solid thin
        transition standard


      // .addAppInput:before
      //   content ''
      //   position absolute
      //   bottom -4px
      //   left 10px
      //   right 10px
      //   height 3px
      //   border-radius 2px
      //   background thick
      //   z-index 300

      .addAppInput
        position absolute
        top 0px
        bottom 0px
        left 0px
        right 0px
        // background highlightest
        color outerspace08
        display flex
        justify-content center
        align-items center
        // border-radius 9px
        // background red
        // box-shadow 0px 8px 8px rgba(0, 35,190, 0.05)

        input
          padding 10px
          outline none
          border 0px
          height 80px
          // border-radius 9px
          background transparent
          position absolute
          top 0
          bottom 0
          left 0
          box-shadow none
          text-align center
          width calc(100% - 40px)
          font-size 20px
          color shift05

    .addedApps
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      display flex
      flex-wrap wrap
      align-items flex-start
      align-content flex-start
      justify-content flex-start
      padding 100px 0px 10px 10px
      box-sizing border-box
      overflow-x hidden
      overflow-y scroll
      z-index 2

      .dragCatch
        position absolute
        top 130px
        right 10px
        bottom 0
        left 10px
        z-index 3

    .addedApp
      position relative
      z-index 5
      padding 10px

      // .addedAppCard:before
      //   content ''
      //   position absolute
      //   top 0px
      //   right 0px
      //   left 0px
      //   bottom 2px
      //   z-index 40
      //   border-radius 9px
      //   z-index 6
      //   background highlight
      //   overflow hidden
      //   // background red

      .addedAppCard:hover
        background highlight
        box-shadow cardDrop

      .addedAppCard
        position relative
        min-width 47px
        min-height 47px
        width 47px
        height 47px
        border-radius 9px
        // box-shadow cardDrop, 3px 3px 3px thick
        // background highlighter
        box-sizing border-box
        display flex
        justify-content center
        align-items center
        z-index 10
        color outerspace
        transition 0.1s linear all
        overflow hidden
        // background highlight
        // border 1px solid thick
        background highlight
        box-shadow cardDrop
        // box-shadow cardDrop, 2px 2px 0px 0px thin
        // background linear-gradient(135deg, highlight, thin)
        transition standard

      img
        height 28px
        width 28px

      div, svg, img
        pointer-events none

@import './card.styl'
@import '../Main/style'
@import '../Local/style'
