@keyframes hold {
  0% {
    transform rotate(-13deg) scale(1)
  }
  100% {
    transform rotate(-13deg) scale(1.2)
  }
}

@keyframes target {
  0% {
    transform scale(1)
    opacity 1
  }
  100% {
    transform scale(1.4)
    opacity 0
  }
}

@keyframes removal {
  0% {
    transform scale(1)
    opacity 1
  }
  100% {
    transform scale(1.7)
    opacity 0
  }
}

#dock
  position absolute
  top 20px
  bottom 20px
  right -800px
  width 800px
  padding-right 23px
  -webkit-app-region no-drag
  display flex
  flex-direction column
  justify-content center
  align-items center
  transform translate3d(0px, 0px, 0px)
  will-change transform
  background rgba(220, 224, 244, 1)
  border-top-left-radius 6px
  border-bottom-left-radius 6px
  margin 0px -30px 0px 0px
  box-shadow 0px 1px 5px 1px rgba(33, 45, 46, 0.1), 0px 0px 0px 1px rgba(110, 120, 140, 0.2)
  overflow hidden

  .appMovement
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index 2000
    pointer-events none

    .draggedApp
      position absolute
      padding 10px

      .draggedAppCard
        padding-top 3px
        min-width 48px
        min-height 48px
        width 48px
        height 48px
        border-radius 6px
        box-shadow cardDrop
        background lowlight
        box-sizing border-box
        display flex
        justify-content center
        align-items center
        pointer-events none
        animation-name hold
        animation-iteration-count infinite
        animation-direction alternate
        animation-duration 1.4s
        animation-timing-function linear

  .expandFrame
    position absolute
    top 0
    left 0
    width 48px
    height 48px
    z-index 1000
    display flex
    justify-content center
    align-items center
    color outerspace08
  .expandFrame:hover
    color outerspace

  .toggleDock
    position absolute
    bottom 0
    left 0
    width 48px
    height 48px
    z-index 1000
    display flex
    justify-content center
    align-items center
    color outerspace08
  .toggleDock:hover
    color outerspace

  .dockApps
    position absolute
    left 0
    top 50%
    z-index 1000

    .dockAppIcon
      height 48px
      margin-bottom 10px
      display flex
      justify-content center
      align-items center
      width 48px
      transition opacity 1s

    .dockAppIconNotPinned
      opacity 0.5

  .dockedHolder
    width 28px
    height 28px
    margin -14px 10px 10px 10px
    box-sizing border-box
    background thick
    border-radius 14px
    animation-name target
    animation-iteration-count infinite
    animation-duration 1s
    animation-timing-function linear

  .dockedApp
    min-width 48px
    min-height 48px
    width 48px
    height 48px
    padding-top 3px
    box-sizing border-box
    display flex
    justify-content center
    align-items center
    border-bottom 1px solid thick
    div, svg
      pointer-events none

  .dockedApp:last-child
    border-bottom none

  .appStore
    z-index 100
    position absolute
    top 0
    left 0px
    bottom 0
    width 340px
    background thinner

    .addAppForm
      position absolute
      left 48px
      width 260px
      display flex
      justify-content center
      align-items center
      flex-direction column
      padding 60px 20px 40px 20px
      z-index 3

      .removeApp
        margin-top 5px
        position relative
        height 70px
        width 70px
        background bad02
        border-radius 35px
        display flex
        justify-content center
        align-items center
        color bad

      .removeAppPending
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        border-radius 35px
        background bad08
        animation-name removal
        animation-iteration-count infinite
        animation-duration 1s
        animation-timing-function linear

      .addAppSubmit
        min-height 30px
        height 30px
        background lowlight
        font-size 12px
        margin 10px 0px 0px 0px
        padding 0px 40px 0px 44px
        border-radius 15px
        display flex
        justify-content center
        align-items center
        font-weight 600
        box-shadow cardDrop
        text-transform uppercase
        letter-spacing 3px
        color outerspace08

      .addAppInput
        background lowlight
        min-height 40px
        height 40px
        width 100%
        position relative
        border-radius 4px
        color outerspace08
        box-shadow cardDrop

        input
          outline none
          border 0px
          height 40px
          background transparent
          position absolute
          top 0
          right 0
          bottom 0
          left 0
          box-shadow none
          text-align center
          width 100%
          font-size 18px
          color outerspace08

    .addedApps
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      display flex
      flex-wrap wrap
      align-items flex-start
      margin 180px 0px 0px 48px
      padding 10px
      box-sizing border-box
      overflow-x hidden
      overflow-y scroll
      z-index 2
      background lightShade

    .addedApp
      padding 10px

      .addedAppCard
        padding-top 3px
        min-width 48px
        min-height 48px
        width 48px
        height 48px
        border-radius 6px
        box-shadow cardDrop
        background lowlight
        box-sizing border-box
        display flex
        justify-content center
        align-items center

      div, svg
        pointer-events none

    .appStoreShade
      opacity 1
      position absolute
      top 0
      right 0
      bottom 0
      left 48px
      z-index 1
      pointer-events none
      transition standardSlow
      transition-delay 0.00s
      background rgba(0, 0, 50, 0.05)
