.transactions
  height 100vh
  display flex
  align-items center
  justify-content center

.currentTransaction
  font-size 24px
  text-align center

.tHash-wrap
  text-align center

.tHash
  cursor pointer

.back
  position absolute
  top 10px
  left 10px
  cursor pointer
