.transactions
  height 100vh
  display flex
  align-items center
  justify-content center

.currentTransaction
  padding 50px
  font-size 16px

  .transaction-detail
    margin 15px 0

  .transaction-key
    text-transform capitalize
    font-weight bold

.tHash-wrap
  text-align center

  .tHash
    cursor pointer
    margin 10px
    display flex
    justify-content center
    align-items center
    background spacewhite
    border-radius 4px
    padding 20px
    box-shadow cardDrop
    font-size 14px

    .tHash-verified
      margin-right 10px
      fill #3ce671
    
    .tHash-pending
      margin-right 10px

.back
  position absolute
  top 48%
  left 10px
  cursor pointer
