.accountStatusIndicator
  position absolute
  top 0px
  left 0px
  height 32px
  width 32px
  border-radius 16px
  display flex
  justify-content center
  align-items center
  color outerspace08
  transition standard
  box-shadow 0px 3px 4px thick0
  border 1px solid thick
  background rgba(255, 255, 255, 0.75)

// .accountStatusIndicator:hover
//   background rgba(255, 255, 255, 0.75)
//   box-shadow 0px 3px 4px thin

.accountStatus
  top 15px
  left 15px
  right 15px
  width 34px
  height 34px
  border-radius 16px
  position absolute
  display flex
  justify-content center
  align-items center
  z-index 30
  box-sizing border-box
  // background highlighter
  // box-shadow cardDrop
  transition standard
  opacity 1
  overflow hidden
  box-shadow cardDrop // , 0px 2px 0px thick, 0px 0px 10px -2px thick
  // height 312px
  // width 312px
  background highlightest

  .accountStatusInner
    position absolute
    top 0px
    left 0px
    // right 0px
    // bottom 0px
    transition standard
    border-radius 16px
    height 322px
    width 322px

  .accountStatusIndicatorUnlocked
    // background ghostD
    color good

  .accountStatusClose
    position absolute
    top 0
    right 0
    height 32px
    width 32px
    display flex
    justify-content center
    align-items center
    color outerspace08
    font-size 20px
    display none
    // background blue

  .accountStatusTitle
    position absolute
    top 0
    right 32px
    height 32px
    left 32px
    display flex
    justify-content center
    align-items center
    color outerspace08
    // background highlight
    z-index 200
    text-transform uppercase
    font-size 12px
    font-weight 600

.accountStatusOpen
  transform translate3d(-16px, -16px, 0px)
  height 322px
  width 354px
  box-shadow cardDrop, 0px 2px 0px thick, 0px 0px 10px -2px thick

  .accountStatusInner
    transform translate3d(16px, 16px, 0px)
    background highlightsupreme
    
.accountStatusGlimpse
  width 322px

  .accountStatusInner
    background highlightest

.signerUnlockRequest
  position absolute
  top 50px
  right 0
  left 8
  display flex
  align-items center
  flex-direction column
  justify-content flex-end
  transform translateY(0px)
  height 3px
  transition standard
  font-size 12px
  font-weight 400
  text-transform uppercase
  letter-spacing 3px
  height 110px

  .signerUnlockWrap
    display flex
    align-items center
    flex-direction column
    transform translateY(0px)
    min-height 100px
    height 0
    width 100%
    transition standard
    padding-bottom 10px

  .signerUnlockInput
    height 40px
    width calc(100% - 30px)
    margin 20px 0px 0px 0px
    padding-bottom 0px
    border 0
    outline 0
    background spacewhite
    font-size 20px
    letter-spacing 6px
    display flex
    justify-content center
    align-items center
    text-align center
    border-radius 4px
    color outerspace08
    box-shadow cardDrop, 0px 2px 0px thick, 0px 8px 8px -2px thick, 0px 0px 10px -2px thick

  .signerUnlockSubmit
    height 30px
    background outerspace
    font-size 12px
    margin 10px 0px 0px 0px
    padding 0px 40px 0px 44px
    border-radius 15px
    display flex
    justify-content center
    align-items center
    color spacewhite
    font-weight 600
    box-shadow cardDrop,0px 2px 0px thick, 0px 8px 8px -2px thick, 0px 0px 10px -2px thick
