.accountStatusIndicator
  position absolute
  top 16px
  left 16px
  height 32px
  width 32px
  border-radius 16px
  display flex
  justify-content center
  align-items center
  color outerspace08
  transition standard
  box-shadow 0px 3px 4px thick0
  border 1px solid thin

.accountStatusIndicator:hover
  background rgba(255, 255, 255, 0.75)
  box-shadow 0px 3px 4px thin

.accountStatus
  top 0px
  left 0px
  width 64px
  height 64px
  border-radius 16px
  position absolute
  display flex
  justify-content center
  align-items center
  z-index 30
  // background highlighter
  // box-shadow cardDrop
  transition standard
  opacity 0.96
  overflow hidden

  .accountStatusInner
    position absolute
    top 0
    left 0
    height 360px
    width 360px
    background rgba(255, 255, 255, 0)
    transition standard

  .accountStatusIndicatorLocked
    // background ghostD
    color outerspace08

  .accountStatusClose
    position absolute
    top 0
    right 0
    height 50px
    width 50px
    display flex
    justify-content center
    align-items center
    color outerspace08
    font-size 20px
    // background blue

  .accountStatusTitle
    position absolute
    top 0
    right 50px
    height 50px
    left 50px
    display flex
    justify-content center
    align-items center
    color outerspace08

.accountStatusOpen
  height 362px
  width 362px

  .accountStatusInner
    background highlightest

.signerUnlockRequest
  position absolute
  top 50px
  right 0
  left 8
  display flex
  align-items center
  flex-direction column
  justify-content flex-end
  transform translateY(0px)
  height 3px
  transition standard
  font-size 12px
  font-weight 400
  text-transform uppercase
  letter-spacing 3px
  height 110px

  .signerUnlockWrap
    display flex
    align-items center
    flex-direction column
    transform translateY(0px)
    min-height 100px
    height 0
    width 100%
    transition standard
    padding-bottom 10px

  .signerUnlockInput
    height 40px
    width calc(100% - 30px)
    margin 20px 0px 0px 0px
    padding-bottom 0px
    border 0
    outline 0
    background spacewhite
    font-size 20px
    letter-spacing 6px
    display flex
    justify-content center
    align-items center
    text-align center
    border-radius 4px
    color outerspace08
    box-shadow cardDrop, 0px 2px 0px thick, 0px 8px 8px -2px thick, 0px 0px 10px -2px thick

  .signerUnlockSubmit
    height 30px
    background outerspace
    font-size 12px
    margin 10px 0px 0px 0px
    padding 0px 40px 0px 44px
    border-radius 15px
    display flex
    justify-content center
    align-items center
    color spacewhite
    font-weight 600
    box-shadow cardDrop,0px 2px 0px thick, 0px 8px 8px -2px thick, 0px 0px 10px -2px thick
