._txMain
  position relative
  width calc(100% - 12px)
  z-index 100001
  background var(--ghostA)
  margin 6px
  border-radius 8px
  padding 12px 0px 16px 0px
  
  ._txMainInner
    ._txMainValues
      font-size 17px
      font-weight 400
      display flex
      justify-content center
      align-items center
      border-radius 8px
      display flex
      justify-content center
      align-items center
      -webkit-app-region no-drag
      transition none
      pointer-events auto
      transform translate3d(0, 0, 0)
      font-family 'Exo2'

      svg
        position relative
        top -0px
        padding 0px 3px 0px 4px

      ._txMainValue
        border-radius 8px
        font-size 20px
        font-weight 200
        display flex
        justify-content center
        align-items center

        ._txMainValueSymbol
          padding 0px 0px 0px 10px
          font-size 13px
          font-weight 600

        ._txMainValueAmount
          padding 0px 5px 0px 5px

        ._txMainValueEq
          padding 0px 10px 0px 6px
          font-size 15px

        ._txMainValueEqSymbol
          padding 2px 2px 0px 0px
          font-size 12px

        ._txMainValueEqAmount
          padding 0px 0px 0px 0px
          font-size 14px
