._txMain
  position relative
  width calc(100% - 12px)
  z-index 100000
  background var(--ghostA)
  margin 6px
  border-radius 10px
  
  ._txMainInner
    ._txMainValues
      border-radius 12px
      font-size 17px
      font-weight 400
      display flex
      justify-content center
      align-items center
      height 42px
      border-radius 12px
      display flex
      justify-content center
      align-items center
      -webkit-app-region no-drag
      transition none
      pointer-events auto
      transform translate3d(0, 0, 0)
      font-family 'Exo2' // FiraCode, monospace
      padding-bottom 8px


      ._txMainValue
        border-radius 8px
        font-size 20px
        font-weight 200
        display flex
        justify-content center
        align-items center

        ._txMainValueSymbol
          padding 0px 0px 0px 10px
          font-size 13px
          font-weight 600

        ._txMainValueAmount
          padding 2px 5px 0px 5px

        ._txMainValueEq
          padding 0px 4px 0px 8px
          font-size 15px

        ._txMainValueEqSymbol
          padding 2px 4px 0px 0px
          font-size 12px

        ._txMainValueEqAmount
          padding 2px 0px 0px 0px
          font-size 14px
