html, body
  margin 0
  border 0
  font-family OpenSans, sans-serif
  font-weight 300
  -webkit-app-region no-drag
  overflow hidden
  color var(--outerspace)
  background var(--ghostY)

div
  user-select none
  cursor default

::-webkit-scrollbar
  width 0px
  background transparent


.dash
  width 100%
  height 100%
  overflow-y scroll
  overflow-x hidden
  background var(--ghostZ)

  .addAccounts
    position absolute
    top 0px
    left 0
    right 0
    bottom 0
    background var(--ghostZ)
    z-index 4000
    overflow-y scroll
    overflow-x hidden
    padding-bottom 60px

    .addAccountsHeader
      .addAccountsHeaderTitle
        margin-top 80px
        margin-bottom 40px
        font-size 13px
        font-weight 400
        height 50px
        display flex
        justify-content center
        align-items center

      .addAccountsHeaderClose
        position absolute
        top 18px
        right 10px
        border-radius 8px
        cursor pointer
        background var(--ghostB)
        width 90px
        height 30px
        display flex
        justify-content center
        align-items center
        text-transform uppercase
        font-size 11px
        letter-spacing 1px
        font-weight 600
        padding-bottom 1px
        padding-left 1px

        *
          pointer-events none

      .addAccountsHeaderClose:hover
        background var(--ghostC)

    .accountTypeSelect
      height 70px
      width 320px
      font-weight 300
      background var(--ghostC)
      border-radius 16px
      margin 20px
      display flex
      justify-content center
      align-items center
      cursor pointer
      background var(--ghostA)
      border-bottom 2px solid var(--ghostZ)
      box-shadow 0px 8px 8px -4px var(--ghostY)
      font-size 17px

    .accountTypeSelect:hover
      transform translateY(-1px)
      color var(--good)
      animation 5s shake ease-in-out infinite alternate

    .accountTypeSelect:active
      color var(--good)
      transform translateY(2px)
      animation shake-little 2s ease-in-out infinite
      box-shadow 0px 2px 12px 0px var(--ghostY)

  .newAccount
    height 60px
    position relative
    background var(--ghostA)
    border-radius 16px
    display flex
    justify-content center
    align-items center
    margin 16px 14px 64px 14px
    cursor pointer
    font-size 19px
    border-bottom 2px solid var(--ghostZ)
    box-shadow 0px 8px 8px -4px var(--ghostY)
    padding-top 0px
    padding-left 30px
    padding-bottom 1px
    box-sizing border-box
    letter-spacing 1px
    color var(--outerspace)
    font-family 'Exo2', OpenSans, sans-serif
    font-weight 400
    transform rotate(0.0001deg)

    .newAccountIcon
      position absolute
      top 0
      left 0
      bottom 5px
      width 64px
      font-size 34px
      display flex
      justify-content center
      align-items center
      font-weight 200
    
  .newAccount:hover
    transform translateY(-1px)
    color var(--good)
    animation 5s shake ease-in-out infinite alternate

  .newAccount:active
    color var(--good)
    transform translateY(2px)
    animation shake-little 2s ease-in-out infinite
    box-shadow 0px 2px 12px 0px var(--ghostY)

  .signers
    width 100%

    // .signersTop
    //   position absolute
    //   top 0
    //   right 0
    //   left 0
    //   background var(--ghostA)
    //   height 40px
    //   display none

    // .signersMid
      // position absolute
      // top 0px
      // right 0
      // left 0
      // bottom 0px
      // overflow-x hidden
      // overflow-y scroll
      // padding 4px
      
    .signersHeader
      width calc(100% - 32px)
      display flex
      justify-content center
      align-items center
      position relative
      height 32px
      // border-radius 8px
      margin 0px 16px 12px 16px
      box-sizing border-box
      font-size 12px
      text-transform uppercase
      letter-spacing 1px
      font-weight 400


    .noSigners
      position relative
      width 100%
      height 48px
      overflow hidden
      background var(--ghostA)
      box-sizing border-box
      margin 0px 5px 40px 5px
      border-radius 16px
      display flex
      justify-content center
      align-items center
      font-size 11px
      font-weight 400
      letter-spacing 2px
      text-transform uppercase

    .signersList
      display flex
      flex-wrap wrap
      padding 0px 10px 0px 10px

  // .bar
  //   background var(--ghostE)
  //   position relative
  //   height 60px
  //   width calc(100% - 40px)
  //   margin 20px 20px 0px 20px
  //   box-size border-box
  //   border-radius 8px
  //   // box-shadow 0px 9px 10px rgba(24, 24, 124, 0.1)

  //   input 
  //     position absolute
  //     top 0 
  //     right 0
  //     bottom 0
  //     left 0
  //     width 100%
  //     height 100%
  //     outline none
  //     border none 
  //     background transparent
  //     padding 0px 20px
  //     font-family Raleway, sans-serif
  //     color var(--outerspace08)
  //     font-size 28px
    
  // .dappWrap
  //   padding 0px 10px 10px 0px
  //   display flex
  //   flex-wrap wrap
  //   margin 0px 0px 100px 0px

  //   .dapp
  //     width 80px
  //     height 110px 
  //     min-width 80px
  //     min-height 110px
  //     margin 20px 0px 0px 20px

  //     .dappIcon
  //       width 80px
  //       height 80px 
  //       min-width 80px
  //       min-height 80px 
  //       background var(--ghostD)
  //       border-radius 12px
  //       cursor pointer

  //     .dappName
  //       width 80px
  //       height 30px 
  //       min-width 80px
  //       min-height 30px 
  //       display flex
  //       justify-content center
  //       align-items center
  //       cursor pointer
  //       font-size 14px

// #flow
//   position absolute
//   top 20px
//   right 20px
//   bottom 20px
//   left 20px
//   border-radius 16px
//   background white
//   box-shadow 0px 9px 10px rgba(24, 24, 124, 0.1)

//   .bar
//     background rgba(238, 242, 248, 1)
//     position absolute 
//     height 60px
//     width 700px
//     top 50%
//     left 50%
//     margin-top -30px
//     margin-left -350px
//     border-radius 8px
//     box-shadow 0px 9px 10px rgba(24, 24, 124, 0.1)

//     input 
//       position absolute
//       top 0 
//       right 0
//       bottom 0
//       left 0
//       width 100%
//       height 100%
//       outline none
//       border none 
//       background transparent
//       padding 0px 20px
//       font-family Raleway, sans-serif
//       color var(--outerspace08)
//       font-size 28px
    




  // background rgba(228, 232, 248, 1)
  // margin 0px
  // border-radius 12px
  // box-shadow 0px 1px 5px 1px rgba(33, 45, 46, 0.1), 0px 0px 0px 1px rgba(110, 120, 140, 0.2)
  // overflow hidden

//   #bar
//     right 360px

//   #bot
//     left 5px
//     right 360px

//   #drop
//     left 5px
//     bottom 5px
//     right 360px
//     border-radius 3px

//   #views
//     right 360px
//     bottom 5px
//     left 5px
//     border-bottom-right-radius 3px
//     border-bottom-left-radius 3px

//     .screen
//       z-index 20000

// .session
//   position fixed
//   top 0px
//   right 15px
//   height 37px
//   font-weight 400
//   border-bottom-left-radius 4px
//   display flex
//   justify-content center
//   align-items center
//   user-select none
//   cursor default
//   font-size 14px
//   transition var(--standard)
//   z-index 1000

// .hidden
//   visibility hidden

@import './App/Add/style'
@import './App/Signer/style'
// @import './App/Components/'
