._txMain
  position absolute
  top 78px
  left 5px
  right 5px
  height 60px
  z-index 100000
  box-shadow 0px 0px 0px var(--ghostZ)
  border-radius 8px
  background var(--ghostC)

  ._txMainLabel
    position absolute 
    top 0
    left 0
    bottom 0
    font-weight 600
    padding 0px 15px
    font-size 11px
    text-transform uppercase
    display flex
    justify-content center
    align-items center

  ._txMainValues
    position absolute
    padding-top 6px 
    top 0px
    left 80px
    bottom 0px
    right 0
    display flex
    justify-content center
    align-items center
    flex-direction column
    background var(--ghostD)
    border-radius 8px

    ._txMainValue
      height 30px
      display flex
      justify-content center
      align-items center
      border-radius 8px
      font-family FiraCode
      font-size 20px
      margin-bottom 5px
      font-weight 200

      ._txMainValueSymbol
        padding 4px 0px 0px 10px
        font-size 14px

      ._txMainValueAmount
        padding 2px 5px 0px 5px

      ._txMainValueEq
        padding 2px 5px 0px 0px
        font-size 15px

      ._txMainValueEqSymbol
        padding 2px 2px 0px 0px
        font-size 12px

      ._txMainValueEqAmount
        padding 2px 15px 0px 0px
        font-size 14px
