._txMain
  position absolute
  top 75px
  left 5px
  right 5px
  height 90px
  z-index 100000
  box-shadow 0px 0px 0px var(--ghostZ)
  border-radius 8px
  // border-bottom-left-radius 3px
  // border-bottom-right-radius 3px
  // border-top-left-radius 8px
  // border-top-right-radius 8px
  background var(--ghostC)

  ._txMainLabel
    position absolute 
    top 0
    left 0
    font-weight 600
    padding 8px 0px 0px 10px
    font-size 11px
    text-transform uppercase

  ._txMainValues
    position absolute 
    top 20px
    left 0px
    bottom 12px
    right 0
    display flex
    justify-content center
    align-items center
    flex-direction column

    ._txMainValue
      height 30px
      // background var(--ghostD)
      // color var(--goodOver)
      display flex
      justify-content center
      align-items center
      // padding 0px 8px
      border-radius 8px
      font-family FiraCode
      font-size 20px
      margin-bottom 5px
      font-weight 200
      // box-shadow 0px 9px 5px -9px var(--ghostA)

      ._txMainValueSymbol
        padding 2px 0px 0px 15px
        font-size 14px

      ._txMainValueAmount
        padding 2px 12px 0px 12px

      ._txMainValueEq
        padding 2px 12px 0px 0px
        font-size 15px

      ._txMainValueEqSymbol
        padding 2px 2px 0px 0px
        font-size 12px

      ._txMainValueEqAmount
        padding 2px 15px 0px 0px
        font-size 14px
